<!DOCTYPE html>
<script src="../il-nav.component.js" type="module"></script>
<script src="../../il-nav-section/il-nav-section.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-nav data-testid="nav">
  <ul>
    <li><a href="/home">Home</a></li>
    <li>
      <il-nav-section>
        <a slot="link" href="/about-us">About Us</a>
        <ul>
          <li><a href="/mission-vision">Mission &amp; Vision</a></li>
          <li><a href="/history">Our History</a></li>
          <li><a href="/campus">Our Campus</a></li>
          <li><a href="/values">Our Values</a></li>
          <li><a href="/strategic-plan">Strategic Plan</a></li>
          <li><a href="/board-of-trustees">Board of Trustees </a></li>
          <li><a href="/accreditation">Accreditation</a></li>
          <li><a href="/contact-us">Contact Us</a></li>
          <li><a href="/academic-advising">Academic Advising</a></li>
          <li><a href="/faculty-directory">Faculty Directory</a></li>
          <li><a href="/news-events">News &amp; Events</a></li>
        </ul>
      </il-nav-section>
    </li>
    <li>
      <il-nav-section>
        <span slot="label">Admissions</span>
        <ul>
          <li><a href="/apply-now">Apply Now</a></li>
          <li><a href="/fees-financial-aid">Fees &amp; Financial Aid</a></li>
          <li><a href="/international-admissions">International Admissions</a></li>
          <li><a href="/visiting-campus">Visiting Campus</a></li>
        </ul>
      </il-nav-section>
    </li>
    <li>
      <il-nav-section>
        <a slot="link" href="/degree-programs">Degree Programs</a>
        <ul>
          <li>
            <il-nav-section>
              <a slot="link" href="/graduate-studies">Graduate Studies</a>
              <ul>
                <li><a href="/degree-programs">Degree Programs</a></li>
                <li><a href="/online-learning">Online Learning</a></li>
                <li><a href="/admission">Admissions</a></li>
                <li><a href="/financial-aid">Graduate Financial Aid</a></li>
                <li><a href="/professional-development">Professional Development Opportunities</a></li>
                <li><a href="/research-experiential-learning">Research &amp; Experiential Learning</a>
                </li>
                <li><a href="/student-support-services">Student Support Services</a></li>
                <li><a href="/studying-abroad">Opportunities for Studying Abroad</a></li>
              </ul>
            </il-nav-section>
          </li>
          <li>
            <il-nav-section>
              <a slot="link" href="/undergraduate-studies">Undergraduate Studies</a>
              <ul>
                <li><a href="/degree-programs">Degree Programs</a></li>
                <li><a href="/online-learning">Online Learning</a></li>
                <li><a href="/admission">Admissions</a></li>
                <li><a href="/financial-aid">Financial Aid</a></li>
                <li><a href="/professional-development">Professional Development Opportunities</a></li>
                <li><a href="/research-experiential-learning">Research &amp; Experiential Learning</a>
                </li>
                <li><a href="/student-support-services">Student Support Services</a></li>
                <li><a href="/studying-abroad">Opportunities for Studying Abroad</a></li>
              </ul>
            </il-nav-section>
          </li>
        </ul>
      </il-nav-section>
    </li>
    <li>
      <il-nav-section data-il-nav-size="expanded">
        <a slot="link" href="/student-life">Student Life</a>
        <ul>
          <li><a href="/housing-dining">Housing & Dining</a></li>
          <li><a href="/student-activities">Student Activities</a></li>
          <li><a href="/athletics-recreation">Athletics &amp; Recreation</a></li>
          <li>
            <il-nav-section data-il-nav-size="expanded" data-il-nav-current="true">
              <a slot="link" href="/student-services">Student Services</a>
              <ul>
                <li><a href="/student-organizations">Student Organizations</a></li>
                <li><a href="/academic-support-resources">Academic Support Resources</a></li>
                <li><a href="/help-advice">Help &amp; Advice</a></li>
                <li><a href="/community-engagement">Community Engagement</a></li>
                <li><a href="/leadership-opportunities">Leadership Opportunities</a></li>
              </ul>
            </il-nav-section>
          </li>
          <li><a href="/health-wellness">Health &amp; Wellness</a></li>
        </ul>
      </il-nav-section>
    </li>
    <li>
      <il-nav-section>
        <a slot="link" href="/resources">Resources</a>
        <ul>
          <li><a href="/library">Library</a></li>
          <li><a href="/camups-maps">Campus Maps</a></li>
          <li>
            <il-nav-section>
              <span slot="label">Technology</span>
              <ul>
                <li><a href="/computing">Computing</a></li>
                <li><a href="/software">Software</a></li>
                <li><a href="/networking-technical-support">Networking &amp; Technical Support</a></li>
              </ul>
            </il-nav-section>
          </li>
          <li><a href="/career-services">Career Services</a></li>
          <li><a href="/alumni-network">Alumni Network</a></li>
        </ul>
      </il-nav-section>
    </li>
  </ul>
</il-nav>
