<!DOCTYPE html>
<script src="../il-nav.component.js" type="module"></script>
<script src="../../il-nav-section/il-nav-section.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<style>
  il-nav.il-nav-sidebar {
    max-width: 30em;
  }
</style>

<il-nav class="il-nav-sidebar">
    <il-nav-section>
        <a slot="link" href="/about-us">About Us</a>
        <ul>
            <li><a href="/mission-vision">Mission &amp; Vision</a></li>
            <li><a href="/history">Our History</a></li>
            <li>
                <il-nav-section>
                    <span slot="label">Admissions</span>
                    <ul>
                        <li><a href="/apply-now">Apply Now</a></li>
                        <li><a href="/fees-financial-aid">Fees &amp; Financial Aid</a></li>
                        <li><a href="/international-admissions">International Admissions</a></li>
                        <li><a href="/visiting-campus">Visiting Campus</a></li>
                    </ul>
                </il-nav-section>
            </li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li>
                <il-nav-section>
                    <a slot="link" href="/resources">Resources</a>
                    <ul>
                        <li><a href="/library">Library</a></li>
                        <li><a href="/camups-maps">Campus Maps</a></li>
                        <li>
                            <il-nav-section>
                                <span slot="label">Technology</span>
                                <ul>
                                    <li><a href="/computing">Computing</a></li>
                                    <li><a href="/software">Software</a></li>
                                    <li><a href="/networking-technical-support">Networking &amp; Technical Support</a></li>
                                </ul>
                            </il-nav-section>
                        </li>
                        <li><a href="/career-services">Career Services</a></li>
                        <li><a href="/alumni-network">Alumni Network</a></li>
                    </ul>
                </il-nav-section>
            </li>
        </ul>
    </il-nav-section>
</il-nav>