
<ul>
    <li>
        <a href="#">Home</a>
        <ul>
            <li>
                <a href="#">About Us</a>
                <a href="#">Contact Us</a>
                <a href="#">Academic Advising</a>
                <a href="#">Faculty Directory</a>
                <a href="#">News & Events</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Admissions</a>
        <ul>
            <li>
                <a href="#">Apply Now</a>
                <a href="#">Fees & Financial Aid</a>
                <a href="#">International Admissions</a>
                <a href="#">Visiting Campus</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Degree Programs</a>
        <ul>
            <li>
                <a href="#">Graduate Studies</a>
                <a href="#">Undergraduate Studies</a>
                <a href="#">Academic Requirements</a>
                <a href="#">Certificate Programs</a>
                <a href="#"></a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Student Life</a>
        <ul>
            <li>
                <a href="#">Housing & Dining</a>
                <a href="#">Student Activities</a>
                <a href="#">Athletics & Recreation</a>
                <a href="#">Student Services</a>
                <a href="#">Health & Wellness</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Resources</a>
        <ul>
            <li>
                <a href="#">Library</a>
                <a href="#">Campus Maps</a>
                <a href="#">Technology</a>
                <a href="#">Career Services</a>
                <a href="#">Alumni Network</a>
            </li>
        </ul>
    </li>
</ul>