<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Campus wordmark</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link rel="stylesheet" href="/dist/toolkit.css">
        <link rel="stylesheet" href="identity.css">
        <script src="/dist/toolkit.js"></script>
    </head>
    <body>
        <main>
            <samp class="wordmark wordmark--small">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--medium">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--large">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--small-height">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--medium-height">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--large-height">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--tall-fixed">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--square-fixed">
                <il-wordmark></il-wordmark>
            </samp>
            <samp class="wordmark wordmark--wide-fixed">
                <il-wordmark></il-wordmark>
            </samp>
        </main>
    </body>
</html>
