@font-face {
  font-family: 'Illinois Icons Solid';
  src:  url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-solid.eot') format('embedded-opentype'),
    url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-solid.ttf') format('truetype'),
    url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-solid.woff') format('woff'),
    url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-solid.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Illinois Icons Line';
  src:  url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-line.eot') format('embedded-opentype'),
    url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-line.ttf') format('truetype'),
    url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-line.woff') format('woff'),
    url('https://cdn.brand.illinois.edu/fonts/il-icons/il-icons-line.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
