@font-face {
  font-family: 'Source Serif';
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 200;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200-italic.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200-italic.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200-italic.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-200-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300-italic.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300-italic.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300-italic.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-300-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400-italic.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400-italic.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400-italic.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-400-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600-italic.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600-italic.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600-italic.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-600-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700-italic.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700-italic.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700-italic.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-700-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif';
  font-weight: 900;
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900-italic.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900-italic.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900-italic.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-900-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif Variable';
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var.ttf') format('truetype');
}

@font-face {
  font-family: 'Source Serif Variable';
  font-style: italic;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var-italic.woff2') format('woff2'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var-italic.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var-italic.otf') format('opentype'),
  url('https://cdn.brand.illinois.edu/fonts/source-serif/source-serif-var-italic.ttf') format('truetype');
}
