@font-face {
  font-family: 'Fjalla One';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
  src: url('https://cdn.brand.illinois.edu/fonts/fjalla-one/fjalla-one-400.ttf') format('truetype');
}
