@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-300-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-400-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-600-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-700-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-800-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-300.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 300;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-300-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-400.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 400;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-400-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-600.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 600;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-600-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-700.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-700-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-800.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Condensed';
  font-weight: 800;
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-condensed-800-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Variable';
  font-style: normal;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-var.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans Variable';
  font-style: italic;
  font-stretch: normal;
  src: url('https://cdn.brand.illinois.edu/fonts/open-sans/open-sans-var-italic.ttf') format('truetype');
}

