---
title: "Page title, themes"
group: "Components: Page title"
layout: layouts/page.njk
---

<p>Blue</p>

<il-page-title class="il-theme-blue">
  <img slot="background" src="{{ "/_assets/images/hero-bg.jpg"|url  }}" alt="">
  <h1>The title of the page</h1>
</il-page-title>

<p>Orange</p>

<il-page-title class="il-theme-orange">
  <img slot="background" src="{{ "/_assets/images/hero-bg.jpg"|url  }}" alt="">
  <h1>The title of the page</h1>
</il-page-title>

<p>White</p>

<il-page-title class="il-theme-white">
  <img slot="background" src="{{ "/_assets/images/hero-bg.jpg"|url  }}" alt="">
  <h1>The title of the page</h1>
</il-page-title>
