---
title: Footer
layout: layouts/test.njk
---
<il-footer>

    <p slot="parent-unit">
        <a href="https://illinois.edu/">Granger College of Engineering</a>
    </p>

    <nav slot="social" class="il-footer-social">
        <h2 class="il-invisible">Social media</h2>
        <ul>
            <li><a href="https://www.facebook.com/illinois.edu">Facebook</a></li>
            <li><a href="https://www.instagram.com/illinois1867">Instagram</a></li>
            <li><a href="https://www.linkedin.com/edu/school?id=18321">LinkedIn</a></li>
            <li><a href="https://www.pinterest.com/illinoisalma/">Pinterest</a></li>
            <li><a href="http://illinois.edu/lb/rss/19/text.xml">RSS</a></li>
            <li><a href="https://www.snapchat.com/add/uofillinois">Snapchat</a></li>
            <li><a href="https://twitter.com/Illinois_Alma">Twitter</a></li>
            <li><a href="https://weibo.com/uiuc2012">Weibo</a></li>
            <li><a href="https://www.whatsapp.com/">Whatsapp</a></li>
            <li><a href="https://www.youtube.com/user/Illinois1867">YouTube</a></li>
        </ul>
    </nav>

    <div slot="contact" class="il-footer-contact">
        <p><a href="/index.html">Office of Undergraduate Admissions</a></p>
        <p>901 W Illinois Street, Urbana, IL 61801</p>

        <dl>
            <dt>Office Hours</dt>
            <dd>8:30am to 5:00pm, Monday-Friday (closed on all campus holidays)</dd>

            <dt>Phone</dt>
            <dd><a href="tel:+12173330302">217-333-0302</a></dd>

            <dt>Email</dt>
            <dd><a href="mailto:admissions@illinois.edu">admissions@illinois.edu</a></dd>

            <dt>Fax</dt>
            <dd><a href="tel:+12172444614">217-244-4614</a></dd>
        </dl>
    </div>

    <div class="il-footer-navigation">
        <nav>
            <h2>Title Here</h2>
            <ul>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
            </ul>
        </nav>
        <nav>
            <h2>Title Here</h2>
            <ul>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
            </ul>
        </nav>
        <nav>
            <h2>Title Here</h2>
            <ul>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
                <li><a href="/index.html">This is a link</a></li>
            </ul>
        </nav>
        <nav class="il-actions">
            <h2 class="il-invisible">Actions</h2>
            <ul>
                <li><a href="/index.html">Apply Now</a></li>
                <li><a href="/index.html">Contact Us</a></li>
                <li><a href="/index.html">Get Directions</a></li>
                <li><a href="/index.html">Donate Now</a></li>
            </ul>
        </nav>
    </div>

    <nav slot="links" class="il-footer-links">
        <h2 class="il-invisible">Additional links</h2>
        <ul>
            <li><a href="#">Privacy</a></li>
            <li><a href="#">College Bylaws</a></li>
            <li><a href="#">Accreditation</a></li>
            <li><a href="#">Login</a></li>
            <li><a href="#">Copyright</a></li>
            <li><a href="#">Accessibility</a></li>
        </ul>
    </nav>

</il-footer>
