---
title: Footer
layout: layouts/test.njk
---
    <il-footer>
        <div slot="contact">
            <p class="il-unit-name"><a href="#">College of Liberal Arts &amp; Sciences</a></p>
        </div>
    </il-footer>
