---
title: Footer
layout: layouts/test.njk
---
<!-- OneTrust Cookies Consent Notice start, illinois.edu -->
<script src="https://onetrust.techservices.illinois.edu/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="26be7d61-2017-4ea7-8a8b-8f1704889763"></script>
<script type="text/javascript">
    function OptanonWrapper() {
    }
</script>
<!-- OneTrust Cookies Consent Notice end, illinois.edu -->
<il-footer>

    <div slot="links">
        <!-- OneTrust Cookies Settings button start -->
        <a class="optanon-show-settings il-cookie-settings">Cookie Settings</a>
        <!-- OneTrust Cookies Settings button end -->

        <a href="#">Privacy</a>
        <a href="#">College Bylaws</a>
        <a href="#">Accreditation</a>
        <a href="#">Login</a>
        <a href="#">Copyright</a>
        <a href="#">Accessibility</a>
    </div>

</il-footer>
