il-content.il-introduction {
  --il-content--font-size: 1.375rem;

  & > * > b:first-child:last-child,
  & > * > i:first-child:last-child {
    font-style: italic;
    font-size: 1.6em;
    font-weight: 400;
  }

  a.il-button {
    --il-content--button--font-size: .86em;
  }
}
