.il-theme-altgeld {
  --il-background-color: var(--il-altgeld);
  --il-text-color: black;
  --il-heading-color: white;
  --il-link-color: black;
  --il-focused-link-color: var(--il-blue);
  --il-visited-link-color: black;
}
