.il-theme-altgeld {
  --il-theme-background: var(--il-altgeld);
  --il-theme-text-color: white;
  --il-theme-heading-color: white;
  --il-theme-alt-heading-color: white;
  --il-theme-link-color: white;
  --il-theme-focused-link-color: black;
  --il-theme-visited-link-color: white;
}
