.il-theme-blue {
  --il-theme-background: var(--il-blue);
  --il-theme-text-color: white;
  --il-theme-heading-color: white;
  --il-theme-alt-heading-color: var(--il-orange);
  --il-theme-link-color: white;
  --il-theme-focused-link-color: var(--il-orange);
  --il-theme-visited-link-color: var(--il-industrial-blue-2);
}
