.il-theme-gray {
  --il-theme-background: var(--il-gray-1);
  --il-theme-text-color: #252525;
  --il-theme-alt-heading-color: var(--il-altgeld);
  --il-theme-link-color: var(--il-alma-mater);
  --il-theme-focused-link-color: var(--il-industrial-blue);
  --il-theme-visited-link-color: var(--il-alma-mater-1);
}
