.il-theme-gray {
  --il-background-color: var(--il-gray-1);
  --il-text-color: #252525;
  --il-heading-color: var(--il-blue);
  --il-link-color: var(--il-industrial-blue);
  --il-focused-link-color: var(--il-altgeld);
  --il-visited-link-color: var(--il-blue);

  --il-panel-background-color: var(--il-gray-1);
  --il-panel-foreground-color: var(--il-blue);
  --il-panel-text-color: var(--il-blue);
  --il-panel-title-color: var(--il-blue);
  --il-panel-border: 2px solid var(--il-blue);
  --il-panel-link-focused-color: var(--il-altgeld);
  --il-selected-panel-background-color: var(--il-orange);
  --il-selected-panel-foreground-color: var(--il-gray-1);
  --il-focused-panel-background-color: var(--il-blue);
  --il-focused-panel-foreground-color: white;
  --il-panel-button-background-color: var(--il-button-background-color);
  --il-panel-button-foreground-color: var(--il-button-foreground-color);
  --il-panel-button-border-color: var(--il-button-border-color);
  --il-focused-panel-button-background-color: var(--il-focused-button-background-color);
  --il-focused-panel-button-foreground-color: var(--il-focused-button-foreground-color);
  --il-focused-panel-button-border-color: var(--il-focused-button-border-color);
}
