.il-theme-industrial-blue {
  --il-theme-background: var(--il-industrial-blue);
  --il-theme-text-color: white;
  --il-theme-heading-color: white;
  --il-theme-alt-heading-color: white;
  --il-theme-link-color: white;
  --il-theme-focused-link-color: var(--il-industrial-blue-2);
  --il-theme-visited-link-color: white;
}
