.il-theme-industrial-blue {
  --il-background-color: var(--il-industrial-blue);
  --il-text-color: white;
  --il-heading-color: white;
  --il-link-color: white;
  --il-focused-link-color: var(--il-orange-lighter-4);
  --il-visited-link-color: var(--il-arches-2);
  --il-button-background-color: var(--il-industrial-blue);
  --il-button-foreground-color: white;
  --il-button-border-color: white;
  --il-focused-button-background-color: white;
  --il-focused-button-foreground-color: var(--il-industrial-blue);
  --il-focused-button-border-color: white;
}
