.il-theme-orange {
  --il-theme-background: var(--il-orange);
  --il-theme-text-color: #252525;
  --il-theme-link-color: white;
  --il-theme-focused-link-color: var(--il-blue);
  --il-theme-visited-link-color: white;
}
