.il-theme-orange-gradient {
  @extend .il-theme-orange;
  --il-theme-background: var(--il-gradient-orange);
  --il-theme-text-color: black;
  --il-theme-heading-color: black;
  --il-theme-alt-heading-color: black;
}
