.il-theme-white {
  --il-background-color: white;
  --il-text-color: #252525;
  --il-heading-color: var(--il-blue);
  --il-link-color: var(--il-industrial);
  --il-focused-link-color: var(--il-altgeld);
  --il-visited-link-color: var(--il-industrial-dark);
  --il-button-background-color: white;
  --il-button-foreground-color: var(--il-blue);
  --il-button-border-color: var(--il-blue);
  --il-focused-button-background-color: var(--il-blue);
  --il-focused-button-foreground-color: white;
  --il-focused-button-border-color: var(--il-blue);
}
