---
title: Navigation
layout: layouts/test.njk
---
<il-nav>
    <il-nav-section label="About" href="#">
        <il-nav-link href="#">Overview of ACES</il-nav-link>
        <il-nav-link href="#">Programs of Study</il-nav-link>
        <il-nav-link href="#">Diversity</il-nav-link>
        <il-nav-link href="#">Contact Us</il-nav-link>
        <il-nav-link href="#">Visit</il-nav-link>
    </il-nav-section>
    <il-nav-section label="Academics" href="#">
        <il-nav-link href="#">Programs of Study</il-nav-link>
        <il-nav-link href="#">Future Students</il-nav-link>
        <il-nav-link href="#">Admissions</il-nav-link>
        <il-nav-link href="#">Student Life</il-nav-link>
        <il-nav-link href="#">Current Students</il-nav-link>
        <il-nav-link href="#">Study Abroad</il-nav-link>
        <il-nav-link href="#">Career Services</il-nav-link>
        <il-nav-link href="#">Student Diversity and Inclusion</il-nav-link>
        <il-nav-link href="#">Contact Us</il-nav-link>
        <il-nav-link href="#">Staff</il-nav-link>
    </il-nav-section>
    <il-nav-section label="Research" href="#">
        <il-nav-link href="#">Research Areas</il-nav-link>
        <il-nav-link href="#">Research History</il-nav-link>
        <il-nav-link href="#">Facilities</il-nav-link>
        <il-nav-link href="#">Resources</il-nav-link>
        <il-nav-link href="#">Safety and Compliance</il-nav-link>
        <il-nav-link href="#">Civil Rights</il-nav-link>
        <il-nav-link href="#">Staff</il-nav-link>
    </il-nav-section>
    <il-nav-section label="Extension" href="#">
        <il-nav-link href="#">About</il-nav-link>
        <il-nav-link href="#">Staff</il-nav-link>
        <il-nav-link href="#">Programs</il-nav-link>
    </il-nav-section>
    <il-nav-section label="International" href="#">
        <il-nav-link href="#">About</il-nav-link>
        <il-nav-link href="#">International Engagements</il-nav-link>
        <il-nav-link href="#">Resources</il-nav-link>
        <il-nav-link href="#">Newsletter &amp; Publications</il-nav-link>
        <il-nav-link href="#">Study Abroad</il-nav-link>
        <il-nav-link href="#">Contact Us</il-nav-link>
        <il-nav-link href="#">Events</il-nav-link>
        <il-nav-link href="#">Staff</il-nav-link>
    </il-nav-section>
    <il-nav-section label="News" href="#">
        <il-nav-link href="#">Events</il-nav-link>
        <il-nav-link href="#">#askACES Podcast</il-nav-link>
        <il-nav-link href="#">Voices of ACES Blog</il-nav-link>
        <il-nav-link href="#">Subscribe</il-nav-link>
        <il-nav-link href="#">ACES Seminars</il-nav-link>
        <il-nav-link href="#">COVID-19</il-nav-link>
    </il-nav-section>
    <il-nav-section label="People" href="#">
        <il-nav-link href="#">College Leadership</il-nav-link>
        <il-nav-link href="#">Academic Department Heads</il-nav-link>
        <il-nav-link href="#">Academic Units</il-nav-link>
        <il-nav-link href="#">Administrative Units</il-nav-link>
    </il-nav-section>
    <il-nav-section label="Giving" href="#">
        <il-nav-link href="#">With ACES Priorities</il-nav-link>
        <il-nav-link href="#">Ways to Give</il-nav-link>
        <il-nav-link href="#">Give Now</il-nav-link>
        <il-nav-link href="#">Alumni Association</il-nav-link>
        <il-nav-link href="#">Student Committee</il-nav-link>
        <il-nav-link href="#">4-H Foundation</il-nav-link>
    </il-nav-section>
</il-nav>