<!DOCTYPE html>
<script src="../accordion.component.js" type="module"></script>
<script src="../panel.component.js" type="module"></script>

<div class="il-accordion il-details-solid"> <!-- also il-details-bordered -->
    <details open="">
        <summary>
            Choose a Program and Specialization (this starts open)
        </summary>
        <table>
            <tbody>
            <tr>
                <td><strong>Fall Course &amp; Hours</strong></td>
                <td>&nbsp;</td>
                <td><strong>Spring Course &amp; Hours</strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>ACCY 201<sup>*</sup></td>
                <td>3</td>
                <td>ACE 300<sup>*</sup></td>
                <td>3</td>
            </tr>
            <tr>
                <td>ACE 262<sup>**</sup></td>
                <td>3</td>
                <td>ACE 264**</td>
                <td>3</td>
            </tr>
            <tr>
                <td>ACE 240<sup>*</sup></td>
                <td>3</td>
                <td>Cultural Studies</td>
                <td>3</td>
            </tr>
            <tr>
                <td>ACE 341 CFP</td>
                <td>1</td>
                <td>Humanities</td>
                <td>3</td>
            </tr>
            <tr>
                <td>ACE 398 RM&nbsp;<em>or&nbsp;</em>FIN 230</td>
                <td>3</td>
                <td>ACE or ACES Electives</td>
                <td>3</td>
            </tr>
            <tr>
                <td>Soc/Behavioral Sciences</td>
                <td>3</td>
                <td>Soc/Behavioral Sciences</td>
                <td>3</td>
            </tr>
            </tbody>
        </table>
    </details>
    <details>
        <summary>
            Personal Statement
        </summary>
        <p>A statement in which you provide evidence of how your professional experiences and prior academic work have
            focused your thinking toward the planned program of study.&nbsp; A minimum 500 words is required for the
            personal statement.&nbsp; There is no maximum length to the statement, though most are not over 3 pages.</p>
    </details>
    <details>
        <summary>
            Resume/Curriculum Vitae
        </summary>
        <p>This is required of all applicants. &nbsp;For students applying to the Special Education doctoral program,&nbsp;a
            minimum of two years paid full-time professional experience related to special education or the field of
            disability is preferred for consideration for the program.</p>
    </details>
    <details>
        <summary>
            Letters of Reference
        </summary>
        <p>Every applicant is required to submit 3 letters of reference from persons who have direct knowledge of their
            academic and/or professional performance and potential for graduate study.</p>
    </details>
    <details>
        <summary>
            Transcripts
        </summary>
        <p>At the time of application you are only required to upload unofficial copies of your transcripts into the
            application. &nbsp;The unofficial copy can be a screenshot or scanned copy but should not be a photo of the
            transcript. &nbsp;Applicants must have earned at least a degree from an accredited college in the United
            States or a comparable degree from a recognized institution of higher learning abroad.&nbsp; If admitted,
            you will be required to submit official transcripts to the Graduate College.&nbsp;&nbsp;</p>
    </details>
    <details>
        <summary>
            3.0 Minimum GPA
        </summary>
        <p>A grade point average (GPA) of 3.0 on a 4.0 scale (A=4.0), or comparable GPA for an international applicant,
            for last two years of undergraduate study is a minimum requirement for admission.</p>
    </details>
    <details>
        <summary>
            Application Fee
        </summary>
        <p>Once you have submitted your application, you will be required to pay your application fee by credit
            card.</p>
        <ul>q
            <li>The fee must be paid within 3 weeks of submitting your application or your application will be
                unsubmitted.
            </li>
            <li>The fee must also be paid prior to your application deadline</li>
            <li>The fee is non-refundable and your application cannot be reviewed until the application fee has been
                processed.
            </li>
            <li>The application fee amount is determined by your citizenship and/or visa status.
                <ul>
                    <li>Domestic applicants are required to submit a&nbsp;$70.00 application fee.</li>
                    <li>International applicants are required to submit a&nbsp;$90.00 application fee.</li>
                </ul>
            </li>
        </ul>
        <p>There are a variety of application fee waivers available.&nbsp; Please see the <a
                href="http://www.grad.illinois.edu/application-fee" target="_blank">Graduate College's website</a> for
            the waivers accepted by the University of Illinois.&nbsp; </p>
    </details>
</div>
