---
title: Icons
layout: layouts/docs.njk
tests:
- tests/stylesheets/icons/solid-ligatures.njk
- tests/stylesheets/icons/solid-entities.njk
- tests/stylesheets/icons/solid-css.njk
- tests/stylesheets/icons/line-ligatures.njk
- tests/stylesheets/icons/line-entities.njk
- tests/stylesheets/icons/line-css.njk
---

<h1>Icons</h1>