<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../statistic.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/fonts.scss">
<link rel="stylesheet" href="../../../css/colors.scss">

<il-statistic data-testid="statistic" style="max-width: 500px">
    <p>Nation&lsquo;s <em slot="stat">Top Six</em> overall ranking among undergraduate programs in the U.S.</p>
    <cite><a href="https://example.org">U.S. News and World 2022</a></cite>
</il-statistic>

<script>
  const component = document.querySelector("il-statistic");
  const params = new URLSearchParams(window.location.search);
  if (params.has('theme')) {
    component.classList.add(`il-theme-${params.get('theme')}`);
  }
  if (params.has('size')) {
    component.classList.add(`il-size-${params.get('size')}`);
  }
</script>