<!DOCTYPE html>
<script src="./page-title.component.js" type="module"></script>

<il-page-title>
  <img slot="background" src="./test-assets/page-title.jpg" alt="">
  <h1>Page Title</h1>
</il-page-title>

<il-page-title>
  <img slot="background" src="./test-assets/page-title.jpg" alt="">
  <h1>Page Title that is Super Duper Looonnnngggg</h1>
</il-page-title>

<il-page-title>
  <img slot="background" src="./test-assets/page-title.jpg" alt="">
  <h1>Student-led venture Nephra named one of the most disruptive business school startups of 2021 by Poets &amp; Quants</h1>
</il-page-title>
