@layer base {
  :root {
    --il-section-padding-top: 4rem;
    --il-section-padding-bottom: 4rem;
    --il-section-padding-left: var(--il-page-padding-left);
    --il-section-padding-right: var(--il-page-padding-right);
    --il-section-offset-top: -4rem;
    --il-section-offset-bottom: -4rem;
    --il-section-offset-left: var(--il-page-offset-left);
    --il-section-offset-right: var(--il-page-offset-right);
    --il-section-background: white;
    --il-section-alt-background: var(--il-cloud-1);
    --il-section-color--orange: var(--il-orange);
  }
  il-page il-section {
    margin-left: var(--il-page-offset-left);
    margin-right: var(--il-page-offset-right);
  }
  il-section > *:first-child {
    margin-top: 0;
  }
}
@layer components {
  il-section {
    padding-top: var(--il-section-padding-top);
    padding-bottom: var(--il-section-padding-bottom);
    padding-left: var(--il-section-padding-left);
    padding-right: var(--il-section-padding-right);
    background: var(--il-section-background);
  }
  il-section.il-alt {
    background: var(--il-section-alt-background);
  }
}

