@layer component {
  :root {
    --il-image-feature--display: flex;
    --il-image-feature--background: var(--il-blue);
    --il-image-feature--min-height: initial;
    --il-image-feature--max-width: initial;
    --il-image-feature--main--max-width: initial;
    --il-image-feature--main--flex-grow: 1;
    --il-image-feature--image--position: relative;
    --il-image-feature--image--display: flex;
    --il-image-feature--image--width: 50%;
    --il-image-feature--content--padding: 48px 96px;
  }

  il-image-feature {
    display: block;
    position: relative;
    container-type: inline-size;
  }

  il-image-feature.il-image-background {
    --il-image-feature--display: block;
    --il-image-feature--image--width: 100%;
    --il-image-feature--image--position: initial;
    --il-image-feature--image--display: block;
    --il-image-feature--content--margin: 75px auto 105px 50px;
    --il-image-feature--content--width: 360px;
    --il-image-feature--content--padding: 50px 30px;
    --il-image-feature--main--max-width: 1140px;
  }

  il-image-feature.il-theme-white {
    --il-image-feature--background: white;
    --il-image-feature--container--border: 1px solid var(--il-gray-2);
  }

  il-image-feature.il-theme-gray {
    --il-image-feature--background: var(--il-gray-1);
    --il-image-feature--container--border: 1px solid var(--il-gray-2);
  }

  il-image-feature.il-theme-blue {
    --il-image-feature--background: var(--il-blue);
  }

  il-image-feature.il-theme-orange {
    --il-image-feature--background: var(--il-orange);
  }

  il-image-feature.il-theme-blue-gradient {
    --il-image-feature--background: var(--il-blue-gradient);
  }

  il-image-feature.il-fixed-width {
    --il-image-feature--max-width: 1140px;
    background: var(--il-image-feature--background);
  }

  il-image-feature.il-size-large {
    --il-image-feature--main--flex-grow: 0.5;
  }

  il-image-feature.il-size-small {
    --il-image-feature--main--flex-grow: 2;
  }

  il-image-feature.il-size-portrait {
    --il-image-feature--main--flex-grow: 4;
  }

  il-image-feature.il-float-right {
    --il-image-feature--flex-direction: row-reverse;
  }

  il-image-feature.il-image-background.il-float-right {
    --il-image-feature--content--margin: 75px 50px 105px auto;
  }

  il-image-feature il-content {
    --il-content-heading-base-size: 1.65em;
    --il-content-heading-ratio: 1;
    --il-content--font-size: 1.05em;
    --il-content--color: white;
    --il-content--heading--color: white;
    --il-content--link--focus--color: var(--il-orange);
    --il-content--button--focus--background-color: white;
    --il-content--button--focus--border-color: white;
    --il-content--button--focus--color: var(--il-blue);
  }
}