    <il-footer>
        <section slot="contact" class="il-footer-contact">
            <p><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></p>
            <p>707 S. Sixth Street, Suite 103<br>Champaign, IL 61820</p>
            <dl>
                <dt>Phone</dt>
                <dd><a href="tel:+12172446162">217-244-6162</a></dd>
                <dt>Email</dt>
                <dd><a href="mailto:marketing@illinois.edu">marketing@illinois.edu</a></dd>
            </dl>
        </section>
    </il-footer>
