<footer>
    <il-footer>
        <section slot="contact" class="il-footer-contact">
            <p><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></p>
            <p>707 S. Sixth Street, Suite 103, Champaign, IL 61820</p>
            <dl>
                <dt>Phone</dt>
                <dd><a href="tel:+12172446162">217-244-6162</a></dd>
                <dt>Email</dt>
                <dd><a href="mailto:marketing@illinois.edu">marketing@illinois.edu</a></dd>
            </dl>
        </section>
        <div class="il-footer-navigation">
            <nav>
                <h3>Quick access to:</h3>
                <ul>
                    <li><a href="https://marketing.illinois.edu/brand/tools/training">Training opportunities</a>
                    </li>
                    <li><a href="https://marketing.illinois.edu/brand/tools/downloads">Downloads</a></li>
                    <li><a href="https://marketing.illinois.edu/brand/tools/campaigns">Brand campaigns (coming
                            soon)</a></li>
                    <li><a href="https://marketing.illinois.edu/brand/tools/email-signature">Email signature</a>
                    </li>
                    <li>
                        <a href="https://publicaffairs.illinois.edu/resources/writing-style-guide/" class="external">Writing
                            style guide</a></li>
                </ul>
            </nav>
        </div>
    </il-footer>
</footer>
