{%- macro navLink(label, url) -%}
    <a href="{{ url | url }}" {{ 'aria-current' if url == page.url }}>{{ label }}</a>
{%- endmacro -%}

<nav>
    <h2>Documentation</h2>
    <ul>
        <li>{{ navLink('Overview', "/") }}</li>
        <li>{{ navLink('Getting started', "/getting-started/") }}</li>
        <li>
            {{ navLink('Stylesheets', "/stylesheets/") }}
            <ul>
                <li>{{ navLink('Formatting', "/stylesheets/formatting/")}}</li>
            </ul>
            <ul>
                <li>{{ navLink('Colors', "/stylesheets/colors/")}}</li>
            </ul>
            <ul>
                <li>{{ navLink('Fonts', "/stylesheets/fonts/")}}</li>
            </ul>
        </li>
        <li>
            {{ navLink('Icons', "/icons/") }}
        </li>
        <li>
            {{ navLink('Components', "/components/") }}
            <ul>
                <li>{{ navLink('Header', "/components/header/") }}</li>
                <li>{{ navLink('Navigation', "/components/navigation/") }}</li>
                <li>{{ navLink('Footer', "/components/footer/") }}</li>
                <li>{{ navLink('Hero', "/components/hero/") }}</li>
            </ul>
        </li>
        <li>{{ navLink('Development', "/development/") }}</li>
        <li>{{ navLink('Support', "/support/") }}</li>
    </ul>
</nav>
