
:root {
  --il-profile-page-name-font-size: 50px;
}

il-profile {
  text-align: left;
  font: 1em/1.5 var(--il-font-sans);
  overflow: hidden;

  img {
    display: block;
    max-width: 100%;
  }

  section {
    margin: 0 0 40px;
    padding: 0;

    &:last-child {
      margin-bottom: 0;
    }
  }

  h2 {
    all: initial;
    margin: 2em 0 1em;
    color: var(--il-blue);
    text-align: left;
    font: 600 2em/1.2 var(--il-font-sans);
    letter-spacing: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  a {
    color: var(--il-blue);
  }

  section[slot="primary"] {
    position: relative;
    margin-bottom: 0;
    padding-bottom: 20px;
    font-size: 1.5rem;

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 60px;
      height: 6px;
      background-color: var(--il-orange);
    }

    h1 {
      all: initial;
      text-align: left;
      font-weight: 700;
      font-size: var(--il-profile-page-name-font-size);
      line-height: 1.25;
      font-family: var(--il-font-sans);
      color: var(--il-orange);
    }

    p {
      all: initial;
      margin: 1em 0 0;
      font: 600 1em/1.25 var(--il-font-sans);
      letter-spacing: 0;
      color: var(--il-blue);
    }

    .il-contact-department {
      font-weight: 700;
      font-style: italic;
    }
  }

  section[slot="contact"] {
    display: block;
    border-bottom: 6px solid var(--il-orange);
    box-shadow: -2px 3px 6px rgba(0, 0, 0, .5);
    margin-bottom: 0;
    padding: 1.33em 1.33em 2.66em;
    font-size: 1.125rem;
    letter-spacing: 1px;
    color: #0C1B55;

    h2 {
      all: initial;
      margin: 0 0 .5em;
      color: var(--il-blue);
      text-align: left;
      font: 600 2em/1.2 var(--il-font-sans);
      letter-spacing: 0;
    }

    div {
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    p {
      all: initial;
      font-size: 1em;
    }

    img {
      margin: 0 -1.33em 1.33em;
      display: block;
      overflow: hidden;
      max-width: calc(100% + 2.66em);

      &:first-child {
        margin-top: -1.5em;
      }
    }
  }

  section:not([slot]) {
    &.il-directory-publications {
      ul {
        all: initial;
      }
      li {
        all: initial;
        padding-left: 2em;
        text-indent: -2em;
      }
    }
  }
}

@container (max-width: 600px) {

  il-profile {
    box-sizing: border-box;
    position: relative;
    border-bottom: 6px solid var(--il-orange);
    box-shadow: -2px 3px 6px rgba(0, 0, 0, .5);
    padding: 12px;
    font: 400 1.125rem/1.5 var(--il-font-sans);

    h2 {
      all: initial;
      font: 700 1em var(--il-font-sans);
      color: var(--il-blue);
    }

    p {
      margin: .5em 0 0;
      padding: 0;
    }

    .il-contact-department {
      font-weight: 300;
      font-style: italic;
    }

    .il-contact-phone, .il-contact-email {
      font-weight: 300;
    }

    .il-contact-phone + .il-contact-email {
      margin-top: 0;
    }

    a {
      color: var(--il-blue);
      text-decoration: underline;

      &:hover, &:focus {
        color: var(--il-altgeld);
      }
    }

    img {
      display: block;
      margin: 1em -12px;
      max-width: calc(100% + 24px);

      &:first-child {
        margin-top: -12px;
      }
    }
  }
}

