---
title: Vertical Tab blue
group: "Components: Vertical Tab"
layout: layouts/page.njk
---

<div class="il-formatted">
<il-vertical-tab class="il-theme-blue">
<h2 slot="title">Adacemics &amp; Admission</h2>
    <il-vertical-tab-panel>
        <h3 slot="header">Test #1 information</h3>
        <p>First paragraph with test #1 information</p>
        <p>Second paragraph</p>
    </il-vertical-tab-panel>
    <il-vertical-tab-panel>
        <h3 slot="header">Test #2 information</h3>
        <p>First paragraph with test #2 information</p>
        <p>Second paragraph</p>
    </il-vertical-tab-panel>
    <il-vertical-tab-panel>
        <h3 slot="header">Test #3 information</h3>
        <p>First paragraph with test #3 information</p>
        <p>Second paragraph</p>
    </il-vertical-tab-panel>
</il-vertical-tab>
</div>