---
title: Vertical Tab gray
group: "Components: Vertical Tab"
layout: layouts/page.njk
---

<div class="il-formatted il-theme-gray">
<il-vertical-tab>
<h2 slot="title">Academics</h2>
    <il-vertical-tab-panel>
        <h3 slot="header">Degree Programs</h3>
        <p>There’s no <a href="#">academic experience</a> quite like Grainger Engineering. Ranked the #6 college of engineering with 13 top 5 programs from US News and World Report, we have a reputation of being the best of the best. But a lot goes into those numbers. Engaging professors. State-of-the-art facilities. Groundbreaking student resources. Brilliant classmates. Supportive environment. Endless opportunities. Whether you’re a first year undergraduate or working toward a PhD, our programs are designed to help you become the engineer you want to be.</p>
        <p>Second paragraph</p>
        <p><a href="#" class="il-button">Sample button</a></p>
    </il-vertical-tab-panel>
    <il-vertical-tab-panel>
        <h3 slot="header">Test #2 information</h3>
        <p>First paragraph with test #2 information</p>
        <p>Second paragraph</p>
    </il-vertical-tab-panel>
    <il-vertical-tab-panel>
        <h3 slot="header">Test #3 information</h3>
        <p>First paragraph with test #3 information</p>
        <p>Second paragraph</p>
    </il-vertical-tab-panel>
</il-vertical-tab>
</div>

<div class="il-formatted">
<il-vertical-tab class="il-theme-gray">
<h2 slot="title">Academics</h2>
    <il-vertical-tab-panel>
        <h3 slot="header">Degree Programs</h3>
        <p>There’s no <a href="#">academic experience</a> quite like Grainger Engineering. Ranked the #6 college of engineering with 13 top 5 programs from US News and World Report, we have a reputation of being the best of the best. But a lot goes into those numbers. Engaging professors. State-of-the-art facilities. Groundbreaking student resources. Brilliant classmates. Supportive environment. Endless opportunities. Whether you’re a first year undergraduate or working toward a PhD, our programs are designed to help you become the engineer you want to be.</p>
        <p>Second paragraph</p>
        <p><a href="#" class="il-button">Sample button</a></p>
    </il-vertical-tab-panel>
    <il-vertical-tab-panel>
        <h3 slot="header">Test #2 information</h3>
        <p>First paragraph with test #2 information</p>
        <p>Second paragraph</p>
    </il-vertical-tab-panel>
    <il-vertical-tab-panel>
        <h3 slot="header">Test #3 information</h3>
        <p>First paragraph with test #3 information</p>
        <p>Second paragraph</p>
    </il-vertical-tab-panel>
</il-vertical-tab>
</div>