<!DOCTYPE html>
<script src="../il-content.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<ul class="il-buttons" data-testid="component">
  <li><a>Sample Link</a></li>
  <li><a>Sample Link #2</a></li>
  <li><button>Sample Button</button></li>
</ul>


<script>
    const params = new URLSearchParams(window.location.search);
    document.querySelectorAll("a").forEach(component => {
      if (params.has('theme')) {
        component.classList.add(`il-theme-${params.get('theme')}`);
      }
    });
  </script>