<!DOCTYPE html>
<script src="../il-content.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-content data-testid="component" linkedby="sample-link" class="il-card">
    <h3><a id="sample-link" href="https://www.example.com">Student Life</a></h3>
    <p>Animal sciences students extend their learning and career networks beyond
        the classroom through internships, judging teams, student organizations, undergraduate research
        projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-content>