<!DOCTYPE html>
<script src="../il-content.component.js" type="module"></script>
<script src="../../il-icon/il-icon.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<div style="width: 400px;">
<il-content data-testid="component" class="il-card">
    <h3>Student Life</h3>
    <p>Animal sciences students extend their learning and career networks beyond
        the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
        projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
    <div class="il-card-bottom"><a class="il-button" href="#">Subscribe</a><a class="il-button" href="#">Find a departmental advisor</a></div>
</il-content>
</div>

<script>
    const params = new URLSearchParams(window.location.search);
    document.querySelectorAll("il-content").forEach(component => {
      if (params.has('theme')) {
        component.classList.add(`il-theme-${params.get('theme')}`);
      }
      if (params.has('size')) {
        component.classList.add(`il-size-${params.get('size')}`);
      }
      if (params.has('fixedheight')) {
        component.style.cssText += 'height: 600px';
      }
      if (params.has('icon')) {
        var icon = document.createElement('il-icon');
        icon.innerText = 'faq';
        component.insertBefore(icon, component.firstChild);
      }
      if (params.has('size')) {
        component.classList.add(`il-size-${params.get('size')}`);
      }
    });
  </script>