<!DOCTYPE html>
<script src="../il-content.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-content class="il-introduction">

    <p><i>Discover your path, define your future.</i></p>

    <p>No matter what path brought you to ACES, we're glad you're here. A strong education is just a stepping stone to all of the incredible opportunities that await you.</p>

    <p>Join us in changing your future and the world when you accept your ACES admission.</p>

    <p>
        <a href="#" class="il-button">Apply</a>
        <a href="#" class="il-button">Request Information</a>
    </p>

</il-content>
