<!DOCTYPE html>
<script src="../il-content.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-content data-testid="component">

    <p class="il-lede">
        Sodium is an essential micronutrient, but the amount we need is small. Three slices of bread or one teaspoon of table salt will do it, and chances are your daily sodium intake is far greater.
    </p>

</il-content>

<script>
    const params = new URLSearchParams(window.location.search);
    document.querySelectorAll("il-content").forEach(component => {
        if (params.has('theme')) {
            component.classList.add(`il-theme-${params.get('theme')}`);
        }
        if (params.has('fixed')) {
            component.classList.add('il-fixed-width');
        }
        if (params.has('size')) {
            component.classList.add(`il-size-${params.get('size')}`);
        }
    });
</script>