
@layer component {

  :root {
    --il-nav--item--padding-top: .75em;
    --il-nav--item--padding-right: 1em;
    --il-nav--item--padding-bottom: .75em;
    --il-nav--item--padding-left: 1em;
    --il-nav--item--label--padding-right: .25em;
    --il-nav--item--indicator--padding-left: .25em;

    --il-nav--item--header--white-space: normal;

    --il-nav--level-1--indent: .75em;
    --il-nav--level-2--indent: calc(var(--il-nav--level-1--indent) + 1.5em);
    --il-nav--level-3--indent: calc(var(--il-nav--level-2--indent) + 1.5em);
    --il-nav--level-4--indent: calc(var(--il-nav--level-3--indent) + 1.5em);
    --il-nav--level-5--indent: calc(var(--il-nav--level-4--indent) + 1.5em);
    --il-nav--level-6--indent: calc(var(--il-nav--level-5--indent) + 1.5em);

    --il-nav--content--invisible--display: block;
    --il-nav--content--collapsed--display: none;


    /* Section styles: accordion, dropdown, & flyout */

    --il-nav--accordion--section--display: block;
    --il-nav--accordion--section--width: 100%; /* TODO: Remove */
    --il-nav--accordion--section--header-chevron--transform: var(--il-nav-section-chevron-down);
    --il-nav--accordion--section--content--width: 100%;
    --il-nav--accordion--section--content--top: 100%;
    --il-nav--accordion--section--content--left: 0;
    --il-nav--accordion--section--content--position: relative;
    --il-nav--accordion--section--content--display: none;
    --il-nav--accordion--section--expanded--content--display: block;

    --il-nav--accordion--level-1--padding: .75em;
    --il-nav--accordion--level-2--padding: .75em .75em .75em 2.25em;
    --il-nav--accordion--level-3--padding: .75em .75em .75em 3.75em;
    --il-nav--accordion--level-4--padding: .75em .75em .75em 5.25em;
    --il-nav--accordion--level-5--padding: .75em .75em .75em 6.75em;
    --il-nav--accordion--level-6--padding: .75em .75em .75em 8.25em;

    --il-nav--dropdown--section--content--width: 20em;
    --il-nav--dropdown--section--content--top: 100%;
    --il-nav--dropdown--section--content--left: 0;
    --il-nav--dropdown--section--header-chevron--transform: var(--il-nav-section-chevron-down);
    --il-nav--dropdown--section--content-position: absolute;

    --il-nav--flyout--section--display: block;
    --il-nav--flyout--section--width: 100%;
    --il-nav--flyout--section--content--width: 20em;
    --il-nav--flyout--section--content--top: 0;
    --il-nav--flyout--section--content--left: 100%;
    --il-nav--flyout--section--header-chevron--transform: var(--il-nav-section-chevron-right);
    --il-nav--flyout--section--content--position: absolute;

    --il-nav--bar--level-1--contents--left: 0;
    --il-nav--bar--level-1--contents--top: 100%;
  }

  il-nav {
    display: block;
    container-type: inline-size;
    box-sizing: border-box;
    --il-nav-section--content--display: block;
    --il-nav-section--content--pointer-events: all;
    --il-nav-section--header--button--pointer-events: none;

    ul {
      all: initial;
      display: block;
    }
    li {
      all: initial;
      display: block;
    }
    a {
      all: initial;
      display: block;
      padding: .35em 0;
      color: inherit;
      font: 400 1em/1em var(--il-font-sans);
      cursor: pointer;

      &:focus, &:hover {
        text-decoration: underline;
      }
    }
    span {
      all: initial;
      display: block;
      padding: .35em 0;
      color: inherit;
      font: 400 1em/1em var(--il-font-sans);
    }

    & > ul > li > a {
      font-size: 1.2em;
      font-weight: 600;
    }

    & > ul > li > il-nav-section {
      margin-top: 1em;
      --il-nav--item--padding-left: 0;
      --il-nav--item--padding-right: 0;
      --il-nav--item--padding-top: .35em;
      --il-nav--item--padding-bottom: .35em;
    }

    il-nav-section {
      break-inside: avoid-column;
    }

    il-nav-section > a,
    il-nav-section > span {
      font-size: 1.2em;
      font-weight: 600;
    }

    il-nav-section il-nav-section {
      margin-top: 0;
      --il-nav-section--link--font-size: 1em;
      --il-nav-section--button--font-size: 1em;
    }

    il-nav-section il-nav-section ul {
      margin-left: 1em;
    }

    il-nav-section il-nav-section > a,
    il-nav-section il-nav-section > span {
      font-size: 1em;
      font-weight: 400;
    }
  }

  il-nav.il-nav-bar {
    @mixin il-nav--bar;

    & > ul > li > il-nav-section {
      @mixin il-nav--bar--dropdown;

      &[data-il-nav-size="expanded"] {
        @mixin il-nav--bar--dropdown--expanded;
      }
    }

    il-nav-section il-nav-section {
      @mixin il-nav--bar--flyout;
    }
  }

  il-header.il-nav-column {
    @mixin il-nav--column;
  }

  il-header il-nav[slot=links] {
    @mixin il-nav--eyebrow;
  }

  il-nav.il-nav-pagination {
    @mixin il-nav--pagination;
  }

  il-nav.il-nav-sidebar {
    @mixin il-nav--sidebar;
  }

  il-nav.il-nav-breadcrumbs {
    @mixin il-nav--breadcrumbs;
  }
}

@layer theme {
  :root {
    --il-nav--level-1--background-color: white;
    --il-nav--level-1--color: white;
    --il-nav--level-1--focus--background-color: white;
    --il-nav--level-1--focus--color: white;

    --il-nav--level-2--background-color: white;
    --il-nav--level-2--color: white;
    --il-nav--level-2--focus--background-color: white;
    --il-nav--level-2--focus--color: white;

    --il-nav--level-3--background-color: white;
    --il-nav--level-3--color: white;
    --il-nav--level-3--focus--background-color: white;
    --il-nav--level-3--focus--color: white;

    --il-nav--level-4--background-color: white;
    --il-nav--level-4--color: white;
    --il-nav--level-4--focus--background-color: white;
    --il-nav--level-4--focus--color: white;

    --il-nav--level-5--background-color: white;
    --il-nav--level-5--color: white;
    --il-nav--level-5--focus--background-color: white;
    --il-nav--level-5--focus--color: white;

    --il-nav--level-6--background-color: white;
    --il-nav--level-6--color: white;
    --il-nav--level-6--focus--background-color: white;
    --il-nav--level-6--focus--color: white;
  }
}