<!DOCTYPE html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="../il-feature.component.js" type="module"></script>
<script src="../../il-content/il-content.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-feature data-testid="component">
    <img id="sample-image" slot="image" src="feature.jpg">
    <il-content>
      <h3>Student Life</h3>
      <p>Animal sciences students extend their learning and career networks beyond
          the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
          projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
      <div><a class="il-button" href="#">Subscribe</a><a class="il-button" href="#">Find a departmental advisor</a></div>
  </il-content>
</il-feature>

<script>
  const params = new URLSearchParams(window.location.search);
  document.querySelectorAll("il-feature").forEach(component => {
    if (params.has('theme')) {
      component.classList.add(`il-theme-${params.get('theme')}`);
    }
    if (params.has('size')) {
      component.classList.add(`il-size-${params.get('size')}`);
    }
    if (params.has('float')) {
      component.classList.add(`il-float-${params.get('float')}`);
    }
    if (params.has('mobile')) {
      component.style.cssText += 'max-width: 400px';
    }
    if (params.has('background')) {
        component.classList.add('il-image-background');
    }
    if (params.has('fixed')) {
        component.classList.add('il-fixed-width');
    }
});
</script>