---
tags: test
title: Line icons by ligature
layout: layouts/test-icons.njk
permalink: tests/stylesheets/icons/line-ligatures.html
---

<ul class="icon-sheet icon-sheet--line">
    {% for icon in icons %}
        {% for ligature in icon.ligatures %}
            <li>
                <span class="icon-sheet__icon">{{ ligature }}</span>
                <span class="icon-sheet__label">{{ ligature }}</span>
            </li>
        {% endfor %}
    {% endfor %}
</ul>
