---
title: "ACES/Research/Safety"
group: Pages
---

{% macro nav_item(item) %}
{% if item.type == "link" %}
<il-nav-link>
  <a href="#">{{ item.label }}</a>
</il-nav-link>
{% elif item.type == "section" %}
<il-nav-section>
  <a href="#" slot="label">{{ item.label }}</a>
  <ul class="il-subnav">
    {% for subitem in item.contents %}
    <li>
      <a href="#">{{ subitem.label }}</a>
    </li>
    {% endfor %}
  </ul>
</il-nav-section>
{% endif %}
{% endmacro %}

{% macro section_nav_item(item) %}
<li>
  <a href="#">{{ item.label }}</a>
  {% if item.type == "section" %}
  <ul>
    {% for subitem in item.contents %}
      {{ section_nav_item(subitem) }}
    {% endfor %}
  </ul>
  {% endif %}
</li>
{% endmacro %}


<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
  <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
  <link rel="stylesheet" href="{{ "/toolkit.css" | url }}">
  <script src="{{ "/toolkit.js" | url }}"></script>
</head>

<body class="il-page">

  <header class="il-header">
    <il-header>

      <div slot="wordmark">
        <il-unit-wordmark>
          <h1><a href="#">College of Agricultural, Consumer & Environmental Sciences
            </a></h1>
        </il-unit-wordmark>
      </div>

      <nav slot="links" class="il-links">
        <ul>
          <li>
            <a href="#">Apply to ACES</a>
          </li>
          <li>
            <a href="#">Make a Gift</a>
          </li>
        </ul>
      </nav>

      <il-search slot="search"></il-search>

      <il-nav slot="navigation">
        {% for item in navigation %}
        {{ nav_item(item) }}
        {% endfor %}
      </il-nav>
    </il-header>

  </header>

  <div class="il-main il-content-with-section-nav section-nav-example">
    <div class="il-section-nav">
      <il-section-nav>
        <ul>
          {% for item in sectionNavigation %}
          {{ section_nav_item(item) }}
          {% endfor %}
          </ul>
      </il-section-nav>
    </div>
    <main class="il-content il-formatted">

      <h1>Safety</h1>

      <p>Whatever the discipline, type of research activity, or location, The College of ACES cares about the safety of
        our faculty, students, employees, and visitors. Our goals are to help identify hazards, minimize risks
        associated
        with those hazards, and help train people to perform their research activities safely. <a
          href="mailto:ACES-Safety@illinois.edu">Contact us</a> with questions or with requests for safety assessments
        and
        information.</p>

      <h2>Administration and Policies</h2>

      <p>The ACES Safety Committee, appointed by the dean, provides advice and recommend policies and procedures
        concerning safety issues that affect college operations. The College of ACES strongly recommends all those
        involved in research review the College of ACES and Illinois Agricultural Experiment Station (IAES) Safety
        Policy
        to understand their responsibilities.</p>

      <p>To gain an in-depth understanding of campus-wide policy, review the <a
          href="http://cam.illinois.edu/#maincontent">Campus Administrative Manual (CAM)</a>, which includes policy
        information for research activities.</p>

      <h2>Training</h2>

      <p>The College of ACES has developed basic hazard training for anyone who conducts work at the various field
        research stations. This training is also applicable to many other agricultural facilities and is available to
        University of Illinois students, faculty, staff, and visiting scholars.</p>

      <h3>Field research</h3>

      <p>The <strong>Farm Hazard Safety Training Course</strong> is mandatory for personnel working at any field
        research
        center, which includes the South Farms as well as the field research stations across Illinois. First-time users
        of
        any research center must complete the training before they begin their activities at the units.</p>

      <p>The Basic Farm Hazard Training module is available in the Compass2G Blackboard learning platform. After logging
        in with your NetID and password, browse the course catalog for “ACES Safety,” then select
        aces_admin_train_141366
        under “Course ID.” It is highly recommended that you print the Certificate of Completion provided at the end of
        the course. For any questions or difficulties with the site, please contact Director of Safety, <a
          href="mailto:gaither3@illinois.edu">Daniel Gaither</a>.</p>

      <p>If you will be working at the <strong>ACES Energy Farm</strong> contact Tim Mies, <a
          href="mailto:tmies@illinois.edu">tmies@illinois.edu</a>, Director of Energy Farm Operations, to gain access to
        the Energy Farm Safety Training module hosted in Compass2G.</p>

      <p>Additional training is also required for <strong>Animal Sciences General Farm Services</strong>. Contact the
        manager of the Animal Sciences General Farms Services Unit to certify your training.</p>

      <h3>Additional Training</h3>

      <p>University of Illinois <a
          href="http://www.fs.illinois.edu/services/safety-and-compliance/employee-safety-health">Facilities and
          Services,
          Safety and Compliance</a> offers health and safety training resources which may be of interest. Safety and
        Compliance also provides information on industrial safety and provides manuals and fact sheets for various
        subjects. </p>

      <h2>Additional Resources</h2>

      <p>To promote safe and ethical behavior there are certain compliance units researchers will likely need to
        interact
        with. The units related to animal care and other concerns are listed on the <a
          href="http://research.illinois.edu/regulatory-compliance-safety">Office of the Vice Chancellor of Research
          website</a>.</p>

      <p>The <a href="http://www.fs.illinois.edu/services/safety-and-compliance">Safety and Compliance unit at
          Facilities
          &amp; Services</a> oversees worker safety and provides training materials for employees of the university.</p>

      <p>Programs for campus student, employee, and public safety are administered by the <a
          href="http://police.illinois.edu/">University of Illinois Police Department</a>.</p>

    </main>
  </div>


  <footer class="il-footer">
    <il-footer>

      <div slot="contact" class="il-footer-contact uofi_address">
        <p><a href="#">College of Agricultural, Consumer & Environmental Sciences</a></p>
        <p>227 Mumford Hall MC 710</p>
        <p>1301 W Gregory Dr.</p>
        <p>Urbana, IL 61801</p>
        <p>Email: <a href="mailto:aces@illinois.edu">aces@illinois.edu</a></p>
      </div>

      <nav slot="social" class="il-footer-social">
        <ul>
          <li><a href="https://www.facebook.com/UofICollegeofACES"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/acesillinois/"><i class="fa fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/ACESIllinois"><i class="fa fa-twitter"></i></a></li>
          <li><a href="https://www.youtube.com/user/ACESAcademicPrograms"><i class="fa fa-youtube-play"></i></a></li>
          <li><a href="https://www.linkedin.com/showcase/college-of-aces/"><i class="fa fa-linkedin"></i></a></li>
        </ul>
      </nav>

      <div slot="parent" class="il-footer-parent">
        <p><a href="#">College of Agricultural, Consumer and Environmental Sciences</a></p>
        <p><a href="#">Grainger College of Engineering</a></p>
        <p><a href="#">College of Education</a></p>
      </div>


      <div class="il-footer-navigation">
        <nav aria-label="Campus Footer Links">
          <h3>College Resources</h3>
          <ul>
            <li><a href="/about/contact">Contact us</a></li>
            <li><a href="https://aces.illinois.edu/future-students">Future Students</a></li>
            <li><a href="https://aces.illinois.edu/academics/current-students">Current Students</a></li>
            <li><a href="https://acesalumni.illinois.edu/">Alumni</a></li>
            <li><a href="/visit">Visit</a></li>
          </ul>
        </nav>
        <nav aria-label="Campus Footer Links">
          <h3>University Resources</h3>
          <ul>
            <li><a href="https://illinois.edu/admissions/">Admissions</a></li>
            <li><a href="https://uif.uillinois.edu/">Giving</a></li>
            <li><a href="https://illinois.edu/about/index.html">About Illinois</a></li>
            <li><a href="https://covid19.illinois.edu/">Coronavirus (COVID-19)</a></li>
          </ul>
        </nav>
      </div>

      <nav slot="links" class="il-footer-links">
        <h2 class="il-invisible">Additional links</h2>
        <ul>
          <li><a href="https://illinois.edu/resources/website/copyright.html">Copyright</a></li>
          <li><a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy Policy</a></li>
          <li><a href="https://aces.illinois.edu/college-bylaws">Departmental Bylaws</a></li>
          <li><a href="/user">Login</a></li>
          <li><a href="https://inside.aces.illinois.edu/">Inside ACES (Fac/Staff)</a></li>
        </ul>
      </nav>

    </il-footer>

  </footer>
</body>

</html>