---
tags: test
title: Colors
layout: layouts/test.njk
---
<style>
    body {
        margin: 0;
        padding: 20px;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    li {
        list-style: none;
        margin: 0;
        padding: 20px;
    }
    .swatch {
        display: block;
        width: 160px;
        height: 160px;
    }
    .label {
        display: block;
        margin-top: 10px;
        font: 700 14px var(--il-source-sans);
    }
</style>

{% macro chip(var) %}
<li>
    <span class="swatch" id="{{ var }}" style="background-color: var(--{{ var }})"></span>
    <span class="label">{{ var }}</span>
</li>
{% endmacro %}

<ul>
    {% for color in colors %}
        {{ chip(color.var) }}
        {% for variant in color.variants %}
            {{ chip(variant.var) }}
        {% endfor %}
    {% endfor %}
</ul>
