<!DOCTYPE html>
<script src="../../il-content/il-content.component.js" type="module"></script>
<script src="../il-image-feature.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<div id="container">

  <il-image-feature>
    <img src="image-feature.jpg" slot="image" alt="">
    <il-content>
      <h2>Research Experiences for Undergraduates (REU)</h2>
      <p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
      <p><a class="il-button" href="#">Learn More</a></p>
    </il-content>
  </il-image-feature>

  <il-image-feature>
    <img src="image-feature.jpg" slot="image" alt="">
    <il-content>
      <h2>Research Experiences for Undergraduates (REU)</h2>
      <p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
      <p><a class="il-button" href="#">Learn More</a></p>
    </il-content>
  </il-image-feature>

  <il-image-feature>
    <img src="image-feature.jpg" slot="image" alt="">
    <il-content>
      <h2>Research Experiences for Undergraduates (REU)</h2>
      <p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
      <p><a class="il-button" href="#">Learn More</a></p>
    </il-content>
  </il-image-feature>

  <il-image-feature>
    <img src="image-feature.jpg" slot="image" alt="">
    <il-content>
      <h2>Research Experiences for Undergraduates (REU)</h2>
      <p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
      <p><a class="il-button" href="#">Learn More</a></p>
    </il-content>
  </il-image-feature>

  <il-image-feature>
    <img src="image-feature.jpg" slot="image" alt="">
    <il-content>
      <h2>Research Experiences for Undergraduates (REU)</h2>
      <p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
      <p><a class="il-button" href="#">Learn More</a></p>
    </il-content>
  </il-image-feature>

  <il-image-feature>
    <img src="image-feature.jpg" slot="image" alt="">
    <il-content>
      <h2>Research Experiences for Undergraduates (REU)</h2>
      <p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
      <p><a class="il-button" href="#">Learn More</a></p>
    </il-content>
  </il-image-feature>

</div>

<script>
  const params = new URLSearchParams(window.location.search);
  document.querySelectorAll("il-image-feature").forEach(component => {
    if (params.has('theme')) {
      component.classList.add(`il-theme-${params.get('theme')}`);
    }
  });
</script>