---
title: Web Toolkit test pages
layout: layouts/page.njk
stylesheets: ['tests.css', 'index.css']
---

<table>
    <thead>
        <tr>
            <th>Page</th>
            <th>Description</th>
            <th>Modified</th>
        </tr>
    </thead>
    <tbody>
    {% for file in files %}
        <tr>
            <td>
                <a href="{{ file.url }}">{{ file.path }}</a>
            </td>
            <td>
                {{ file.title }}
            </td>
            <td>
                {{ file.date }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% addStaticImages %}