---
title: Video (default view)
group: "Components: Video"
layout: layouts/page.njk
---
<div class="il-formatted" style="margin: auto; max-width: 1000px; padding-bottom: 30px;">
<il-video src="https://mediaspace.illinois.edu/media/t/1_0o2ypqvp" title="President Barack Obama"></il-video>
</div>

<div class="il-formatted" style="margin: auto; max-width: 1000px; padding-bottom: 30px;">
<il-video src="https://www.youtube.com/watch?v=uSEpvhL7nwA" title="Feed Technology Center - First Look"></il-video>
</div>
