---
title: Video (resized items)
group: "Components: Video"
layout: layouts/page.njk
---
<div class="il-formatted" style="margin: auto; width: 1400px; padding-bottom: 30px;">
<il-video src="https://mediaspace.illinois.edu/media/t/1_0o2ypqvp" title="President Barack Obama"></il-video>
</div>

<div class="il-formatted" style="margin: auto; width: 900px; padding-bottom: 30px;">
<il-video src="https://mediaspace.illinois.edu/media/t/1_0o2ypqvp" title="President Barack Obama"></il-video>
</div>

<div class="il-formatted" style="margin: auto; width: 600px; padding-bottom: 30px;">
<il-video src="https://mediaspace.illinois.edu/media/t/1_0o2ypqvp" title="President Barack Obama"></il-video>
</div>

<div class="il-formatted" style="margin: auto; width: 300px; padding-bottom: 30px;">
<il-video src="https://mediaspace.illinois.edu/media/t/1_0o2ypqvp" title="President Barack Obama"></il-video>
</div>
