<!DOCTYPE html>
<link rel="stylesheet" href="../../../css/colors.scss">
<link rel="stylesheet" href="../../../css/fonts.scss">
<link rel="stylesheet" href="../../../css/icons.scss">
<link rel="stylesheet" href="../../../css/classes/il-button/il-button.scss">
<link rel="stylesheet" href="../../../css/classes/il-icon/il-icon.scss">
<script src="../card.component.js" type="module"></script>

<il-card data-testid="card">
    <h2>Nutrition Policy and Food</h2>
    <p>Effectively support increasing <a href="#">regulatory needs</a> and solve the challenges of food and agriculture in years
        to come.</p>
    <p class="il-buttons">
        <a class="il-button" href="http://example.com/">Button Text</a>
        <a class="il-button" href="http://example.com/">Button Text</a>
    </p>
</il-card>

<script>
    const component = document.querySelector("il-card");
    const params = new URLSearchParams(window.location.search);
    if (params.has('theme')) {
        component.classList.add(`il-theme-${params.get('theme')}`);
    }
</script>