---
title: Image Feature With Overlay (default view)
group: "Components: Image Feature With Overlay"
layout: layouts/page.njk
---
<div class="il-formatted">

<h2>Default</h2>

<il-image-feature-with-overlay>
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature-with-overlay>


<h2>Orange</h2>

<il-image-feature-with-overlay class="il-theme-orange">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature-with-overlay>

<h2>Orange align right</h2>

<il-image-feature-with-overlay class="il-theme-orange il-align-right">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature-with-overlay>

<h2>Blue align right</h2>

<il-image-feature-with-overlay class="il-theme-blue il-align-right">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature-with-overlay>

</div>
