@layer components {

  il-header[data-compact="false"] il-main-nav {
    --il-nav-section-items-position: absolute;
    --il-nav-section-header-padding: .75rem 1rem;
    --il-nav-section-header-gap: 1rem;
    --il-nav-section-indicator-width: 1rem;
    --il-nav-section-header-focus-background: var(--il-orange);
    --il-nav-section-header-focus-color: var(--il-blue);

    & > ul {
      flex-direction: row;
      gap: 1rem;
    }

    il-nav-section, il-nav-section-with-link {
      --il-nav-section-items-left: 100%;
      --il-nav-section-items-top: 0;
      --il-nav-section-indicator-transform: rotate(-90deg);
      --il-nav-expanded-section-indicator-transform: rotate(-90deg);

      a:hover, a:focus {
        background: var(--il-orange) !important;
        color: var(--il-blue) !important;
      }
    }
    il-nav-section[data-level="1"], il-nav-section-with-link[data-level="1"] {
      --il-nav-section-items-left: 0;
      --il-nav-section-items-top: 100%;
      --il-nav-section-indicator-transform: none;
      --il-nav-expanded-section-indicator-transform: rotate(180deg);
    }
    il-nav-section[data-expanded="true"], il-nav-section-with-link[data-expanded="true"] {
      --il-nav-item-background: white;
      --il-nav-section-header-color: var(--il-blue);
    }
    il-nav-section[data-current="true"], il-nav-section-with-link[data-current="true"] {
      --il-nav-section-header-background: var(--il-blue);
      --il-nav-section-header-color: white;

      a {
        background: var(--il-blue);
        color: white;
      }
    }
  }
}

