---
title: Hero alignment
group: "Components: Hero"
layout: layouts/page.njk
htmlAttrs: "data-il-debug=\"true\""
---

<div id="il-content-guide"></div>

{% macro hero(alignment) %}
<il-hero background="{{ '/_assets/images/hero-bg.jpg' | url }}" class="{{ alignment }}">
    <h1>Innovating solutions every year</h1>
    <ul>
        <li>
            <a href="#">Link 1</a>
        </li>
        <li>
            <a href="#">Link 2</a>
        </li>
        <li>
            <a href="#">Link 3</a>
        </li>
    </ul>
</il-hero>
{% endmacro %}

<h2>Default</h2>

{{ hero() }}

<h2>Top left</h2>

{{ hero('il-align-top il-align-left') }}

<h2>Center left</h2>

{{ hero('il-align-middle il-align-left') }}

<h2>Bottom left</h2>

{{ hero('il-align-bottom il-align-left') }}

<h2>Top center</h2>

{{ hero('il-align-top il-align-center') }}

<h2>Center center</h2>

{{ hero('il-align-middle il-align-center') }}

<h2>Bottom center</h2>

{{ hero('il-align-bottom il-align-center') }}

<h2>Top right</h2>

{{ hero('il-align-top il-align-right') }}

<h2>Center right</h2>

{{ hero('il-align-middle il-align-right') }}

<h2>Bottom right</h2>

{{ hero('il-align-bottom il-align-right') }}