@layer components {
  il-call-to-action {
    --il-call-to-action-icon-blue-display: block;
    color: var(--il-blue);
    padding-top: 4rem;
    padding-bottom: 4rem;
    padding-left: var(--il-page-padding-left);
    padding-right: var(--il-page-padding-right);

    h2 {
      all: initial;
      color: inherit;
      display: block;
      font: 700 2.5em var(--il-font-montserrat);
    }
    p {
      all: initial;
      color: inherit;
      display: block;
      font: 400 1.5em var(--il-font-sans);
    }
  }
  il-call-to-action.il-blue {
    --il-call-to-action-icon-blue-display: none;
    --il-call-to-action-icon-white-display: block;
    background: var(--il-blue);
    color: white;
  }
}

@layer components {
  il-call-to-action il-action {
    --il-action-background: transparent;
    --il-action-border: var(--il-blue);
    --il-action-color: var(--il-blue);
    --il-action-hover-background: var(--il-blue);
    --il-action-hover-border: var(--il-blue);
    --il-action-hover-color: white;
  }
  il-call-to-action il-action[type="secondary"] {
    --il-action-background: transparent;
    --il-action-border: var(--il-orange);
    --il-action-color: var(--il-orange);
    --il-action-hover-background: var(--il-orange);
    --il-action-hover-border: var(--il-orange);
    --il-action-hover-color: white;
  }
  il-call-to-action.il-blue il-action {
    --il-action-background: transparent;
    --il-action-border: var(--il-orange);
    --il-action-color: var(--il-orange);
    --il-action-hover-background: var(--il-orange);
    --il-action-hover-border: var(--il-orange);
    --il-action-hover-color: white;
  }
  il-call-to-action.il-blue il-action[type="secondary"] {
    --il-action-background: transparent;
    --il-action-border: white;
    --il-action-color: white;
    --il-action-hover-background: white;
    --il-action-hover-border: white;
    --il-action-hover-color: var(--il-blue);
  }
  il-call-to-action.il-orange il-action {
    --il-action-background: transparent;
    --il-action-border: var(--il-blue);
    --il-action-color: var(--il-blue);
    --il-action-hover-background: var(--il-blue);
    --il-action-hover-border: var(--il-blue);
    --il-action-hover-color: white;
  }
  il-call-to-action.il-orange il-action[type="secondary"] {
    --il-action-background: transparent;
    --il-action-border: white;
    --il-action-color: white;
    --il-action-hover-background: white;
    --il-action-hover-border: white;
    --il-action-hover-color: var(--il-orange);
  }
}
