
il-statistic {
  --il-statistic--font-size: 1.25em;

  p {
    all: initial;
    color: inherit;
    font: inherit;
    text-align: inherit;
  }

  em {
    all: initial;
    text-align: inherit;
    display: block;
    margin-bottom: .1em;
    font: 700 3.25em/1 var(--il-font-sans);
    color: var(--il-statistic--stat--color, inherit);
  }
  cite {
    all: initial;
    display: block;
    color: inherit;
    margin-top: .75em;
    text-decoration: underline;
    text-align: inherit;
    font: 400 italic .85em/1em var(--il-font-sans);
  }
  a {
    color: var(--il-statistic--link--color, inherit);
    text-decoration: underline;

    &:focus, &:hover {
      color: var(--il-statistic--link--focus--color, inherit);
    }
  }

  &.il-size-small {
    --il-statistic--font-size: 1.125em;
  }
  &.il-size-large {
    --il-statistic--font-size: 1.375em;

    em {
      font-size: 4.5em;
    }
  }
  &.il-size-xlarge {
    --il-statistic--font-size: 1.5em;

    em {
      font-size: 4.5em;
    }
  }

  &.il-theme-white {
    --il-statistic--background-color: white;
    --il-statistic--color: var(--il-blue);
    --il-statistic--stat--color: var(--il-orange);
    --il-statistic--link--color: var(--il-industrial-blue);
    --il-statistic--link--focus--color: var(--il-altgeld);
  }
  &.il-theme-blue {
    --il-statistic--background-color: var(--il-blue);
    --il-statistic--color: white;
    --il-statistic--link--focus--color: var(--il-orange);
  }
  &.il-theme-blue-gradient {
    --il-statistic--background-color: var(--il-blue-gradient);
    --il-statistic--color: white;
    --il-statistic--link--focus--color: var(--il-orange);
  }
  &.il-theme-gray {
    --il-statistic--background-color: var(--il-gray-1);
    --il-statistic--color: var(--il-blue);
    --il-statistic--link--color: var(--il-industrial-blue);
    --il-statistic--link--focus--color: var(--il-altgeld);
  }
}
