---
title: Gallery (xsmall view)
group: "Components: Gallery and Gallery Detail"
layout: layouts/page.njk
---
<div class="il-formatted">
    <il-gallery class="il-size-xsmall">
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/1-600x600.jpg"|url }}" />
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/1-600x800.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/1-800x600.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/1-800x800.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/1-400x400.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/2-600x800.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/2-800x600.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/2-600x600.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
        <il-gallery-item href="#">
            <img alt="" src="{{ "/_assets/images/gallery/3-800x600.jpg"|url }}">
            <p slot="title">Title</p>
            <p slot="caption">Subtitle</p>
        </il-gallery-item>
    </il-gallery>
</div>
