---
title: Gallery (detail view)
group: "Components: Gallery and Gallery Detail"
layout: layouts/page.njk
---
<div class="il-formatted">
    <il-gallery-detail home="#" previous="#" next="#">
        <img alt="" src="{{ "/_assets/images/gallery/1-800x800.jpg"|url }}">
        <p slot="caption">Information about the item</p>
    </il-gallery-detail>
</div>
