---
title: Gallery (simple detail view)
group: "Components: Gallery and Gallery Detail"
layout: layouts/page.njk
---
<div class="il-formatted">
    <il-gallery-detail>
        <img alt="" src="{{ "/_assets/images/gallery/2-600x800.jpg"|url }}">
        <p slot="caption">Information about the item</p>
    </il-gallery-detail>
</div>
