---
title: Clickable Card (fill full area)
group: "Components: Clickable Card"
layout: layouts/page.njk
---

<div class="il-formatted">

<div style="display: grid; grid-template-columns: repeat(auto-fill,350px); grid-column-gap: 30px; grid-row-gap: 30px;">

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

</div>

</div>
