---
title: Clickable Card (image filter)
group: "Components: Clickable Card"
layout: layouts/page.njk
---

<style>
il-clickable-card {
    --il-clickable-card-image-filter: brightness(120%);
}
</style>
<div class="il-formatted">

<il-clickable-card width="500px" src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

<il-clickable-card width="500px" src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com" background="blue">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
</il-clickable-card>

</div>
