.il-formatted il-feature-split, il-feature-split {
  display: block;
  margin-bottom: 20px;

  h2,
  h3,
  h4,
  h5,
  p
  {
    max-width: 900px;
  }


  a.il-button,
  button {
    margin-right: 20px;
    margin-bottom: 20px;
    width: fit-content;
    width: -moz-fit-content;
    text-align: left;
  }
}

.il-formatted il-feature-split:not([contentbackground="white"]), il-feature-split:not([contentbackground="white"]) {
    h2,
    h3,
    h4,
    h5,
    p,
    a {
      color: white;
    }

    a.il-button,
    button {
      color: white;
      background: transparent;
      border-color: white;

      &:focus,
      &:hover {
        background: white;
        color: var(--il-blue);
      }
    }
}

