il-footer {

  a {
    @extend .il-link;
  }

  *[slot=contact] {
    font-size: 18px;
    color: var(--il-blue);

    h1, h2, p {
      margin: 0;
      padding: 0;
      font-size: 1em;

      &:first-child {
        font-weight: 700;
        font-size: 1.1em;
        margin-bottom: 2px;
      }
    }

    dl {
      @include reset-spacing;
    }

    dt {
      @include reset-spacing;
      clear: both;
      float: left;
      margin-right: .5em;

      &::after {
        content: ":";
      }
    }

    dd {
      @include reset-spacing;
    }

    .il-unit-name {
      margin: 0;
      padding: 0;
      font-weight: bold;
    }
  }

  .il-footer-social[slot=social] {
    ul {
      @include reset-list;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
      margin: -6px;
    }
    li {
      @include reset-list-item;
      padding: 6px;
    }
    a {
      @include reset-link;
      position: relative;
      display: block;
      background-color: var(--il-blue);
      color: var(--il-cloud);
      box-sizing: border-box;
      font-size: 16px;
      line-height: 30px;
      padding: 0 10px;
      border-radius: 15px;
      white-space: nowrap;
    }
    a:focus {
      outline: var(--il-dotted-focus-outline);
    }
    .icon {
    }
    a:hover, a:focus {
      background-color: var(--il-industrial-blue);
    }
    a[href^="https://www.facebook.com/"],
    a[href^="https://www.instagram.com/"],
    a[href^="https://www.linkedin.com/"],
    a[href^="https://www.pinterest.com/"],
    a[href^="https://www.snapchat.com/"],
    a[href^="https://twitter.com/"],
    a[href^="https://weibo.com/"],
    a[href^="https://www.whatsapp.com/"],
    a[href^="https://www.youtube.com/"] {
      position: relative;
      margin: -4px -6px;
      padding: 0;
      height: 48px;
      overflow: hidden;
      width: 48px;
      text-indent: 200%;
      white-space: nowrap;
      font: normal 30px var(--il-icons-solid);
      background-color: transparent;
      color: var(--il-blue);
      border-radius: 0;

      &:hover, &:focus {
        color: var(--il-industrial-blue);
      }

      &:before {
        @extend %il-icon;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: block;
        height: 100%;
        width: 100%;
        text-align: center;
        text-indent: 0;
        white-space: normal;
      }
    }
    a[href^="https://www.facebook.com/"]:before {
      content: "facebook";
    }
    a[href^="https://www.instagram.com/"]:before {
      content: "instagram";
    }
    a[href^="https://www.linkedin.com/"]:before {
      content: "linkedin";
    }
    a[href^="https://www.pinterest.com/"]:before {
      content: "pinterest";
    }
    a[href^="https://www.snapchat.com/"]:before {
      content: "snapchat";
    }
    a[href^="https://twitter.com/"]:before {
      content: "twitter";
    }
    a[href^="https://weibo.com/"]:before {
      content: "weibo";
    }
    a[href^="https://www.whatsapp.com/"]:before {
      content: "whatsapp";
    }
    a[href^="https://www.youtube.com/"]:before {
      content: "youtube";
    }
  }

  *[slot=links] {
    .il-cookie-settings, a.optanon-show-settings.il-cookie-settings {
      position: relative;
      display: inline-block;
      margin: 0 10px 0 0;
      padding: 0 10px 0 36px;
      border-radius: 4px;
      border: 0;
      background-color: var(--il-cloud-1);
      font: bold 16px/34px var(--il-source-sans);
      color: var(--il-blue);
      text-decoration: underline;

      &::before {
        position: absolute;
        top: 9px;
        left: 10px;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        content: "\2605";
        border: 1px solid var(--il-blue);
        border-radius: 50%;
        line-height: 16px;
        text-align: center;
        font-size: 12px;
        color: var(--il-orange);
      }
    }

    a {
      display: inline-block;
      padding: 8px;
      font: 16px var(--il-source-sans);
      color: var(--il-blue);
      white-space: nowrap;

      &:first-child {
        padding-left: 0;
      }
    }

    a.optanon-show-settings.il-cookie-settings {
      padding: 0 10px 0 36px !important;
      background-color: var(--il-cloud-1) !important;
      color: var(--il-blue) !important;
      text-decoration: underline !important;
      background-image: none !important;
    }
  }

  *[slot=parent-unit] {
    a {
      color: inherit;

      &:focus {
        outline: 3px dashed var(--il-blue);
      }
    }
  }
}

.il-footer-navigation {
  color: var(--il-blue);
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px;
  font: 18px var(--il-source-sans);

  h2, h3, h4 {
    @include reset-heading;
    margin-bottom: 6px;
    font: bold 20px var(--il-source-sans);
  }

  ul {
    @include reset-list;

    li {
      @include reset-list;

      a {
        display: block;
        padding: 6px 0;
        border-bottom: 1px solid white;
      }
    }
  }

  a {
    @include reset-link;
    text-decoration: underline;
  }

  .il-actions {

      ul {
      @include reset-list();
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
    }

    li {
      @include reset-list-item;
      margin: 0 20px 20px 0;
    }

    a {
      @extend .il-button;
    }
  }

  @media (min-width: 800px) {
    grid-template-columns: repeat(2, 1fr);

    .il-actions {
      grid-column-start: 1;
      grid-column-end: span 2;
    }
  }
}
