il-header {
  font-family: var(--il-source-sans);

  &:last-child {
    border-bottom: 2px solid var(--il-orange);
  }

  a {
    @include reset-link;
  }
}

.il-header-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & > * {
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.il-header-button {

  --il-icon-color: var(--il-blue);
  --il-icon-background: transparent;
  --il-icon-active-background: var(--il-cloud);

  @include reset-button;
  display: inline-block;
  width: 4.25em;
  height: 3.625em;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  text-indent: 5em;
  border-radius: .625em;
  transition: background-color .3s;
  cursor: pointer;
  background-color: var(--il-icon-background);
  color: var(--il-icon-color);

  &:focus, &:hover {
    background-color: var(--il-icon-active-background);
  }

  &:focus {
    outline: var(--il-dotted-focus-outline);
  }

  &:after {
    content: attr(data-icon-name);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-indent: 0;
    text-align: center;
    font: 3em/1.2 var(--il-icons-solid);
  }

  & + & {
    margin-left: .5em;
  }

  &--orange {
    --il-icon-color: white;
    --il-icon-background: var(--il-orange);
    --il-icon-active-background: var(--il-altgeld);
  }

  &--blue {
    --il-icon-color: white;
    --il-icon-background: var(--il-blue);
    --il-icon-active-background: var(--il-industrial-blue);
  }
}
