il-header {
  &[view="full"] {

    .il-links {
      ul {
        @include reset-list;
        display: flex;
        flex-direction: row;
      }
      li {
        @include reset-list-item;
        position: relative;
        padding: 0 1em 0 0;

        &::after {
          position: absolute;
          top: 0;
          right: 0;
          content: "/";
          width: 1em;
          text-align: center;
          color: var(--il-altgeld);
          font: 600 16px var(--il-source-sans);
        }
        &:last-of-type::after {
          content: "";
          display: none;
        }
      }
      a {
        @include reset-link;
        display: block;
        font: 600 16px var(--il-source-sans);
        color: var(--il-blue);

        &:focus, &:hover {
          color: var(--il-altgeld);
          text-decoration: underline;
        }
        &:focus {
          outline: none;
        }
      }
    }

    .il-navigation {
    }

    .il-search {
      display: grid;
      grid-template-columns: auto auto;
    }

  }

  &[view="compact"] {

    .il-links {
      background-color: var(--il-cloud-1);

      ul {
        @include reset-list;
      }
      li {
        @include reset-list-item;
        padding: 0;
        border-bottom: 1px solid #c0c0c0;;
      }
      a {
        @include reset-link;
        text-decoration: none;
        color: var(--il-blue);
        padding: 8px 20px;
        display: inline-block;
        width: 100%;
        font: 600 20px/28px var(--il-source-sans);

        &:hover, &:focus {
          text-decoration: underline;
          color: var(--il-altgeld);
          background: white;
          outline: 0px;
        }
      }
    }

    .il-navigation {
      ul {
        @include reset-list;
      }

      li {
        @include reset-list-item;
      }

      a {
        @include reset-link;
      }
    }

    .il-search {
      @include reset-spacing;
      display: grid;
      grid-template-columns: auto auto;
    }
  }
}