il-hero {
  h1 {
    @include reset-heading;
    font: 700 36px var(--il-source-sans);
    line-height: 1;
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    text-align: left !important;

    @media (min-width: 576px) {
      font-size: 48px;
    }

    @media (min-width: 768px) {
      font-size: 64px;
    }

    @media (min-width: 992px) {
      font-size: 72px;
    }
  }
  ul {
    list-style: none;
    margin: 18px -32px -18px 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    li {
      list-style: none;
      margin: 0 32px 18px 0;
      padding: 0;

      a {
        @extend .il-button;
        background-color: var(--il-orange);
        color: white;
        border-color: white;
      }
    }
  }

  &[color="orange"] {
    ul li a {
      background-color: var(--il-blue);

      &:hover, &:focus {
        background-color: var(--il-orange);
      }
    }
  }

  &[duotone] {
    ul li a {
      background-color: var(--il-blue);
    }
  }
}
