:root {
  --il-image-feature-with-overlay-width: 40%;
  --il-image-feature-with-overlay-background: rgba(19, 41, 75, .85);
  --il-image-feature-with-overlay-background-solid: var(--il-blue);
  --il-image-feature-with-overlay-padding: 3.125rem 1.875rem;
  --il-image-feature-with-overlay-align: left;
  --il-image-feature-with-overlay-border: 1px solid var(--il-blue);
}

il-image-feature, .il-formatted il-image-feature
 {
  --il-button-background-color: transparent;
  --il-button-border-color: white;
  --il-button-foreground-color: white;
  --il-focused-button-background-color: white;
  --il-focused-button-foreground-color: var(--il-blue);

  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  h5:first-of-type
  {
    margin-top: 0;
  }
}

il-image-feature.il-overlay img, .il-overlay il-image-feature img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: -1;
  object-fit: cover;
  object-position: center center;
}

.il-theme-orange il-image-feature.il-overlay, il-image-feature.il-theme-orange.il-overlay {
  --il-focused-button-foreground-color: var(--il-orange);
  --il-image-feature-with-overlay-background-solid: var(--il-orange);
  --il-image-feature-with-overlay-background: rgba(255, 85, 46, .85);
  --il-image-feature-with-overlay-border: 1px solid var(--il-orange);
}

.il-theme-white il-image-feature, il-image-feature.il-theme-white {
  --il-button-foreground-color: var(--il-blue);
  --il-button-border-color: var(--il-blue);
  --il-focused-button-foreground-color: white;
  --il-focused-button-background-color: var(--il-blue);
  --il-image-feature-with-overlay-background-solid: white;
  --il-image-feature-with-overlay-background: rgba(255, 255, 255, .85);
  --il-image-feature-with-overlay-border: 1px solid #707070;
}

.il-theme-orange il-image-feature.il-overlay p, il-image-feature.il-theme-orange.il-overlay p {
  color: var(--il-base-25);
}

.il-align-right il-image-feature, il-image-feature.il-align-right {
  --il-image-feature-with-overlay-align: right;
}

@media only screen and (max-width: 990px) {
  il-image-feature.il-overlay img {
    position: initial;
    z-index: initial;
    display: block;
  }
}