il-introduction, .il-formatted il-introduction {
  display: block;
  background: var(--il-background-color);
  color: var(--il-heading-color);
  padding: 30px;

  &.il-align-center {
    text-align: center;
  }

  a.il-button, button.il-button {
    margin-right: 20px;
  }
}