
%il-nav-section-heading-expanded {
}

il-nav {
  background-color: var(--il-nav-background-color);
  --il-nav-item-white-space: nowrap;
  --il-nav-section-heading-indicator-width: 2.5em;

  ul {
    @include reset-list;
    position: relative;
    display: flex;
    flex-direction: var(--il-nav-section-flex-direction);
    --il-nav-indent: 0em;

    ul {
      --il-nav-indent: 1em;
    }

    ul ul {
      --il-nav-indent: 2em;
    }

    ul ul ul {
      --il-nav-indent: 3em;
    }

    ul ul ul {
      --il-nav-indent: 4em;
    }
  }
  li {
    @include reset-list;
    position: relative;
  }
  a {
    @include reset-link;
    display: block;
    line-height: 1.125;
    transition: background-color .3s;

    &:hover, &:focus {
      --il-nav-item-color: var(--il-altgeld);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  // Section

  il-nav-section {

    ul {
      @include reset-list;
      display: block;
    }

    li {
      @include reset-list-item;
    }

    a {
      background: var(--il-nav-background);
      color: var(--il-nav-color);
      display: block;
      font-size: 1.25em;
      font-family: var(--il-font-sans);
      line-height: 1.125rem;
      padding: .75em;
      padding-left: calc(.75em + var(--il-nav-indent));

      &:hover, &:focus {
        background: var(--il-nav-hover-background);
        color: var(--il-nav-hover-color);
        outline: 0;
        text-decoration: underline;
      }
    }

    *[slot="label"] {
      display: block;
      line-height: 1.125;
      padding: .75em;
      padding-left: calc(.75em + var(--il-nav-indent));
      font-weight: 600;
      font-family: var(--il-font-sans);
    }

    a[slot="label"] {
      background-color: var(--il-nav-background);
      color: var(--il-nav-color);

      &:hover, &:focus {
        background-color: var(--il-nav-hover-background);
        color: var(--il-nav-hover-color);
        text-decoration: underline;
      }
    }
  }

  // Navigation bar

  &:not([view="column"]) {
    --il-nav-section-position: absolute;
    --il-nav-item-padding-left: 20px;
    --il-nav-section-left: 0;
    --il-nav-section-top: 100%;
    --il-nav-section-max-width: 20em;
    --il-nav-section-min-width: 100%;
    --il-nav-section-border-width: 0 1px 3px;
    --il-nav-section-border-style: solid;
    --il-nav-item-font-weight: 600;
    --il-nav-section-display: block;

    il-nav-section {
      --il-nav-section-opacity: 0;
      --il-nav-section-pointer-events: none;
    }

    il-nav-section[expanded] {
      --il-nav-section-opacity: 1;
      --il-nav-section-pointer-events: auto;
    }

    il-nav-section il-nav-section {
      --il-nav-section-left: 100%;
      --il-nav-section-top: -1px;
      --il-nav-section-min-width: 100%;
      --il-nav-section-border-width: 1px 1px 3px 0;
      --il-nav-section-border-style: solid;
      --il-nav-indicator-transform: var(--il-nav-indicator-point-right);
      --il-nav-item-white-space: normal;
      --il-nav-item-padding-left: 20px;
    }

    ul {
      padding-top: .375em;
      flex-direction: row;
    }

    ul ul {
      padding-top: 0;
      flex-direction: column;
      min-width: auto;
    }
  }

  // Navigation column

  &[view="column"] {
    --il-nav-item-font-size: 1.25rem;
    --il-nav-background: var(--il-cloud-1);
    --il-nav-color: var(--il-blue);
    --il-nav-hover-background: var(--il-altgeld);
    --il-nav-hover-color: white;

    il-nav-section {
      --il-nav-section-contents-display: none;
    }

    il-nav-section[expanded] {
      --il-nav-background: white;
      --il-nav-color: var(--il-blue);
      --il-nav-section-contents-display: block;
    }

    il-nav-section[current] {
      --il-nav-background: var(--il-blue);
      --il-nav-color: white;
      --il-nav-section-contents-display: block;
    }

    ul {
      flex-direction: column;
    }
    ul ul {
      --il-nav-item-padding-left: 60px;
      border-top: 1px solid var(--il-cloud-3);
    }
    ul ul ul {
      --il-nav-item-padding-left: 80px;
    }
    ul ul ul ul {
      --il-nav-item-padding-left: 100px;
    }
    ul ul ul ul ul {
      --il-nav-item-padding-left: 120px;
    }
    ul ul ul ul ul ul {
      --il-nav-item-padding-left: 140px;
    }
    li {
      border-top: 1px solid var(--il-cloud-3);
    }
    li:first-of-type {
      border-top: 0;
    }
  }

  &[view="bar"] {
  }
}

il-nav-indicator {
  &.up {
    --il-nav-indicator-transform: var(--il-nav-indicator-point-up);
  }
  &.left {
    --il-nav-indicator-transform: var(--il-nav-indicator-point-left);
  }
  &.right {
    --il-nav-indicator-transform: var(--il-nav-indicator-point-right);
  }
}