
%il-nav-item {
  --il-nav-background: transparent;
  --il-nav-color: var(--il-blue);
  --il-nav-hover-background: white;
  --il-nav-hover-color: var(--il-altgeld);
}

%il-nav-expanded-item {
  --il-nav-background: white;
  --il-nav-color: var(--il-blue);
  --il-nav-hover-background: var(--il-altgeld);
  --il-nav-hover-color: white;
}

%il-nav-current-item {
  --il-nav-background: var(--il-blue);
  --il-nav-color: white;
  --il-nav-hover-background: var(--il-altgeld);
  --il-nav-hover-color: white;
}

%il-nav-bar {
  @extend %il-nav-item;
  --il-nav-font-size: 1em;
  --il-nav-indent: 0em;
  --il-nav-item-white-space: nowrap;
  --il-nav-section-heading-indicator-width: 2.5em;
  --il-nav-section-contents-display: block;
  --il-nav-section-contents-position: absolute;
  --il-nav-section-contents-border-color: rgba(0, 0, 0, .15);
  --il-nav-section-contents-border-width: 0 1px 3px;
  --il-nav-section-contents-border-style: solid;
  --il-nav-section-contents-max-width: 100%;
  --il-nav-section-contents-min-width: 16em;
  --il-nav-section-contents-left: 0;
  --il-nav-section-contents-top: 100%;

  /*
    --il-nav-item-padding-left: 20px;
    --il-nav-item-font-weight: 600;
    --il-nav-section-display: block;
   */

  il-nav-section {
    --il-nav-section-contents-opacity: 0;
    --il-nav-section-contents-pointer-events: none;
  }

  il-nav-section[expanded] {
    @extend %il-nav-expanded-item;
    --il-nav-section-contents-opacity: 1;
    --il-nav-section-contents-pointer-events: auto;
  }

  il-nav-section il-nav-section {
    --il-nav-section-contents-border-width: 1px 1px 3px 0;
    --il-nav-section-contents-border-style: solid;
    --il-nav-section-contents-left: 100%;
    --il-nav-section-contents-top: -1px;
    --il-nav-section-contents-min-width: 100%;

    --il-nav-indicator-transform: var(--il-nav-indicator-point-right);
    --il-nav-item-white-space: normal;
    --il-nav-item-padding-left: 20px;

    &[current], &[current] il-nav-section {
      @extend %il-nav-current-item;
    }
  }
}

%il-nav-column {
  --il-nav-background: var(--il-cloud-1);
  --il-nav-color: var(--il-blue);
  --il-nav-font-size: 1.25em;
  --il-nav-hover-background: var(--il-altgeld);
  --il-nav-hover-color: white;
  --il-nav-section-contents-display: none;
  --il-nav-section-contents-position: relative;
  --il-nav-section-contents-opacity: 1;
  --il-nav-section-contents-pointer-events: auto;
  --il-nav-section-contents-border-width: 0;
  --il-nav-section-contents-border-style: none;
  --il-nav-section-contents-max-width: 100%;
  --il-nav-section-contents-min-width: 100%;
  --il-nav-section-contents-left: 0;
  --il-nav-section-contents-top: 0;
}

il-nav {
  @extend %il-nav-bar;
  background-color: var(--il-nav-background-color);

  ul {
    @include reset-list;
    position: relative;
    display: flex;
    flex-direction: var(--il-nav-section-flex-direction);
    --il-nav-indent: 0em;
  }

  li {
    @include reset-list;
    position: relative;
  }
  a {
    @include reset-link;
    display: block;
    line-height: 1.125;
    padding: .75em;
    background: var(--il-nav-background);
    color: var(--il-nav-color);
    font-size: var(--il-nav-font-size);
    font-family: var(--il-font-sans);

    &:hover, &:focus {
      background-color: var(--il-nav-hover-background);
      color: var(--il-nav-hover-color);
    }

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 4px dotted;
      outline-offset: -4px;
    }
  }

  // Section

  il-nav-section {

    ul {
      @include reset-list;
      display: block;
    }

    li {
      @include reset-list-item;
    }

    a {
      padding-left: calc(.75em + var(--il-nav-indent));
    }

    *[slot="label"] {
      display: block;
      line-height: 1.125;
      padding: .75em;
      padding-left: calc(.75em + var(--il-nav-indent));
      font-weight: 600;
      font-family: var(--il-font-sans);
      color: currentColor;
    }

    a[slot="label"] {
      background-color: var(--il-nav-background);
      color: var(--il-nav-color);

      &:hover {
        background-color: var(--il-nav-hover-background);
        color: var(--il-nav-hover-color);
        text-decoration: underline;
      }
      &:focus {
        outline: 4px dotted;
        outline-offset: -4px;
      }
    }
  }

  // Navigation bar

  .disabled &:not([view="column"]) {

    il-nav-section {
    }

    ul {
      padding-top: .375em;
      flex-direction: row;
    }

    ul ul {
      padding-top: 0;
      flex-direction: column;
      min-width: auto;
    }
  }

  // Navigation column

  &[view="column"] {
    @extend %il-nav-column;

    ul {
      --il-nav-indent: 0em;

      ul {
        --il-nav-indent: 1em;

        ul {
          --il-nav-indent: 2em;

          ul {
            --il-nav-indent: 3em;

            ul {
              --il-nav-indent: 4em;
            }
          }
        }
      }
    }

    il-nav-section {
    }

    il-nav-section[expanded] {
      --il-nav-background: white;
      --il-nav-color: var(--il-blue);
      --il-nav-section-contents-display: block;
    }

    il-nav-section[current] {
      --il-nav-background: var(--il-blue);
      --il-nav-color: white;
      --il-nav-section-contents-display: block;
    }

    ul {
      flex-direction: column;
    }
    ul ul {
      --il-nav-item-padding-left: 60px;
      border-top: 1px solid var(--il-cloud-3);
    }
    ul ul ul {
      --il-nav-item-padding-left: 80px;
    }
    ul ul ul ul {
      --il-nav-item-padding-left: 100px;
    }
    ul ul ul ul ul {
      --il-nav-item-padding-left: 120px;
    }
    ul ul ul ul ul ul {
      --il-nav-item-padding-left: 140px;
    }
    li {
      border-top: 1px solid var(--il-cloud-3);
    }
    li:first-of-type {
      border-top: 0;
    }
  }

  &[view="bar"] {
  }
}

il-nav-indicator {
  &.up {
    --il-nav-indicator-transform: var(--il-nav-indicator-point-up);
  }
  &.left {
    --il-nav-indicator-transform: var(--il-nav-indicator-point-left);
  }
  &.right {
    --il-nav-indicator-transform: var(--il-nav-indicator-point-right);
  }
}