il-nav il-nav-section {
  z-index: 5000;
}

il-nav:not([compact]) {
}


il-nav:not([compact]) il-nav-section .il-subnav {
  @include reset-list;
  box-sizing: border-box;
  padding: 10px 20px 25px;
  width: 250px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
  background-color: white;
  clip-path: inset(0px -5px -5px -5px);

  a {
    @include reset-link;
    display: block;
    padding: 11px 5px 8px 5px;
    font: 700 rem(16px)/rem(18px) var(--il-font-sans);
    color: var(--il-blue);
    font-weight: normal;

    &:hover, &:focus {
      color: var(--il-altgeld);
      text-decoration: underline;
      outline: none;
    }
  }
}
il-nav[compact] il-nav-section .il-subnav {
  @include reset-list;
  padding: 10px 40px;
  background-color: white;
  border-top: 1px solid var(--il-cloud-3);

  li {
    @include reset-list-item;
    padding: 10px 0;
  }

  a {
    @include reset-link;
    color: var(--il-blue);
    font: 600 rem(20px)/rem(28px) var(--il-font-sans);
  }

  a:hover, a:focus {
    color: var(--il-altgeld);
    text-decoration: underline;
  }
}

.il-navigation--full {

  .il-navigation__menu {
    @include reset-list;
    display: flex;
    flex-direction: row;
  }

  .il-navigation__menu-item {
    @include reset-list-item;
  }

  .il-navigation__top-level {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .il-navigation__top-level-link {
    color: var(--il-blue);
    font: 700 16px/18px var(--il-font-sans);
  }

  .il-navigation__toggle {
    @include reset-button;
  }

  .il-navigation__toggle-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .il-navigation__submenu {
    display: none;
  }
}


.il-navigation--compact {
  & > ul {
    padding: 0;
    flex-direction: column;
  }

  & > ul > li > ul {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    border: 1px solid #999;
  }
}