.il-content-with-section-nav,
.il-formatted .il-content-with-section-nav {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-areas: "nav" "content";
  margin: 0;
  padding: 20px var(--il-content-margin);

  @media (min-width: 992px) {
    grid-gap: 44px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "nav content";
  }

  @media (min-width: 1200px) {
    margin: {
      left: 0;
      right: 0;
    }
    grid-gap: 0;
    grid-template-columns: auto 366px 44px 730px auto;
    grid-template-areas: ". nav . content .";
  }

  .il-content {
    grid-area: content;
    margin: 0;
  }

  .il-section-nav {
    grid-area: nav;
  }
}

il-section-nav,
.il-formatted il-section-nav {
  ul {
    @include reset-list;
  }

  li {
    @include reset-list-item;
  }

  a {
    @include reset-link;
    display: block;
    font-family: var(--il-font-sans);
    line-height: 1.35;
    color: var(--il-blue);
    text-align: left;
    font-weight: 700;
    font-size: 22px;

    &:hover,
    &:focus {
      color: var(--il-altgeld);
      outline: none;
      text-decoration: underline;
    }

    &[aria-current="page"] {
      color: var(--il-altgeld);
    }
  }

  li a {
    font-size: 20px;
    line-height: 1.5;
  }

  li li {
    padding-left: 15px;
  }

  li li a {
    font-size: 18px;
    font-weight: 600;
  }

  h3 {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }

  &:not([compact]) {
    li {
      background-color: white;
      border-bottom: 1px solid #d8d8d8;

      ul {
        padding-bottom: 20px;
      }

      li {
        border-bottom: 0;

        ul {
          padding-bottom: 0;
        }
      }
    }

    a {
      padding: 10px 25px;
      font-size: 20px;
    }

    li a {
      font-weight: 600;
      font-size: 18px;
      padding: {
        top: 16px;
        bottom: 16px;
      }
    }

    li li a {
      font-size: 16px;
      padding: {
        top: 10px;
        bottom: 10px;
      }
    }

    li li li a {
      padding-left: 29px;
    }
  }

  &[compact] {
    background-color: white;

    h3 {
      background-color: #fff;
    }

    > ul li {
      padding-left: 26px;
    }

    ul {
      border-top: solid 1px #d8d8d8;

      & ul {
        border-top: 0;
      }
    }

    li {
      border-bottom: solid 1px #d8d8d8;

      &:last-of-type {
        border-bottom: 0;
      }

      ul {
        padding-bottom: 4px;
      }

      li {
        padding-left: 19px;
        border-bottom: 0;

        ul {
          padding-bottom: 0;
        }
      }

      li li {
        padding-left: 19px;
        border-bottom: 0;

        ul {
          padding-bottom: 0;
        }
      }
    }

    a {
      padding: 10px 20px;
    }

    li li a {
      line-height: 1.5;
    }

    li li li {
      padding-left: 19px;
    }

    li li li a {
      font-size: 18px;
      font-weight: 600;
    }
  }
}
