il-unit-wordmark {
  > * {
    @include reset-spacing;
    text-align: left !important;
    display: block;
    margin-bottom: .25em;
    font-size: rem(18px);
    font-weight: 400;
    line-height: 1.2em;
    font-family: var(--il-source-sans);
  }
  > *:first-child {
    margin-top: -2px;
  }
  > *:last-child {
    margin-bottom: -2px;
    font-weight: 600;
    line-height: 1em;
    color: var(--il-blue);
  }
  * > {
    display: inline !important;
  }
  a {
    @extend .il-link;
    color: var(--il-blue) !important;
    text-decoration: none !important;
  }

  a:focus, a:hover {
    color: var(--il-altgeld) !important;
    outline: none;
  }

  h1 {
    @include reset-spacing;
    font-size: rem(24px);
  }
  .il-primary-unit {
    display: none;
  }
  @media (min-width: 768px) {
  .il-primary-unit {
    display: block;
  }
}
}
