
il-nav[compact] il-nav-section ul {
  @include reset-list;
  padding: 10px 40px;
  background-color: white;
  border-top: 2px solid var(--il-cloud-3);

  li {
    @include reset-list-item;
    padding: 10px 0;
  }

  a {
    @include reset-link;
    color: var(--il-blue);
    font: 600 21px/28px var(--il-source-sans);
  }
}

#before-nav {
  margin: 1em;
  border: 1px solid;
  padding: 1em;
  text-align: center;
}

.il-navigation--full {

  .il-navigation__menu {
    @include reset-list;
    display: flex;
    flex-direction: row;
  }

  .il-navigation__menu-item {
    @include reset-list-item;
  }

  .il-navigation__top-level {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .il-navigation__top-level-link {
    color: var(--il-blue);
    font: 700 16px/18px var(--il-source-sans);
  }

  .il-navigation__toggle {
    @include reset-button;
  }

  .il-navigation__toggle-icon {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .il-navigation__submenu {
    display: none;
  }
}


.il-navigation--compact {
  & > ul {
    padding: 0;
    flex-direction: column;
  }

  & > ul > li > ul {
    position: relative;
    top: auto;
    left: auto;
    width: auto;
    border: 1px solid #999;
  }
}