---
title: "Hero with alt text (deprecated)"
group: "Components: Hero"
layout: layouts/page.njk
---

<il-hero id="hero-with-no-alt-text" background="{{ "/_assets/images/hero-bg.jpg"|url }}">
  <h1>Hero with no alt text</h1>
</il-hero>

<il-hero id="hero-with-alt-text" background="{{ "/_assets/images/hero-bg.jpg"|url }}" alt="Alt text for the background image">
  <h1>Hero with alt text</h1>
</il-hero>
