---
title: Hero background color (deprecated)
group: "Components: Hero"
layout: layouts/page.njk
---

{% macro hero(color=null) %}
<il-hero color="{{ color }}">
    <h1>Innovating solutions every year</h1>
    <ul>
        <li>
            <a href="#">Link 1</a>
        </li>
        <li>
            <a href="#">Link 2</a>
        </li>
        <li>
            <a href="#">Link 3</a>
        </li>
    </ul>
</il-hero>
{% endmacro %}

<h2>Default</h2>

{{ hero() }}

<h2>Orange</h2>

{{ hero('orange') }}

<h2>Blue</h2>

{{ hero('blue') }}

