<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>Maximal footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="/dist/components.css">
    <script src="/dist/components.js"></script>
</head>
<body style="margin:0;padding:0">
<footer>
    <il-footer>

        <nav slot="social">
            <il-social-link service="facebook">Facebook</il-social-link>
            <il-social-link service="instagram">Instagram</il-social-link>
            <il-social-link service="linkedin">LinkedIn</il-social-link>
            <il-social-link service="pinterest">Pinterest</il-social-link>
            <il-social-link service="rss">RSS</il-social-link>
            <il-social-link service="snapchat">Snapchat</il-social-link>
            <il-social-link service="twitter">Twitter</il-social-link>
            <il-social-link service="weibo">Weibo</il-social-link>
            <il-social-link service="whatsapp">Whatsapp</il-social-link>
            <il-social-link service="youtube">YouTube</il-social-link>
        </nav>

        <p class="il-unit-name">Office of Undergraduate Admissions</p>
        <p>901 W Illinois Street, Urbana, IL 61801</p>

        <dl>
            <dt>Office Hours</dt>
            <dd>8:30am to 5:00pm, Monday-Friday (closed on all campus holidays)</dd>

            <dt>Phone</dt>
            <dd><a href="tel:+12173330302">217-333-0302</a></dd>

            <dt>Email</dt>
            <dd><a href="mailto:admissions@illinois.edu">admissions@illinois.edu</a></dd>

            <dt>Fax</dt>
            <dd><a href="tel:+12172444614">217-244-4614</a></dd>
        </dl>

    </il-footer>
</footer>
</body>
</html>
