<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>Maximal footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="/dist/toolkit.css">
    <script src="/dist/toolkit.js"></script>
</head>
<body class="il-page">
<footer>
    <il-footer>

        <p slot="parent-unit">
            <a href="https://illinois.edu/">Granger College of Engineering</a>
        </p>

        <nav slot="social">
            <il-social-link service="facebook" href="https://www.facebook.com/illinois.edu">Facebook</il-social-link>
            <il-social-link service="instagram" href="http://instagram.com/illinois1867">Instagram</il-social-link>
            <il-social-link service="linkedin" href="http://linkedin.com/edu/school?id=18321">LinkedIn</il-social-link>
            <il-social-link service="pinterest" href="http://pinterest.com/illinoisalma/">Pinterest</il-social-link>
            <il-social-link service="rss" href="http://illinois.edu/lb/rss/19/text.xml">RSS</il-social-link>
            <il-social-link service="snapchat" href="https://www.snapchat.com/add/uofillinois">Snapchat</il-social-link>
            <il-social-link service="twitter" href="http://twitter.com/Illinois_Alma">Twitter</il-social-link>
            <il-social-link service="weibo" href="http://weibo.com/uiuc2012">Weibo</il-social-link>
            <il-social-link service="whatsapp" href="https://www.whatsapp.com/">Whatsapp</il-social-link>
            <il-social-link service="youtube" href="http://youtube.com/user/Illinois1867">YouTube</il-social-link>
        </nav>

        <div slot="contact">
            <p class="il-unit-name"><a href="/index.html">Office of Undergraduate Admissions</a></p>
            <p>901 W Illinois Street, Urbana, IL 61801</p>

            <dl>
                <dt>Office Hours</dt>
                <dd>8:30am to 5:00pm, Monday-Friday (closed on all campus holidays)</dd>

                <dt>Phone</dt>
                <dd><a href="tel:+12173330302">217-333-0302</a></dd>

                <dt>Email</dt>
                <dd><a href="mailto:admissions@illinois.edu">admissions@illinois.edu</a></dd>

                <dt>Fax</dt>
                <dd><a href="tel:+12172444614">217-244-4614</a></dd>
            </dl>
        </div>

        <div class="il-footer-navigation">
            <nav>
                <h2>Title Here</h2>
                <ul>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                </ul>
            </nav>
            <nav>
                <h2>Title Here</h2>
                <ul>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                </ul>
            </nav>
            <nav>
                <h2>Title Here</h2>
                <ul>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                    <li><a href="/index.html">This is a link</a></li>
                </ul>
            </nav>
            <nav class="il-actions">
                <h2 class="il-invisible">Actions</h2>
                <ul>
                    <li><a href="/index.html">Apply Now</a></li>
                    <li><a href="/index.html">Contact Us</a></li>
                    <li><a href="/index.html" class="il-button--blue">Get Directions</a></li>
                    <li><a href="/index.html" class="il-button--cloud">Donate Now</a></li>
                </ul>
            </nav>
        </div>

        <div slot="links">
            <a href="#">Privacy</a>
            <a href="#">College Bylaws</a>
            <a href="#">Accreditation</a>
            <a href="#">Login</a>
            <a href="#">Copyright</a>
            <a href="#">Accessibility</a>
        </div>

    </il-footer>
</footer>
</body>
</html>
