<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>Minimal footer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="/dist/toolkit.css">
    <script src="/dist/toolkit.js"></script>
</head>
<body class="il-page">
<footer>
    <il-footer>
        <div slot="contact">
            <p class="il-unit-name"><a href="#">College of Liberal Arts &amp; Sciences</a></p>
        </div>
    </il-footer>
</footer>
</body>
</html>
