<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>OneTrust</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">

    <!-- OneTrust Cookies Consent Notice start, illinois.edu -->
    <script src="https://onetrust.techservices.illinois.edu/scripttemplates/otSDKStub.js"  type="text/javascript" charset="UTF-8" data-domain-script="26be7d61-2017-4ea7-8a8b-8f1704889763"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end, illinois.edu -->

    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="/dist/toolkit.css">
    <script src="/dist/toolkit.js"></script>
</head>
<body class="il-page">
<footer>
    <il-footer>

        <div slot="links">
            <!-- OneTrust Cookies Settings button start -->
            <a class="optanon-show-settings il-cookie-settings">Cookie Settings</a>
            <!-- OneTrust Cookies Settings button end -->
        </div>

    </il-footer>
</footer>
</body>
</html>
