/*

Inline text

https://developer.mozilla.org/en-US/docs/Web/HTML/Element#inline_text_semantics

abbr
bdi
bdo
br
cite
code
data
em
i
kbd
q
rp
rt
ruby
s
samp
small
span
sub
time
u
var
wbr

*/


b, strong {
  font-weight: 600;
}

dfn {
  font-style: normal;
  font-weight: bold;
}

mark {
  background-color: var(--il-storm-light-2);
}
