<!DOCTYPE html>
<html class="il-toolkit">
<script src="../il-call-to-action.component.js" type="module"></script>
<script src="../../il-content/il-content.component.js" type="module"></script>
<script src="../../il-icon/il-icon.component.js" type="module"></script>
<script src="../../il-page/il-page.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-page>
  <il-call-to-action>
    <il-icon slot="icon">faq</il-icon>
    <il-content>
      <h3>Get started today!</h3>
      <p>Enroll in a class after you are admitted as a <a href="#">non-degree student</a>.</p>
      <p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Accessing email/Compass</a>
      </p>
    </il-content>
  </il-call-to-action>
</il-page>
