---
title: Section navigation with il-formatted
group: "Components: Section navigation"
layout: layouts/page.njk
---
<div class="il-formatted">
<div class="il-content-with-section-nav section-nav-example">
  <div class="il-section-nav">
    <il-section-nav>
      <h3>
        <a href="#">Programs of Study</a>
      </h3>
      <ul>
        <li>
          <a href="#">Undergraduate Degrees</a>
          <ul>
            <li>
              <a href="#">Animal Sciences Major</a>
              <ul>
                <li>
                  <a href="#" id="link">Companion Animal Equine Science Active Page</a>
                </li>
                <li>
                  <a href="#">Food Animal Production and Management</a>
                </li>
                <li>
                  <a href="#">Science, Pre-Veterinary, and Medical</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="#">Computer Science &amp; Animal Science</a>
            </li>
            <li>
              <a href="#">Minors</a>
            </li>
            <li>
              <a href="#">Focus Areas</a>
            </li>
            <li>
              <a href="#">Experiential Learning</a>
            </li>
            <li>
              <a href="#">FAQ</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Graduate Degrees</a>
        </li>
        <li>
          <a href="#">Certificates</a>
        </li>
      </ul>
    </il-section-nav>
  </div>
  <div class="il-content">
    <div class="placeholder">Main page content</div>
  </div>
</div>
</div>