<!DOCTYPE html>
<script src="../il-nav-section.component.js" type="module"></script>

<il-nav-section>
    <span slot="label">About Us</span>
    <ul>
        <li><a href="/mission-vision">Mission &amp; Vision</a></li>
        <li><a href="/history">Our History</a></li>
        <li><a href="/campus">Our Campus</a></li>
        <li><a href="/values">Our Values</a></li>
        <li><a href="/strategic-plan">Strategic Plan</a></li>
        <li><a href="/board-of-trustees">Board of Trustees </a></li>
        <li><a href="/accreditation">Accreditation</a></li>
    </ul>
</il-nav-section>

