---
title: Footer (default view, paragraph)
group: "Components: Footer"
layout: layouts/page.njk
---
<il-footer>

<div slot="contact" class="il-footer-contact uofi_address">
<p><a href="/" id="link-1">Animal Science</a></p>
<p>174 Bevier Hall, MC-000</p>
<p>905 S. Goodwin Ave</p>
<p>Urbana, IL 61801</p>
<p>217-333-3165</p>
<p>Email: <a href="mailto:ACES-ALEC@illinois.edu">ACES-ALEC@illinois.edu</a></p>
</div>

<div slot="social" class="il-footer-social">
<ul>
<li><a href="https://www.instagram.com/educationillinois/">Instagram</a></li>
<li><a href="https://www.facebook.com/educationatillinois?ref=ts">Facebook</a></li>
<li><a href="https://twitter.com/edILLINOIS">Animal Science Twitter Account that is long</a></li>
<li><a href="https://www.youtube.com/user/educationatillinois">Youtube</a></li>
<li><a href="https://www.linkedin.com/in/educationatillinois">LinkedIn</a></li>
</ul>
</div>

<div slot="parent" class="il-footer-parent">
<p><a href="#">College of Agricultural, Consumer and Environmental Sciences</a></p>
<p><a href="#">Grainger College of Engineering</a></p>
<p><a href="#">College of Education</a></p>
</div>

<nav slot="links" class="il-footer-links il-footer-links-full" aria-label="Legal notices">
<ul>
<li><button id="ot-sdk-btn" class="ot-sdk-show-settings">About Cookies</button></li>
<li><a href="#">Privacy Policy</a></li>
<li>&#169; 2021 University of Illinois Board of Trustees</li>
<li><a href="#">College Bylaws</a></li>
<li><a href="#">Login</a></li>
</ul>
</nav>

<div class="il-footer-navigation-single">
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pretium massa id elit ultrices maximus. Vestibulum leo erat, accumsan vitae justo vel, vehicula bibendum enim. Duis mi nibh, interdum vitae est id, gravida suscipit nibh. Nam sodales mattis felis eget aliquet. Curabitur et enim metus. Maecenas auctor hendrerit lacinia. Curabitur vitae risus a velit euismod tincidunt et nec tellus. 
Quisque et suscipit urna. Nullam pellentesque turpis a pharetra feugiat. In hac habitasse platea dictumst. Cras rutrum convallis ligula, eu malesuada ex maximus sit amet. Vestibulum vulputate mi nibh, vel facilisis augue pharetra at. Fusce tempor, velit ut pellentesque pretium, mi massa cursus elit, id fermentum orci metus at turpis. Nunc consequat fermentum varius. </p>
</div>

</il-footer>