---
title: "Navigation column: One level"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---
<div id="nav" class="navigation-container navigation-container--compact">
    <il-nav label="Mythical University" view="column">
        <ul>
            <li><a href="#">Consectetur</a></li>
            <li><a href="#">Adipiscing</a></li>
            <li><a href="#">Incididunt</a></li>
            <li><a href="#">Exercitation</a></li>
        </ul>
    </il-nav>
</div>