---
title: Back to top
group: "Components: Back to top"
layout: layouts/page.njk
stylesheets: ["tests.css", "back-to-top.css"]
---
<div class="header-placeholder"></div>
<div class="body-placeholder">
  {% for i in range(0, 20) %}
  <div></div>
  {% endfor %}
</div>
<div class="footer-placeholder"></div>
<il-back-to-top></il-back-to-top>