<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Web toolkit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link rel="stylesheet" href="{{ version.dist }}/toolkit.css">
        <link rel="stylesheet" href="{{ "/_assets/docs.css" | url }}">
        {% block stylesheets %}
            {% if stylesheet %}
                <link rel="stylesheet" href="{{ stylesheet | url }}">
            {% endif %}
        {% endblock %}
        <script src="{{ version.dist }}/toolkit.js"></script>
    </head>
    <body>
        <div class="page">
            <header>
                <h1>Web toolkit</h1>
                <p>Version {{ pkg.version }}</p>
            </header>
            <aside class="sidebar">
                {% include "navigation.njk" %}
            </aside>
            <main class="main">
                {% block main %}
                    {{ content | safe }}
                {% endblock %}
            </main>
            <footer>
                <p>&copy; 2021, University of Illinois Urbana-Champaign</p>
            </footer>
        </div>
        {% block scripts %}
            {% if script %}
                <script src="{{ script | url }}"></script>
                <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
            {% endif %}
        {% endblock %}
    </body>
</html>


