<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Web toolkit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link rel="stylesheet" href="{{ version.dist }}/toolkit.css">
        <link rel="stylesheet" href="{{ "/_assets/docs.css" | url }}">
        {% block stylesheets %}
            {% if stylesheet %}
                <link rel="stylesheet" href="{{ stylesheet | url }}">
            {% endif %}
        {% endblock %}
        <script src="{{ version.dist }}/toolkit.js"></script>
    </head>
    <body>
        <div class="page">
            <header>
                <h1>Web toolkit</h1>
                <p>Version {{ pkg.version }}</p>
            </header>
            <aside class="sidebar">
                {% include "navigation.njk" %}
            </aside>
            <main class="main">
                {% block main %}

                    {{ content | safe }}

                    {% if tests %}
                        {% include "tests.njk" %}
                    {% endif %}

                {% endblock %}
            </main>
            <footer>
                &copy; 2021, University of Illinois Board of Trustees
                &bull;
                <a href="https://www.vpaa.uillinois.edu/resources/web_privacy">Privacy</a>
                &bull;
                <a href="https://illinois.edu/resources/website/accessibility.html">Accessibility</a>
                <input type="text" id="clipboard-buffer" name="clip" value="" readonly>
            </footer>
        </div>
        {% block scripts %}
            <script src="{{ "/_assets/docs.js" | url }}"></script>
        {% endblock %}
    </body>
</html>


