{% extends "layouts/test.njk" %}

{% block styles %}
    <style>
        body {
            margin: 0;
            padding: 20px;
        }
        h1 {
            margin: 0;
            padding: 0 20px;
            font: 700 36px var(--il-source-sans);
        }
        .icon-sheet {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        .icon-sheet li {
            margin: 0;
            padding: 20px;
            list-style: none;
            text-align: center;
        }
        .icon-sheet__icon {
            display: block;
            font-size: 72px;
        }
        .icon-sheet--solid .icon-sheet__icon {
            font: 72px var(--il-icons-solid);
        }
        .icon-sheet--link .icon-sheet__icon {
            font: 72px var(--il-icons-line);
        }
        .icon-sheet__label {
            display: block;
            font: 400 14px var(--il-source-sans);
        }
    </style>
{% endblock %}

{% block body %}

    <h1>{{ title }}</h1>

    {{ content | safe }}

{% endblock %}
