{% extends "layouts/test.njk" %}

{% macro specimen(font, weight) %}
    <li>
        <span class="specimen" id="{{ font.var }}" style="font-family:var(--{{ font.var }});font-weight:{{ weight }};font-style:{{ font.style }}">
            AaBbCcDdEeFfGgHhIiJjKkLlMmNnOoPpQqRrSsTtUuVvWwXxYyZz0123456789
        </span>
        <span class="label">{{ font.name }} ({{ weight }} {{ font.style }})</span>
    </li>
{% endmacro %}

{% block styles %}
    <style>
        body {
            margin: 0;
            padding: 20px;
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        li {
            list-style: none;
            margin: 0;
            padding: 20px;
        }
        .specimen {
            display: block;
            width: 320px;
            font-size: 36px;
            line-height: 1em;
            overflow-wrap: anywhere;
        }
        .label {
            display: block;
            margin-top: 10px;
            font: 700 14px var(--il-source-sans);
        }
    </style>
{% endblock %}

{% block body %}
    <ul>
        {% for weight in font.weights %}
            {{ specimen(font, weight) }}
        {% endfor %}
    </ul>
{% endblock %}