<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Header</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../dist/toolkit.css">
        <link rel="stylesheet" href="../docs.css">
        <style>
        </style>
        <script src="/dist/toolkit.js"></script>
    </head>
    <body class="il-page docs">
        <header>
            <il-header>
                <il-unit-wordmark slot="wordmark">
                    <h1><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></h1>
                </il-unit-wordmark>
            </il-header>
        </header>
        <main>

            <div class="il-page-title il-page-title--poster">
                <nav class="il-breadcrumbs">
                    <h2 class="il-invisible">You are here</h2>
                    <ol>
                        <li><a href="../index.html">Home</a></li>
                        <li><a href="../components.html">Components</a></li>
                        <li>Header</li>
                    </ol>
                </nav>
                <h1>Header</h1>
            </div>

            <section class="doc-section">


                <section class="doc-text il-formatted">
                    <h2>Structure</h2>
                    <p>The header has 2 areas for custom content:</p>
                </section>

                <div class="mockup" data-mockup-size="medium">
                    <div class="mockup-controls">
                        <button data-mockup-size="narrow" class="il-button il-button--light">Narrow</button>
                        <button data-mockup-size="medium" class="il-button il-button--dark">Medium</button>
                        <button data-mockup-size="wide" class="il-button il-button--light">Wide</button>
                    </div>
                    <div class="mockup-container">
                        <div class="header component-mockup">
                            <div class="header__campus">
                                University of Illinois Urbana-Champaign
                            </div>
                            <div class="header__main">
                                <div class="header__wordmark">
                                    <div class="component-mockup__slot">
                                        slot="<span class="component-mockup__slot-name">wordmark</span>"
                                    </div>
                                </div>
                                <div class="header__default">
                                    <div class="component-mockup__slot component-mockup__slot--default">default slot</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <section class="doc-text il-formatted">

                    <ul class="slots">
                        <li>
                            <h3>slot="<b>wordmark</b>"<strong> (required)</strong></h3>
                            <p>Unit wordmark</p>
                        </li>
                        <li class="default-slot">
                            <h3>Default slot</h3>
                            <p>Search, menu button, calls to action</p>
                        </li>
                    </ul>

                    <h2>Test pages</h2>

                    <ul>
                        <li><a href="../tests/components/header/default.html">Default</a></li>
                        <li><a href="../tests/components/header/name.html">Site name</a></li>
                        <li><a href="../tests/components/header/name-link.html">Site name with link</a></li>
                        <li><a href="../tests/components/header/wordmark.html">Wordmark</a></li>
                        <li><a href="../tests/components/header/buttons.html">With buttons</a></li>
                        <li><a href="../tests/components/header/search.html">With search form</a></li>
                        <li><a href="../tests/components/header/links-and-search.html">With links and search form</a></li>
                    </ul>

                </section>

            </section>
        </main>

        <footer>
            <il-footer>
                <section slot="contact">
                    <p><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></p>
                </section>
            </il-footer>
        </footer>

        <script src="../docs.js"></script>
    </body>
</html>
