<!DOCTYPE html>
<script src="../il-layout.component.js" type="module"></script>
<link rel="stylesheet" href="../il-layout.css">
<link rel="stylesheet" href="../../../css/base.css">

<style>
  section {
    margin-bottom: 1em !important;
  }
  .placeholder {
    position: relative;
    min-height: 6em;
    background-color: #999;
  }
</style>

<il-page>

  <il-layout columns="1">
    <div class="placeholder"></div>
  </il-layout>

  <hr>

  <il-layout columns="2">
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  </il-layout>

  <hr>

  <il-layout columns="3">
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  </il-layout>

  <hr>

  <il-layout columns="4">
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  </il-layout>

  <hr>

  <il-layout columns="5">
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
    <div class="placeholder"></div>
  </il-layout>

</il-page>

