<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Header with buttons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link rel="stylesheet" href="/dist/toolkit.css">
        <script src="/dist/toolkit.js"></script>
        <style>
            form {
                max-width: 200px;
            }
        </style>
    </head>
    <body class="il-page">
        <header>
            <il-header>
                <il-unit-wordmark slot="wordmark">
                    <h1 class="il-primary-unit"><a href="/index.html">Office of Strategic Marketing &amp; Branding</a></h1>
                </il-unit-wordmark>
                <div class="il-header-content">
                    <div>
                        <button class="il-header-button" data-icon-name="menu">Menu</button>
                        <button class="il-header-button" data-icon-name="search">Search</button>
                        <button class="il-header-button" data-icon-name="exit">Close</button>
                    </div>
                    <div>
                        <button class="il-header-button il-header-button--blue" data-icon-name="menu">Menu</button>
                        <button class="il-header-button il-header-button--blue" data-icon-name="search">Search</button>
                        <button class="il-header-button il-header-button--blue" data-icon-name="exit">Close</button>
                    </div>
                    <div>
                        <button class="il-header-button il-header-button--orange" data-icon-name="menu">Menu</button>
                        <button class="il-header-button il-header-button--orange" data-icon-name="search">Search</button>
                        <button class="il-header-button il-header-button--orange" data-icon-name="exit">Close</button>
                    </div>
                </div>
            </il-header>
        </header>
    </body>
</html>
