---
title: Header with menu button
layout: layouts/test.njk
---
<il-header>
    <il-unit-wordmark slot="wordmark">
        <h1><a href="/index.html">Office of Strategic Marketing &amp; Branding</a></h1>
    </il-unit-wordmark>
    <button class="il-header-button" data-icon-name="menu">Menu</button>
</il-header>
