<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>New header</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="/dist/toolkit.css">
    <script src="/dist/toolkit.js"></script>
</head>
<body class="il-page">


<a id=“menu-item”>Programs of Study</a><button aria-label=“Toggle Programs of Study”>^</button>
<a id=“menu-item”>Programs of Study</a><button aria-labelledby=“toggle-text menu-item”>^</button> <span id=“toggle-text”>Toggle</toggle><!— toggle text can be anywhere in the page and only needs to exists once. —>


<header>
    <il-header>

        <div slot="wordmark">
            College of Agricultural, Consumer & Environmental Sciences
        </div>

        <form slot="search" class="il-search">
            <input type="text">
            <button type="submit">Search</button>
        </form>

        <nav slot="links" class="il-links">
            <ul>
                <li><a href="#">Apply</a></li>
                <li><a href="#">Donate</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>

        <nav slot="navigation" class="il-navigation">
            <ul>
                <li>
                    <a href="#">About</a>
                    <ul>
                        <li>
                            <a href="#">Overview of ACES</a>
                        </li>
                        <li>
                            <a href="#">Programs of Study</a>
                        </li>
                        <li>
                            <a href="#">Diversity</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Visit</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Academics</a>
                    <ul>
                        <li>
                            <a href="#">Programs of Study</a>
                        </li>
                        <li>
                            <a href="#">Future Students</a>
                        </li>
                        <li>
                            <a href="#">Admissions</a>
                        </li>
                        <li>
                            <a href="#">Student Life</a>
                        </li>
                        <li>
                            <a href="#">Current Students</a>
                        </li>
                        <li>
                            <a href="#">Study Abroad</a>
                        </li>
                        <li>
                            <a href="#">Career Services</a>
                        </li>
                        <li>
                            <a href="#">Student Diversity and Inclusion</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Staff</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Research</a>
                    <ul>
                        <li>
                            <a href="#">Research Areas</a>
                        </li>
                        <li>
                            <a href="#">Research History</a>
                        </li>
                        <li>
                            <a href="#">Facilities</a>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                        </li>
                        <li>
                            <a href="#">Safety and Compliance</a>
                        </li>
                        <li>
                            <a href="#">Civil Rights</a>
                        </li>
                        <li>
                            <a href="#">Staff</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Extension</a>
                    <ul>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Staff</a>
                        </li>
                        <li>
                            <a href="#">Programs</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">International</a>
                    <ul>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">International Engagements</a>
                        </li>
                        <li>
                            <a href="#">Resources</a>
                        </li>
                        <li>
                            <a href="#">Newsletter &amp; Publications</a>
                        </li>
                        <li>
                            <a href="#">Study Abroad</a>
                        </li>
                        <li>
                            <a href="#">Contact Us</a>
                        </li>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">Staff</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">News</a>
                    <ul>
                        <li>
                            <a href="#">Events</a>
                        </li>
                        <li>
                            <a href="#">#askACES Podcast</a>
                        </li>
                        <li>
                            <a href="#">Voices of ACES Blog</a>
                        </li>
                        <li>
                            <a href="#">Subscribe</a>
                        </li>
                        <li>
                            <a href="#">ACES Seminars</a>
                        </li>
                        <li>
                            <a href="#">COVID-19</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">People</a>
                    <ul>
                        <li>
                            <a href="#">College Leadership</a>
                        </li>
                        <li>
                            <a href="#">Academic Department Heads</a>
                        </li>
                        <li>
                            <a href="#">Academic Units</a>
                        </li>
                        <li>
                            <a href="#">Administrative Units</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">Giving</a>
                    <ul>
                        <li>
                            <a href="#">With ACES Priorities</a>
                        </li>
                        <li>
                            <a href="#">Ways to Give</a>
                        </li>
                        <li>
                            <a href="#">Give Now</a>
                        </li>
                        <li>
                            <a href="#">Alumni Association</a>
                        </li>
                        <li>
                            <a href="#">Student Committee</a>
                        </li>
                        <li>
                            <a href="#">4-H Foundation</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>

    </il-header>
</header>
</body>
</html>
