@mixin heading-spacing($top: 30px, $bottom: 20px) {
  margin: {
    top: rem($top);
    bottom: rem($bottom);
  }
  &:first-child {
    margin-top: 0;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 1.667em 0 0;
  padding: 0;
}

h1 {
  @include reset-heading;
  @include heading-spacing;
  font: 700 rem(40px) / rem(52px) var(--il-source-sans);
  color: var(--il-heading-color);
}
h2 {
  @include reset-heading;
  @include heading-spacing;
  font: 600 rem(35px) / rem(45px) var(--il-source-sans);
  color: var(--il-heading-color);
}
h3 {
  @include reset-heading;
  @include heading-spacing;
  font: 600 rem(28px) / rem(32px) var(--il-source-sans);
  color: var(--il-heading-color);
}
h4 {
  @include reset-heading;
  @include heading-spacing;
  font: 600 rem(24px) / rem(28px) var(--il-source-sans);
  color: var(--il-heading-color);
}
h5 {
  @include reset-heading;
  @include heading-spacing;
  font: 600 rem(20px) / rem(22px) var(--il-source-sans);
  color: var(--il-heading-color);
}
h6 {
  @include reset-heading;
  @include heading-spacing;
  font: 600 rem(18px) / rem(22px) var(--il-source-sans);
  color: var(--il-heading-color);
}
