h1, h2, h3, h4, h5, h6 {
  color: var(--il-heading-color);
  font-family: var(--il-source-sans);
  text-align: left;
}

h1 {
  @include block-formatting($size: 40px, $line-height: 52px, $weight: 700);
}
h2 {
  @include block-formatting($size: 35px, $line-height: 45px, $weight: 600);
}
h3 {
  @include block-formatting($size: 28px, $line-height: 32px, $weight: 600);
}
h4 {
  @include block-formatting($size: 24px, $line-height: 28px, $weight: 600);
}
h5 {
  @include block-formatting($size: 20px, $line-height: 23px, $weight: 700);
}
h6 {
  @include block-formatting($size: 18px, $line-height: 22px, $weight: 600);
}
