@mixin block-formatting($size, $line-height, $weight: 400, $margin-top: 30px) {
  font-size: em($size);
  font-weight: $weight;
  line-height: em($line-height, $size);
  margin: em($margin-top, $size) 0 0;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }
}

.il-formatted {
  font-weight: 400;
  font-size: $base-text-size;
  line-height: em(30px);
  font-family: var(--il-source-sans);
  color: var(--il-text-color);

  @import "headings";
  @import "text";
  @import "lists";

  @import "inline-text";
  @import "links";


  @import "tables";
}
