
ul,
ol {
  box-sizing: border-box;
  padding-top: 0;
  padding-bottom: 0;
  margin: {
    top: rem(15px);
    bottom: 0;
  }
  & + p {
    margin-top: rem(25px);
  }

  ul, ol {
    margin-top: 0;
  }
}
li {
  @include reset-spacing;
}

// Ordered list

ol {
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

// Unordered list

ul {
  padding: 0;

  li {
    @include reset-list;
    position: relative;
    margin-left: 40px;
    list-style: disc;

    &::marker {
      font-size: .9em;
    }
  }

  li li::after {
    background-color: transparent;
  }
}

// Definition list

dl {}

dt {
  font-weight: bold;
  margin-top: 12px;

  &:first-of-type {
    margin-top: 0;
  }
}

dd {}