ul,
ol {
  margin: {
    top: em(25px);
    bottom: 0;
  }
  padding: 0;
  list-style: none;

  & + p {
    margin-top: em(25px);
  }
}

p + ul,
p + ol {
  margin-top: em(15px);
}

ol {
  ol {
    list-style-type: lower-alpha;
    ol {
      list-style-type: lower-roman;
    }
  }
}

li {
  @include reset-list;
  position: relative;
  margin-left: em(40px);
  list-style: disc;

  &::marker {
    font-size: .9em;
  }
}

li li::after {
  background-color: transparent;
}

dt {
  font-weight: bold;
  margin-top: em(12px);

  &:first-of-type {
    margin-top: 0;
  }
}
