
.palette {
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
}
.palette + .palette {
    margin-top: 50px;
    border-top: 1px solid var(--il-cloud-3);
    padding-top: 50px;
}
.palette > ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.palette > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.palette > ul > li.js-enabled {
    cursor: pointer;
}
.palette > ul > li.active {
    background-color: #101010;
    color: white;
}
.chip {
    border-width: 200px 0 0;
    border-style: solid none none;
    padding: 20px;
}
.chip p {
    margin: .25em 0 0;
    padding: 0;
    font: 600 36px/1.25em var(--il-source-sans);
}
.chip code {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    font: 16px var(--source-code-font);
}
.chip .hex {
    margin: 0 0 .1em;
    padding: 0;
    font: 300 36px var(--source-code-font);
}


.color-card {
    clear: left;
    border-top: 1px solid var(--il-cloud-3);
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 50px;
}
.color-card__sample {
    display: block;
    width: 100%;
    height: 160px;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, .25);
}
.color-card ul {
    list-style: none;
    grid-area: variants;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    border-left: 1px solid var(--il-cloud-2);
    padding: 0 0 0 50px;
}
.color-card li {
    list-style: none;
    margin: 0 20px 20px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "sample info";
    grid-gap: 20px;
}

.compatibility-widget {
    padding: 20px;
}
.compatibility-widget > .heading {
    padding: 10px 0;
}
.compatibility-widget > .heading button {
    display: inline;
    margin: 0 0 0 .5em;
    padding: 10px;
    border: 0;
    font-weight: bold;
    font-family: inherit;
    font-size: inherit;
    background-color: transparent;
    color: var(--il-arches-blue);
    cursor: pointer;
}
.compatibility-widget > .heading button:hover {
    text-decoration: underline;
}
.compatibility-widget > .heading button:focus {
    outline: var(--il-focus-outline);
}
.compatibility-widget[data-mode=fg] > .heading button[data-mode=fg],
.compatibility-widget[data-mode=bg] > .heading button[data-mode=bg] {
    background-color: #101010;
    color: white;
    cursor: default;
    text-decoration: none;
}

.compatibility-widget .options ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
    margin: 0;
    padding: 0;
}
.compatibility-widget .options li {
    list-style: none;
    margin: 0;
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.compatibility-widget .options li.selected {
    background-color: #101010;
}
.compatibility-widget .options button {
    position: relative;
    display: block;
    width: 48px;
    height: 48px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-indent: 200%;
    white-space: nowrap;
    border: 3px solid rgba(0, 0, 0, .5);
    cursor: pointer;
}
.compatibility-widget .options li.selected button {
    border-color: rgba(255, 255, 255, .75);
}
.compatibility-widget .options button:focus {
    outline: var(--il-dotted-focus-outline);
}
.compatibility-widget .options li.selected button:focus {
    outline-color: var(--il-arches-blue-2);
}
.compatibility-widget .widget {
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-areas: "colors sample results";
    grid-gap: 50px;
}
.compatibility-widget .sample .preview {
    position: relative;
    width: 24em;
    height: 14em;
    overflow: hidden;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .25);
}
.compatibility-widget .sample .preview samp {
    white-space: nowrap;
    font: 400 2em/1.1 var(--il-source-sans);
}
.compatibility-widget .sample .code {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--il-cloud-1);
    font: 400 1em/1.5 var(--source-code-font);
}
.compatibility-widget .results p {
    margin: 0;
    padding: 0;
}
.compatibility-widget .results .results__heading {
    margin-top: .5em;
    font: 700 24px var(--il-source-sans);
}
.compatibility-widget .results .results__heading:first-child {
    margin-top: 0;
}
.compatibility-widget .results__value {
    font: 400 32px var(--il-source-sans);
}
.compatibility-widget .results__status {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    font-size: 18.5px;
}
.compatibility-widget .results__status li {
    list-style: none;
    margin-right: 10px;
    padding: .5em 1em;
    border: 2px solid var(--il-cloud-1);
    font-weight: bold;
}
.compatibility-widget .results__status li.pass {
    background-color: #101010;
    border-color: #101010;
    color: white;
}
.compatibility-widget .results__status li.fail {
    color: var(--il-altgeld);
}
.compatibility-widget .results__links {
    margin: 1em 0 0;
    padding: 0;
}
.compatibility-widget .results__links li {
    list-style: none;
    margin: 0;
    padding: 0;
}
