
.palette {
    box-sizing: border-box;
    max-width: 1300px;
    margin: 0 auto;
    padding: 50px;
}
.palette + .palette {
    margin-top: 50px;
    border-top: 1px solid var(--il-cloud-3);
    padding-top: 50px;
}
.palette > ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.palette > ul > li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.palette > ul > li.js-enabled {
    cursor: pointer;
}
.palette > ul > li.active {
    background-color: #101010;
    color: white;
}
.chip {
    border-width: 200px 0 0;
    border-style: solid none none;
    padding: 20px;
}
.chip p {
    margin: .25em 0 0;
    padding: 0;
    font: 600 36px/1.25em var(--il-source-sans);
}
.chip code {
    margin: 0;
    padding: 0;
    display: block;
    background-color: transparent;
    font: 16px var(--source-code-font);
}
.chip .hex {
    margin: 0 0 .1em;
    padding: 0;
    font: 300 36px var(--source-code-font);
}


.color-card {
    clear: left;
    border-top: 1px solid var(--il-cloud-3);
    margin: 0 auto;
    max-width: 1200px;
    padding: 50px 0;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 50px;
}
.color-card__sample {
    display: block;
    width: 100%;
    height: 160px;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    border: 1px solid rgba(0, 0, 0, .25);
}
.color-card ul {
    list-style: none;
    grid-area: variants;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    border-left: 1px solid var(--il-cloud-2);
    padding: 0 0 0 50px;
}
.color-card li {
    list-style: none;
    margin: 0 20px 20px 0;
    padding: 0;
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "sample info";
    grid-gap: 20px;
}

.compatibility-widget {
    margin-top: 50px;
}
.compatibility-widget > .heading {
    margin: 0 0 50px;
    padding: 0;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
}
.compatibility-widget > .heading button {
    display: inline;
    margin: 0;
    padding: 6px 10px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    background-color: transparent;
    color: var(--il-industrial-blue);
    cursor: pointer;
    text-decoration: underline;
}
.compatibility-widget > .heading button:first-of-type {
    margin-left: .5em;
}
.compatibility-widget > .heading button:hover {
    color: var(--il-orange);
}
.compatibility-widget > .heading button:focus {
    outline: var(--il-focus-outline);
}
.compatibility-widget[data-mode=fg] > .heading button[data-mode=fg],
.compatibility-widget[data-mode=bg] > .heading button[data-mode=bg] {
    border-color: var(--il-arches-blue-2);
    cursor: default;
    text-decoration: none;
}

.compatibility-widget .widget {
    display: grid;
    grid-template-columns: 240px 1fr 1fr;
    grid-template-areas: "colors code code" "colors small large" "colors results results";
    grid-gap: 50px;
}
.compatibility-widget .options {
    grid-area: colors;
}
.compatibility-widget .options ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}
.compatibility-widget .options li {
    list-style: none;
    box-sizing: border-box;
    position: relative;
    width: 72px;
    height: 72px;
    margin: 0 6px 6px 0;
    padding: 0;
}
.compatibility-widget .options button {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    text-indent: 200%;
    white-space: nowrap;
    border: 2px solid rgba(0, 0, 0, .25);
    cursor: pointer;
    transform: scale(.8);
    transition: transform .3s, opacity .3s;
}
.compatibility-widget .options button:hover, .compatibility-widget .options button:focus {
    opacity: 1;
    border-color: black;
}
.compatibility-widget .options button:focus {
    outline: var(--il-dotted-focus-outline);
    opacity: 1;
}
.compatibility-widget .options li.selected button {
    transform: scale(1);
    opacity: 1;
    border-color: black;
    border-width: 4px;
}
.compatibility-widget .options li.selected button:focus {
    outline-color: var(--il-arches-blue-2);
    opacity: 1;
}


.compatibility-widget .result .results__heading {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 24px;
}
.compatibility-widget .result p {
    margin: 0;
    padding: 0;
}
.compatibility-widget .result .results__status {
    margin: 20px 0 0;
    padding: 0;
}
.compatibility-widget .preview {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    padding: 20px;
    line-height: 1.2;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, .25);
    transition: color .3s, background-color .3s;
}
.compatibility-widget .preview p {
    margin: 0;
    padding: 0;
    width: 200%;
}
.compatibility-widget .preview p:first-child,
.compatibility-widget .normal-text .preview p:nth-child(2) {
    font-weight: 700;
}
.compatibility-widget .normal-text .preview p:first-child {
    font-weight: 900;
}
.compatibility-widget .normal-text .preview p:nth-child(3) {
    font-weight: 500;
}
.compatibility-widget .normal-text .preview {
    font-size: 18px;
    line-height: 1.5;
}
.compatibility-widget .large-text .preview {
    font-size: 32px;
}
.compatibility-widget .code {
    grid-area: code;
    padding: 20px;
    background-color: var(--il-cloud-1);
    font: 400 1em/1.5 var(--source-code-font);
}


.compatibility-widget .results {
    grid-area: results;
}
.compatibility-widget .results p {
    margin: 0;
    padding: 0;
    text-align: center;
}
.compatibility-widget .results__status {
    list-style: none;
    margin: 5px 0 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 18.5px;
}
.compatibility-widget .results__status li {
    list-style: none;
    padding: .5em 1em;
    border: 2px solid var(--il-cloud-1);
    font-weight: bold;
    transition: all .3s;
    text-align: center;
}
.compatibility-widget .results__status li.pass {
}
.compatibility-widget .results__status li.fail {
    border-color: var(--il-altgeld);
    background-color: var(--il-altgeld);
    color: white;
}
.compatibility-widget .results__links {
    margin: 1em 0 0;
    padding: 0;
}
.compatibility-widget .results__links li {
    list-style: none;
    margin: 0;
    padding: 0;
}
