@import url('https://rsms.me/inter/inter.css');
html {
    --color-blue: #0072bc;
    --color-purple: #662d91;
    font-family: 'Inter', sans-serif;
}
@supports (font-variation-settings: normal) {
    html {
        font-family: 'Inter var', sans-serif;
    }
}

:root {
    --border-color: rgba(0, 0, 0, .25);
}
body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}
a {
    color: var(--color-blue);
}
a:visited {
    color: var(--color-purple);
}
.page {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 60px;
    max-width: 1200px;
    display: grid;
    grid-gap: 40px;
    grid-template-areas: "header header" "sidebar main" "footer footer";
    grid-template-columns: 240px 720px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    grid-area: header;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border-color);
}
header h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 800;
}
header p {
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.main {
    grid-area: main;
}
.main h1 {
    margin: 0 0 1em;
    font-size: 36px;
    font-weight: 600;
}
.sidebar {
    grid-area: sidebar;
}
.sidebar h2 {
    position: absolute;
    left: -999vw;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
}
.sidebar ul {
    margin: 0;
    padding: 0 0 0 1.5em;
    list-style: none;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.25em;
}
.sidebar ul ul {
    margin-top: .5em;
    padding-left: 0;
    font-weight: 400;
}
.sidebar li {
    margin: 1em 0 0;
    padding: 0;
    list-style: none;
}
.sidebar li li {
    margin-top: .5em;
}
.sidebar li:first-of-type {
    margin-top: 0;
}
.sidebar a {
    text-decoration: none;
    color: inherit;
    position: relative;
    display: block;
}
.sidebar a[aria-current]:before {
    content: "";
    position: absolute;
    width: .5em;
    height: .5em;
    background-color: var(--color-blue);
    left: -1em;
    top: .45em;
    opacity: .75;
}
footer {
    grid-area: footer;
    padding-top: 20px;
    border-top: 1px solid var(--border-color);
    color: rgba(0, 0, 0, .75);
    font-size: 16px;
}


.tests__pages {
    list-style: none;
    margin: 0;
    padding: 0;
}
.tests__page {
    list-style: none;
    margin: 2em 0 0;
    padding: 2em 0 0;
    border-top: 1px solid var(--border-color);
}
.tests__page:first-of-type {
    margin-top: 0;
    padding-top: 0;
    border-top: 0;
}
.tests__page h3 {
    margin: 0;
    padding: 0;
}


#clipboard-buffer {
    position: absolute;
    left: -99px;
    pointer-events: none;
    opacity: 0;
}