---
title: Video Feature (default view)
group: "Components: Video Feature"
layout: layouts/page.njk
---
<div class="il-formatted">
<h2>Stretch</h2>
<il-video-feature src="https://mediaspace.illinois.edu/media/t/1_ve3snqtt" align="left" view='stretch'>
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-video-feature>

<h2>Aspect Ratio Ensured</h2>
<il-video-feature src="https://mediaspace.illinois.edu/media/t/1_ve3snqtt" align="left" view='aspect'>
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-video-feature>

</il-video-feature>

<h2>Aspect Ratio Ensured, Black Borders</h2>
<il-video-feature src="https://mediaspace.illinois.edu/media/t/1_ve3snqtt" align="left" view='aspect' background='orange'>
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-video-feature>
</div>
