---
title: Video Feature (default view)
group: "Components: Video Feature"
layout: layouts/page.njk
---
<div class="il-formatted">
<h2>Gradient</h2>
<il-video-feature src="https://mediaspace.illinois.edu/media/t/1_0o2ypqvp" align="left">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
</il-video-feature>

<h2>Orange, Right</h2>
<il-video-feature src="https://www.youtube.com/watch?v=uSEpvhL7nwA" align="right" background='orange'>
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
</il-video-feature>

<h2>White</h2>
<il-video-feature src="https://mediaspace.illinois.edu/media/t/1_lopu8gqs" align="left" background='white' view='vertical'>
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
</il-video-feature>

<h2>Vimeo</h2>
<il-video-feature src="https://vimeo.com/17327293" align="left" background='white' view='vertical'>
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
</il-video-feature>



</div>