<!DOCTYPE html>
<html class="il-toolkit">
<script src="../il-footer.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<script src="https://onetrust.techservices.illinois.edu/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="26be7d61-2017-4ea7-8a8b-8f1704889763"></script>
<script type="text/javascript">
  function OptanonWrapper() { }
</script>

<il-footer>
  <button slot="onetrust" id="ot-sdk-btn" class="ot-sdk-show-settings">About Cookies</button>
</il-footer>

</html>