---
title: Page title
group: "Components: Page title"
layout: layouts/page.njk
---

<p>Short title</p>

<il-page-title>
  <img slot="background" src="{{ "/_assets/images/hero-bg.jpg"|url  }}" alt="">
  <h1>Page Title</h1>
</il-page-title>

<p>Long title</p>

<il-page-title>
  <img slot="background" src="{{ "/_assets/images/hero-bg.jpg"|url  }}" alt="">
  <h1>Page Title that is Super Duper Looonnnngggg</h1>
</il-page-title>

<p>Very long title</p>

<il-page-title>
  <img slot="background" src="{{ "/_assets/images/hero-bg.jpg"|url  }}" alt="">
  <h1>Student-led venture Nephra named one of the most disruptive business school startups of 2021 by Poets &amp; Quants</h1>
</il-page-title>
