<!DOCTYPE html>
<script src="../il-tabs.component.js" type="module"></script>
<script src="../../il-content/il-content.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-tabs data-testid="component">
  <div slot="tabs" class="tabgroup">
    <div role="tab" aria-controls="panel1">Tab #1</div>
    <div role="tab" aria-controls="panel2">Tab #2</div>
    <div role="tab" aria-controls="panel3">Tab #3</div>
  </div>
  <il-content id="panel1">
    This is the content for Panel #1
  </il-content>
  <il-content id="panel2">
    This is the content for Panel #2
  </il-content>
  <il-content id="panel3">
    This is the content for Panel #3
  </il-content>
</il-tabs>

<script>
  window.addEventListener('load', () => {

    const newTab = document.createElement('div');
    newTab.setAttribute('role', 'tab');
    newTab.setAttribute('aria-controls', 'panel4');
    newTab.appendChild(document.createTextNode('Tab #4'));
    document.querySelector('.tabgroup').appendChild(newTab);

    const newPanel = document.createElement('il-content');
    newPanel.setAttribute('id', 'panel4');
    newPanel.appendChild(document.createTextNode('This is the content for Panel #4'));
    document.querySelector('il-tabs').appendChild(newPanel);
  });
</script>