<!DOCTYPE html>
<script src="../il-tabs.component.js" type="module"></script>
<script src="../../il-content/il-content.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-tabs data-testid="component">
    <div slot="tabs">
        <div data-il-panel="panel1">Tab #1</div>
        <div data-il-panel="panel2">Tab #2</div>
        <div data-il-panel="panel3">Tab #3</div>
        <div data-il-panel="panel4">Tab #4</div>
    </div>
    <il-content id="panel1">
      <h3>Degree Programs</h3>
      <p>There's no <a href="#">academic experience</a> quite like Grainger Engineering. Ranked the #6 college of engineering with 13 top 5 programs from US News and World Report, we have a reputation of being the best of the best. But a lot goes into those numbers. Engaging professors. State-of-the-art facilities. Groundbreaking student resources. Brilliant classmates. Supportive environment. Endless opportunities. Whether you're a first year undergraduate or working toward a PhD, our programs are designed to help you become the engineer you want to be.</p>
      <p>Second paragraph</p>
      <p><a href="#" class="il-button">Sample button</a></p>
    </il-content>
    <il-content id="panel2">
        <p>Panel #2. There's a <a href="#">link that goes somewhere</a> here.</p>
    </il-content>
    <il-content id="panel3">
        <p>Panel #3</p>
    </il-content>
    <il-content id="panel4">
        <p>Panel #4 There's a <a href="#">link that goes somewhere</a> here.</p>
    </il-content>
</il-tabs>

<script>
    const params = new URLSearchParams(window.location.search);
    document.querySelectorAll("il-tabs").forEach(component => {
      if (params.has('theme')) {
        component.classList.add(`il-theme-${params.get('theme')}`);
      }
      if (params.has('vertical')) {
        component.classList.add(`il-vertical-tabs`);
      }
      if (params.has('mobile')) {
        component.style.cssText += 'max-width: 400px';
      }
      if (params.has('fixed')) {
        component.classList.add('il-fixed-width');
      }
  });
  </script>