<!DOCTYPE html>
<script src="../il-tabs.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/base.css">

<il-tabs class="il-vertical-tabs">
    <div slot="tabs">
        <div data-il-panel="panel1">Tab #1</div>
        <div data-il-panel="panel1">Tab #2</div>
        <div data-il-panel="panel1">Tab #3</div>
        <div data-il-panel="panel1">Tab #4</div>
    </div>
    <div id="panel1">
        <p>Panel #1</p>
    </div>
    <div id="panel2">
        <p>Panel #2</p>
    </div>
    <div id="panel3">
        <p>Panel #3</p>
    </div>
    <div id="panel4">
        <p>Panel #4</p>
    </div>
</il-tabs>
