---
title: "Navigation bar: second-level section"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---

<div id="nav" class="navigation-container">
    <il-nav>
        <ul>
            <li>
                <il-nav-section id="section-1" expanded current>
                    <a id="link-1" href="/tests/success.html" slot="label">Link 1</a>
                    <ul id="list-1" class="il-subnav">
                        <li>
                            <a id="link-1A" href="#1A">Link 1A</a>
                        </li>
                        <li>
                            <a id="link-1B" href="#1B">Link 1B</a>
                        </li>
                        <li>
                            <a id="link-1C" href="#1C">Link 1C</a>
                        </li>
                    </ul>
                </il-nav-section>
            </li>
        </ul>
    </il-nav>
</div>