---
title: "Navigation bar: four levels, new markup"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---

{% include "outside-click-target.html" %}

<div id="nav" class="navigation-container">
    <il-nav label="Mythical University" view="bar">
        <ul>
            <li>
                <il-nav-section id="section1">
                    <span slot="label">Section 1 XXXXXX</span>
                    <ul>
                        <li>
                            <a id="section1-link1" href="/success">Link 1 XXXXXXXXXXXX</a>
                        </li>
                        <li>
                            <a id="section1-link2" href="/success">Link 2 XXXX</a>
                        </li>
                        <li>
                            <a id="section1-link3" href="/success">Link 3 XXXXXXXXXXXXXXXXXXXXX</a>
                        </li>
                        <li>
                            <a id="section1-link4" href="/success">Link 4 XXXXXXXXX</a>
                        </li>
                        <li>
                            <a id="section1-link5" href="/success">Link 5 XXXXXX</a>
                        </li>
                    </ul>
                </il-nav-section>
            </li>
            <li>
                <il-nav-section id="section2">
                    <span slot="label">Section 2 XXXXXXXXXXXX</span>
                    <ul>
                        <li>
                            <il-nav-section id="section2-section1">
                                <span slot="label">Section 1 XXXX</span>
                                <ul>
                                    <li>
                                        <a id="section2-section1-link1" href="/success">Link 1 XXXXXXXXXXXXXXXXXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section1-link2" href="/success">Link 2 XXXXXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section1-link3" href="/success">Link 3 XXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section1-link4" href="/success">Link 4 XXXXXXXXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section1-link5" href="/success">Link 5 XXXX</a>
                                    </li>
                                </ul>
                            </il-nav-section>
                        </li>
                        <li>
                            <il-nav-section id="section2-section2">
                                <span slot="label">Section 2 XXXXXXXXXXXXXXXXXXXXX</span>
                                <ul>
                                    <li>
                                        <il-nav-section id="section2-section2-section1">
                                            <span slot="label">Section 1 XXXXXXXXX</span>
                                            <ul>
                                                <li>
                                                    <a id="section2-section2-section1-link1" href="/success">Link 1
                                                        XXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section1-link2" href="/success">Link 2
                                                        XXXXXXXXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section1-link3" href="/success">Link 3
                                                        XXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section1-link4" href="/success">Link 4
                                                        XXXXXXXXXXXXXXXXXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section1-link5" href="/success">Link 5
                                                        XXXXXXXXX</a>
                                                </li>
                                            </ul>
                                        </il-nav-section>
                                    </li>
                                    <li>
                                        <il-nav-section id="section2-section2-section2">
                                            <span slot="label">Section 2 XXXXXX</span>
                                            <ul>
                                                <li>
                                                    <a id="section2-section2-section2-link1" href="/success">Link 1
                                                        XXXXXXXXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section2-link2" href="/success">Link 2
                                                        XXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section2-link3" href="/success">Link 3
                                                        XXXXXXXXXXXXXXXXXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section2-link4" href="/success">Link 4
                                                        XXXXXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section2-link5" href="/success">Link 5
                                                        XXXXXX</a>
                                                </li>
                                            </ul>
                                        </il-nav-section>
                                    </li>
                                    <li>
                                        <il-nav-section id="section2-section2-section3">
                                            <span slot="label">Section 3 XXXXXXXXXXXX</span>
                                            <ul>
                                                <li>
                                                    <a id="section2-section2-section3-link1" href="/success">Link 1
                                                        XXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section3-link2" href="/success">Link 2
                                                        XXXXXXXXXXXXXXXXXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section3-link3" href="/success">Link 3
                                                        XXXXXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section3-link4" href="/success">Link 4
                                                        XXXXXX</a>
                                                </li>
                                                <li>
                                                    <a id="section2-section2-section3-link5" href="/success">Link 5
                                                        XXXXXXXXXXXX</a>
                                                </li>
                                            </ul>
                                        </il-nav-section>
                                    </li>
                                </ul>
                            </il-nav-section>
                        </li>
                        <li>
                            <il-nav-section id="section2-section3">
                                <span slot="label">Section 3 XXXX</span>
                                <ul>
                                    <li>
                                        <a id="section2-section3-link1" href="/success">Link 1 XXXXXXXXXXXXXXXXXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section3-link2" href="/success">Link 2 XXXXXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section3-link3" href="/success">Link 3 XXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section3-link4" href="/success">Link 4 XXXXXXXXXXXX</a>
                                    </li>
                                    <li>
                                        <a id="section2-section3-link5" href="/success">Link 5 XXXX</a>
                                    </li>
                                </ul>
                            </il-nav-section>
                        </li>
                    </ul>
                </il-nav-section>
            </li>
            <li>
                <il-nav-section id="section3">
                    <span slot="label">Section 3 XXXXXXXXXXXXXXXXXXXXX</span>
                    <ul>
                        <li>
                            <a id="section3-link1" href="/success">Link 1 XXXXXXXXX</a>
                        </li>
                        <li>
                            <a id="section3-link2" href="/success">Link 2 XXXXXX</a>
                        </li>
                        <li>
                            <a id="section3-link3" href="/success">Link 3 XXXXXXXXXXXX</a>
                        </li>
                        <li>
                            <a id="section3-link4" href="/success">Link 4 XXXX</a>
                        </li>
                        <li>
                            <a id="section3-link5" href="/success">Link 5 XXXXXXXXXXXXXXXXXXXXX</a>
                        </li>
                    </ul>
                </il-nav-section>
            </li>
        </ul>
    </il-nav>
</div>