---
title: "Navigation column: second-level section"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---

<div id="nav" class="navigation-container navigation-container--compact">
    <il-nav view="column">
        <ul>
            <li>
                <il-nav-section expanded current>
                    <a href="#" slot="label">Top-level section</a>
                    <ul>
                        <li>
                            <a href="#">First second-level link</a>
                        </li>
                        <li>
                            <a href="#">Second second-level link</a>
                        </li>
                        <li>
                            <a href="#">Third second-level link</a>
                        </li>
                    </ul>
                </il-nav-section>
            </li>
        </ul>
    </il-nav>
</div>