---
title: "Navigation column: third-level section"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---

<div id="nav" class="navigation-container navigation-container--compact">
    <il-nav view="column">
        <ul>
            <li>
                <il-nav-section expanded current>
                    <a href="#" slot="label">Top-level section</a>
                    <ul>
                        <li>
                            <il-nav-section>
                                <a href="#" slot="label">First second-level section</a>
                            </il-nav-section>
                        </li>
                        <li>
                            <il-nav-section expanded current>
                                <a href="#" slot="label">Second second-level section</a>
                                <ul>
                                    <li>
                                        <a href="#">First third-level link</a>
                                    </li>
                                    <li>
                                        <a href="#">Second third-level link</a>
                                    </li>
                                    <li>
                                        <a href="#">Third third-level link</a>
                                    </li>
                                </ul>
                            </il-nav-section>
                        </li>
                        <li>
                            <il-nav-section>
                                <a href="#" slot="label">Third second-level section</a>
                            </il-nav-section>
                        </li>
                    </ul>
                </il-nav-section>
            </li>
        </ul>
    </il-nav>
</div>