---
title: Navigation (default view, all submenus collapsed)
layout: layouts/page.njk
---

{% include "outside-click-target.html" %}

<div id="nav">
<il-nav>
    <il-nav-section id="section-1">
        <a id="link-1" href="/tests/success.html" slot="label">Link 1</a>
        <ul id="list-1" class="il-subnav">
            <li>
                <a id="link-1A" href="#1A">Link 1A</a>
            </li>
            <li>
                <a id="link-1B" href="#1B">Link 1B</a>
            </li>
            <li>
                <a id="link-1C" href="#1C">Link 1C</a>
            </li>
        </ul>
    </il-nav-section>
    <il-nav-section id="section-2">
        <a id="link-2" href="/tests/success.html" slot="label">Link 2</a>
        <ul id="list-2" class="il-subnav">
            <li>
                <a id="link-2A" href="#2A">Link 2A</a>
            </li>
            <li>
                <a id="link-2B" href="#2B">Link 2B</a>
            </li>
            <li>
                <a id="link-2C" href="#2C">Link 2C</a>
            </li>
        </ul>
    </il-nav-section>
    <il-nav-section id="section-3">
        <a id="link-3" href="/tests/success.html" slot="label">Link 3</a>
        <ul id="list-3" class="il-subnav">
            <li>
                <a id="link-3A" href="#3A">Link 3A</a>
            </li>
        </ul>
    </il-nav-section>
</il-nav>
</div>