---
title: "Navigation bar section: paragraph label"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---

<div id="nav" class="navigation-container">
    <il-nav>
        <ul>
            <li>
                <il-nav-section id="section-1">
                    <p slot="label">Section title</p>
                </il-nav-section>
            </li>
        </ul>
    </il-nav>
</div>