---
title: "Navigation column section: span label"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---

<div id="nav" class="navigation-container navigation-container--compact">
    <il-nav view="column">
        <ul>
            <li>
                <il-nav-section id="section-1">
                    <span slot="label">Section title</span>
                    <ul>
                        <li><a href="#">Section link one</a></li>
                        <li><a href="#">Section link two</a></li>
                        <li><a href="#">Section link three</a></li>
                    </ul>
                </il-nav-section>
            </li>
        </ul>
    </il-nav>
</div>