---
title: Statistic (variant colors)
group: "Components: Statistic"
layout: layouts/page.njk
---

<h2>White</h2>

<h3>Default</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-white">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-orange</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-white il-orange">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-industrial-blue</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-white il-industrial-blue">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-arches-blue</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-white il-arches-blue">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-arches-blue-dark</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-white il-arches-blue-dark">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-patina</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-white il-patina">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h2>Gray</h2>

<h3>Default</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-gray">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-industrial-blue</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-gray il-industrial-blue">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-arches-blue-dark</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-gray il-arches-blue-dark">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-patina</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-gray il-patina">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h2>Blue</h2>

<h3>Default</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-orange-light</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue il-orange-light">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-harvest</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue il-harvest">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-harvest-light</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue il-harvest-light">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-arches-blue-light</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue il-arches-blue-light">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h2>Orange</h2>

<h3>Default</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-orange">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-blue-dark</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-orange il-blue-dark">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h2>Blue Gradient</h2>

<h3>Default</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue-gradient">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-harvest</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue-gradient il-harvest">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-harvest-light</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue-gradient il-harvest-light">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h3>il-arches-blue-light</h3>

<il-statistic width="500px" size="extralarge" class="il-theme-blue-gradient il-arches-blue-light">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>