---
title: Statistic (default view)
group: "Components: Statistic"
layout: layouts/page.njk
---

<h2>il-theme-gray</h2>

<div class="il-theme-gray">

<div class="il-size-small">

<il-statistic width="500px">
<span slot="top">Nation's</span> <em slot="stat">Top Six</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2022</span>
</il-statistic>

</div>

<il-statistic width="500px">
<span slot="top">Nation's</span> <em slot="stat">Top Six</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2022</span>
</il-statistic>

<div class="il-size-large">

<il-statistic width="500px">
<span slot="top">Nation's</span> <em slot="stat">Top Six</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2022</span>
</il-statistic>
</div>

<il-statistic width="500px" class="il-size-xlarge">
<span slot="top">Nation's</span> <em slot="stat">Top Six</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2022</span>
</il-statistic>

</div>

<h2>White</h2>

<div class="il-theme-white">
<div class="il-size-small">

<il-statistic width="100px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>
</div>

<il-statistic width="200px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<div class="il-size-large">
<il-statistic width="200px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>
</div>

<il-statistic width="300px" class="il-theme-white il-size-xlarge">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

</div>

<h2>Blue</h2>

<div class="il-theme-blue">

<div class="il-size-small">
<il-statistic width="230px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>
</div>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<div class="il-size-large">
<il-statistic width="500px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>
</div>

</div>

<il-statistic width="500px" class="il-theme-blue il-size-xlarge">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>


<h2>Blue Gradient</h2>

<div class="il-theme-blue-gradient">

<div class="il-size-small">
<il-statistic width="230px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>
</div>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<div class="il-size-large">
<il-statistic width="500px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>
</div>

</div>

<il-statistic width="500px" class="il-theme-blue-gradient il-size-xlarge">
<em slot="stat">97%</em> of our 2020 graduates with teaching degrees plus licensure are employed in the field of education.
</il-statistic>
