---
title: Statistic (default view)
group: "Components: Statistic"
layout: layouts/page.njk
---

<h2>il-theme-gray</h2>

<div class="il-theme-gray">

<il-statistic width="230px" size="small">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="large">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<div>

<il-statistic width="500px" size="extralarge" class="il-theme-gray">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<h2>White</h2>

<div class="il-theme-white">

<il-statistic width="230px" size="small">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="large">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="extralarge" class="il-theme-white">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

</div>

<h2>Orange</h2>

<div class="il-theme-orange">

<il-statistic width="230px" size="small">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="large">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

</div>

<il-statistic width="500px" size="extralarge" class="il-theme-orange">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>



<h2>Blue</h2>

<div class="il-theme-blue">

<il-statistic width="230px" size="small">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="large">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

</div>

<il-statistic width="500px" size="extralarge" class="il-theme-blue">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>


<h2>Blue Gradient</h2>

<div class="il-theme-blue-gradient">

<il-statistic width="230px" size="small">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="large">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

</div>

<il-statistic width="500px" size="extralarge" class="il-theme-blue-gradient">
<em slot="stat">97%</em> of our 2020 graduates with teaching degrees plus licensure are employed in the field of education.
</il-statistic>


<h2>Orange gradient</h2>

<div class="il-theme-orange-gradient">

<il-statistic width="230px" size="small">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
</il-statistic>

<il-statistic width="400px">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="large">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

</div>

<il-statistic width="500px" size="extralarge" class="il-theme-orange-gradient">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

