---
title: Statistic (with il-formatted)
group: "Components: Statistic"
layout: layouts/page.njk
---

<div class="il-formatted">
<h2>Inside Formatted Area</h2>

<div class="il-theme-gray il-size-large" style="--il-statistic-width: 500px;">

<il-statistic>
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<div>

<il-statistic class="il-theme-blue il-size-xlarge">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

</div>


