---
title: Statistic (from JSON file)
group: "Components: Statistic"
layout: layouts/page.njk
---

<div class="il-formatted">

<il-statistic width="500px" background="gradient" size="large" src="{{ '/_assets/json/stat.json' | url }}">
</il-statistic>


<il-statistic width="500px" background="gradient" size="large" startAnimation="30" src="{{ '/_assets/json/stat.json' | url }}">
</il-statistic>

</div>
