---
title: Statistic (invalid colors)
group: "Components: Statistic"
layout: layouts/page.njk
---

<h2>Invalid colors</h2>

<il-statistic width="500px" size="extralarge" class="il-theme-white il-orange-light">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="extralarge" class="il-theme-gray il-orange-light">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="extralarge" class="il-theme-orange il-harvest">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic width="500px" size="extralarge" class="il-theme-blue il-arches-blue-dark">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>