---
title: Quote (pullquote)
group: "Components: Quote"
layout: layouts/page.njk
---
<il-quote pullquote="true">
Either university presses will embrace new technology and offer scholarly content in new forms to researchers and under new business models, or they will follow the music industry and spend all of their resources on trying to protect their territory -- unsuccessfully.
<p slot="attributed">Laura Cerruti</p>
<p slot="secondary">Director of Digital Content Development, University of California Press, profiled in Against the Grain</p>
</il-quote>

<il-quote pullquote>
Short and sweet.
<p slot="attributed">Melissa Waller</p>
<p slot="secondary">Director of Web Development, University of Illinois</p>
</il-quote>

