@layer base {
  :root {
    --il-stat-background: none;
    --il-stat-color: inherit;
    --il-stat-em-color: inherit;
  }
}
@layer components {
  il-stat {
    display: block;
    text-align: center;
    font-weight: 400;
    line-height: 1.35;
    padding: 2rem 0;
  }
  il-stat em {
    position: relative;
    all: initial;
    display: inline-block;
    margin: 0 .1em;
    font-style: normal;
    font-size: 2em;
    line-height: .85;
    letter-spacing: 2px;
    font-weight: 800;
    font-family: var(--il-font-montserrat);
    text-align: center;
    color: var(--il-stat-em-color);
    vertical-align: middle;
  }
  il-stat.il-blue em {
    background-color: var(--il-blue);
    color: white;
    --il-stat-em-color: var(--il-orange);
  }


  il-featured-section.il-orange il-stat em {
    --il-stat-em-color: white;
  }

  @container (max-width: 50rem) {
    il-stat em {
      margin: .25em 0;
      display: block;
      font-size: 2.75em;
    }
  }
}