---
title: Colors
layout: layouts/docs.njk
---

<h1>Colors</h1>

<p>All the official hex values are available as CSS variables.</p>

<pre><code>
    color: var(--il-orange);
    border: 2px solid var(--il-blue);
</code></pre>
