:root {
  --il-footer-content-width: 1200px;
}

il-footer {

  --il-link-color: var(--il-blue);
  --il-visited-link-color: var(--il-blue);

  background-color: var(--il-blue);
  color: white;

  *[slot=identity] {
    &, * {
      @include reset-spacing;
      font-size: 24px;
      font-weight: 700;
      font-family: var(--il-font-sans);
    }
  }

  *[slot=social] {
    margin-top: 1em;
  }

  *[slot=parent-unit] {
    a {
      color: inherit;

      &.hover, &:focus {
        outline: 3px dashed var(--il-altgeld);
      }
    }
  }
}

@import "contact";
@import "links";
@import "navigation";
@import "social";
@import "parent";