.il-footer-social {
  ul {
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: -6px -24px -20px -6px;
    font: 700 18px/30px var(--il-font-sans);
  }
  li {
    @include reset-list-item;
    padding: 0 18px 14px 0;
  }
  a {
    @include reset-link;
    position: relative;
    display: block;
    background-color: var(--il-link-color);
    color: var(--il-blue);
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 15px;
    white-space: nowrap;
  }
  a:visited {
    background-color: var(--il-visited-link-color);
  }
  a:hover, a:focus {
    background-color: var(--il-link-hover-color);
    color: white;
  }
  a:focus {
    outline: none;
    outline-color: none;
  }
  a[href*="facebook.com/"],
  a[href*="instagram.com/"],
  a[href*="linkedin.com/"],
  a[href*="pinterest.com/"],
  a[href*="snapchat.com/"],
  a[href*="tiktok.com/"],
  a[href*="twitter.com/"],
  a[href*="weibo.com/"],
  a[href*="whatsapp.com/"],
  a[href*="youtube.com/"] {
    position: relative;
    margin: -4px -6px;
    padding: 0;
    height: 48px;
    overflow: hidden;
    width: 48px;
    text-indent: 200%;
    white-space: nowrap;
    font: normal 30px var(--il-icons-line);
    background-color: transparent;
    color: var(--il-link-color);
    border-radius: 0;

    &:visited {
      color: var(--il-visited-link-color);
    }

    &:hover, &:focus {
      color: var(--il-orange);
    }

    &:before {
      @extend %il-icon;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      text-indent: 0;
      white-space: normal;
    }
  }
  a[href*="facebook.com/"]:before {
    content: "facebook";
  }
  a[href*="instagram.com/"]:before {
    content: "instagram";
  }
  a[href*="linkedin.com/"]:before {
    content: "linkedin";
  }
  a[href*="pinterest.com/"]:before {
    content: "pinterest";
  }
  a[href*="snapchat.com/"]:before {
    content: "snapchat";
  }
  a[href*="twitter.com/"]:before {
    content: "twitter";
  }
  a[href*="weibo.com/"]:before {
    content: "weibo";
  }
  a[href*="whatsapp.com/"]:before {
    content: "whatsapp";
  }
  a[href*="youtube.com/"]:before {
    content: "youtube";
  }
  a[href*="tiktok.com/"]:before {
    --il-social-tiktok-logo: url('data:image/svg+xml;base64, PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjMwIiBoZWlnaHQ9IjMwIiB2aWV3Qm94PSIwIDAgMzQ3LjY3IDM5OC42NyI+PGcgPjxwYXRoIGQ9Ik0yOTUuNzQsNzkuOTFjLTIxLjQ4LTE0LTM2Ljk3LTM2LjQxLTQxLjgxLTYyLjUyLTEuMDQtNS42NC0xLjYyLTExLjQ1LTEuNjItMTcuMzloLTY4LjU0bC0uMTEsMjc0LjY4Yy0xLjE1LDMwLjc2LTI2LjQ3LDU1LjQ1LTU3LjUsNTUuNDUtOS42NSwwLTE4LjczLTIuNDEtMjYuNzMtNi42Mi0xOC4zNC05LjY1LTMwLjg5LTI4Ljg3LTMwLjg5LTUwLjk5LDAtMzEuNzcsMjUuODUtNTcuNjIsNTcuNjEtNTcuNjIsNS45MywwLDExLjYyLC45OCwxNywyLjY2di02OS45N2MtNS41Ny0uNzYtMTEuMjMtMS4yMy0xNy0xLjIzQzU2LjU5LDE0Ni4zNiwwLDIwMi45NSwwLDI3Mi41MmMwLDQyLjY4LDIxLjMyLDgwLjQ1LDUzLjg2LDEwMy4yOSwyMC40OSwxNC4zOSw0NS40MiwyMi44Niw3Mi4zLDIyLjg2LDY5LjU2LDAsMTI2LjE1LTU2LjU5LDEyNi4xNS0xMjYuMTVWMTMzLjIzYzI2Ljg4LDE5LjI5LDU5LjgyLDMwLjY2LDk1LjM2LDMwLjY2Vjk1LjM1Yy0xOS4xNCwwLTM2Ljk3LTUuNjktNTEuOTMtMTUuNDRaIi8+PC9nPjwvc3ZnPg==');
    -webkit-mask-image: var(--il-social-tiktok-logo);
    mask-image: var(--il-social-tiktok-logo);
    content: "tiktok";
    background-size: 16px 16px;
    background-color: currentColor;
    position: absolute;
    top: 9px;
    left: 9px;
    width: 30px;
    height: 30px;
  }
}

