---
title: Navigation, links and sections
group: "Components: Navigation"
layout: layouts/page.njk
---

{% include "outside-click-target.html" %}

<il-nav>
    <il-nav-link>
        <a id="link-1" href="/tests/success.html">Link 1</a>
    </il-nav-link>
    <il-nav-section id="section-2">
        <a id="link-2" href="/tests/success.html" slot="label">Link 2</a>
        <ul id="list-2" class="il-subnav">
            <li>
                <a id="link-2A" href="/tests/success.html">Link 2A</a>
            </li>
            <li>
                <a id="link-2B" href="/tests/success.html">Link 2B</a>
            </li>
            <li>
                <a id="link-2C" href="/tests/success.html">Link 2C</a>
            </li>
        </ul>
    </il-nav-section>
    <il-nav-link>
        <a id="link-3" href="/tests/success.html">Link 3</a>
    </il-nav-link>
</il-nav>