---
title: "Navigation: Links"
group: "Components: Navigation"
layout: layouts/page.njk
---

{% include "outside-click-target.html" %}

<il-nav>
    <il-nav-link>
        <a id="link-1" href="/tests/success.html">Link 1</a>
    </il-nav-link>
    <il-nav-link>
        <a id="link-2" href="/tests/success.html">Link 2</a>
    </il-nav-link>
    <il-nav-link>
        <a id="link-3" href="/tests/success.html">Link 3</a>
    </il-nav-link>
</il-nav>