---
title: Card (default view)
group: "Components: Card"
layout: layouts/page.njk
---

<div class="il-formatted">

<il-card width="500px" src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
<p><a href="#" class="il-button">Learn More</a></p>
</il-card>

<il-card width="500px" src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com" class="il-theme-blue">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
<p><a href="#" class="il-button">Learn More</a></p>
</il-card>

<il-card src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com" alt="Student Life with a Title">
<h3>Student Life with a Ridiculously Exaggerated Title</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, judging teams, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
<p><a href="#" class="il-button">Learn More</a></p>
</il-card>

<il-card width="500px" src="{{ '/_assets/images/hero-bg.jpg' | url }}" href="https://www.example.com" alt="Student Life with a Title">
<h3>Student Life with a Ridiculously Exaggerated Title</h3>
<p><a href="#" class="il-button">Learn More</a></p>
</il-card>

</div>
