<!DOCTYPE html>
<script src="./image-feature.component.js" type="module"></script>
<script src="../content/content.component.js" type="module"></script>
<link rel="stylesheet" href="../../css/colors.scss">
<link rel="stylesheet" href="../../css/fonts.scss">

<il-image-feature style="max-width: 400px">
    <img slot="image" src="./test-assets/image-feature.jpg">
    <il-content>
        <h3>Student Life</h3>
        <p>Animal sciences students extend their learning and career networks beyond
            the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
            projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
        <a href="#" class="il-button">Subscribe</a>
        <a href="#" class="il-button">Find a departmental advisor</a>
    </il-content>
</il-image-feature>

<il-image-feature>
    <img slot="image" src="./test-assets/image-feature.jpg">
    <il-content>
        <h3>Student Life</h3>
        <p>Animal sciences students extend their learning and career networks beyond
            the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
            projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
        <a href="#" class="il-button">Subscribe</a>
        <a href="#" class="il-button">Find a departmental advisor</a>
    </il-content>
</il-image-feature>

<il-image-feature class="il-image-background">
    <img slot="image" src="./test-assets/image-feature.jpg">
    <il-content>
        <h3>Student Life</h3>
        <p>Animal sciences students extend their learning and career networks beyond
            the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
            projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>
        <a href="#" class="il-button">Subscribe</a>
        <a href="#" class="il-button">Find a departmental advisor</a>
    </il-content>
</il-image-feature>

<script>
  const params = new URLSearchParams(window.location.search);
  document.querySelectorAll("il-image-feature").forEach(component => {
    if (params.has('theme')) {
      component.classList.add(`il-theme-${params.get('theme')}`);
    }
  });
</script>