<!DOCTYPE html>
<title>Hero component test</title>
<link rel="stylesheet" href="../../../css/styles.scss">
<script src="../hero.component.js" type="module"></script>

<il-hero data-testid="component">
    <h1>Innovating solutions every year</h1>
    <ul>
        <li>
            <a href="#">Link 1</a>
        </li>
        <li>
            <a href="#">Link 2</a>
        </li>
        <li>
            <a href="#">Link 3</a>
        </li>
    </ul>
</il-hero>

<script>
    const component = document.querySelector("il-hero");
    const params = new URLSearchParams(window.location.search);
    if (params.has('theme')) {
        component.classList.add(`il-theme-${params.get('theme')}`);
    }
    if (params.has('align-x')) {
        component.classList.add(`il-align-${params.get('align-x')}`);
    }
    if (params.has('align-y')) {
        component.classList.add(`il-align-${params.get('align-y')}`);
    }
</script>