
:root {
    --il-panel-background-color: var(--il-blue);
    --il-panel-foreground-color: white;
    --il-panel-text-color: white;
    --il-panel-title-color: var(--il-orange);
    --il-panel-border: 1px solid #C8C6C7;
    --il-panel-link-focused-color: var(--il-orange);
    --il-selected-panel-background-color: var(--il-orange);
    --il-selected-panel-foreground-color: white;
    --il-focused-panel-background-color: white;
    --il-focused-panel-foreground-color: var(--il-blue);
    --il-focused-panel-button-background-color: white;
    --il-focused-panel-button-foreground-color: var(--il-blue);
    --il-focused-panel-button-border-color: white;
  }

  il-vertical-tab, .il-formatted il-vertical-tab {
    display: block;
    background: var(--il-panel-background-color);

    h2, h3, h4, h5, h6, p {
        color: var(--il-panel-text-color);
    }

  il-vertical-tab-panel, .il-formatted il-vertical-tab-panel {
    h2, h3, h4, h5, h6 {
        color: var(--il-panel-title-color);
    }
    p, ul, a, a:visited {
        color: var(--il-panel-text-color);
    }

    a.il-button, button.il-button, a.il-button:visited, button.il-button:visited {
      background: var(--il-panel-button-background-color);
      color: var(--il-panel-button-foreground-color);
      border-color: var(--il-panel-button-border-color);

      &:hover,
      &:focus {
        outline: 0;
        background-color: var(--il-focused-panel-button-background-color);
        color: var(--il-focused-panel-button-foreground-color);
        border-color: var(--il-focused-panel-button-border-color);
      }
    }

    a:focus, a:hover {
        color: var(--il-panel-link-focused-color);
    }
  }

  @media only screen and (max-width: 792px) {
    il-vertical-tab-panel:first-of-type {
      border-top: var(--il-panel-border);
    }
  }
}


// White

.il-theme-white {
  --il-panel-background-color: white;
  --il-panel-foreground-color: var(--il-blue);
  --il-panel-text-color: var(--il-blue);
  --il-panel-title-color: var(--il-blue);
  --il-panel-border: 2px solid var(--il-blue);
  --il-selected-panel-background-color: var(--il-orange);
  --il-selected-panel-foreground-color: white;
  --il-focused-panel-background-color: var(--il-blue);
  --il-focused-panel-foreground-color: white;
  --il-panel-button-background-color: var(--il-button-background-color);
  --il-panel-button-foreground-color: var(--il-button-foreground-color);
  --il-panel-button-border-color: var(--il-button-border-color);
  --il-focused-panel-button-background-color: var(--il-focused-button-background-color);
  --il-focused-panel-button-foreground-color: var(--il-focused-button-foreground-color);
  --il-focused-panel-button-border-color: var(--il-focused-button-border-color);
}

// Blue

.il-theme-blue {
  --il-panel-button-background-color: var(--il-button-background-color);
  --il-panel-button-foreground-color: var(--il-button-foreground-color);
  --il-panel-button-border-color: var(--il-button-border-color);
  --il-focused-panel-button-background-color: var(--il-focused-button-background-color);
  --il-focused-panel-button-foreground-color: var(--il-focused-button-foreground-color);
  --il-focused-panel-button-border-color: var(--il-focused-button-border-color);
}

// Gray

.il-theme-gray {
  --il-panel-background-color: var(--il-gray-1);
  --il-panel-foreground-color: var(--il-blue);
  --il-panel-text-color: var(--il-blue);
  --il-panel-title-color: var(--il-blue);
  --il-panel-border: 2px solid var(--il-blue);
  --il-panel-link-focused-color: var(--il-altgeld);
  --il-selected-panel-background-color: var(--il-orange);
  --il-selected-panel-foreground-color: var(--il-gray-1);
  --il-focused-panel-background-color: var(--il-blue);
  --il-focused-panel-foreground-color: white;
  --il-panel-button-background-color: var(--il-button-background-color);
  --il-panel-button-foreground-color: var(--il-button-foreground-color);
  --il-panel-button-border-color: var(--il-button-border-color);
  --il-focused-panel-button-background-color: var(--il-focused-button-background-color);
  --il-focused-panel-button-foreground-color: var(--il-focused-button-foreground-color);
  --il-focused-panel-button-border-color: var(--il-focused-button-border-color);
}
