#buttons {
    margin: 0 auto;
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 2em;
    justify-content: center;
    align-content: center;
    max-width: 60em;
}
#buttons p {
    margin: 0;
    padding: 0;
}