.card-block {
  box-sizing: border-box;
  padding: 2em;
}
.card-block > * {
  margin-bottom: 2em;
}
.card-block > *:last-child {
  margin-bottom: 0;
}
.card-flex {
  box-sizing: border-box;
  padding: 2em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
}
.card-flex > * {
  flex: 0 0 280px;
}
.card-grid {
  box-sizing: border-box;
  padding: 2em;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(280px, 1fr) );
  grid-gap: 2em;
}
