body {
    margin: 0;
    padding: 20px;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
li {
    list-style: none;
    margin: 0;
    padding: 20px;
}
.swatch {
    display: block;
    width: 160px;
    height: 160px;
}
.label {
    display: block;
    margin-top: 10px;
}
