body {
    margin: 0;
    padding: 20px;
}
.icon-sheet {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.icon-sheet li {
    margin: 0;
    padding: 20px;
    list-style: none;
    text-align: center;
}
.icon-sheet__icon {
    display: block;
    font-size: 72px;
}
.icon-sheet--solid .icon-sheet__icon {
    font-family: var(--il-icons-solid);
}
.icon-sheet--line .icon-sheet__icon {
    font-family: var(--il-icons-line);
}
.icon-sheet__label {
    display: block;
}
