body {
    padding: 2em;
    font-family: var(--il-source-sans), sans-serif;
}
h1 {
    margin: 0 0 20px;
    padding: 0 20px;
    font: 600 36px var(--il-source-sans);
}
a {
    color: #0072bc;
    text-decoration: none;
}
a:visited {
    color: #662d91;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: 1px dashed;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    font-weight: 600;
}
thead tr {
    border-bottom: 2px solid rgba(0, 0, 0 ,.25);
}
tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0 ,.15);
}
th, td {
    padding: 10px 20px;
    text-align: left;
    vertical-align: top;
}
tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .05);
}
