body {
    padding: 2em;
    font-family: var(--il-source-sans), sans-serif;
}
h1 {
    margin: 0 0 20px;
    padding: 0 20px;
    font: 600 36px var(--il-source-sans);
}
a {
    color: #0072bc;
    text-decoration: none;
}
a:visited {
    color: #662d91;
}
a:hover {
    text-decoration: underline;
}
a:focus {
    outline: 1px dashed;
}
ul.test-pages {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
ul.test-pages > li {
    box-sizing: border-box;
    width: 240px;
    list-style: none;
    background-color: #f0f0f0;
    margin: 0 1em 1em 0;
    padding: 1em;
}
ul.test-pages h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 18px;
}
ul.test-pages h4 {
    margin: 1em 0 0;
    padding: 0;
    font-size: 1em;
    font-weight: 600;
}
ul.reference-images {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.reference-images li {
    display: inline-block;
    list-style: none;
    margin: 0 1em 0 0;
    padding: 0;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th {
    font-weight: 600;
}
thead tr {
    border-bottom: 2px solid rgba(0, 0, 0 ,.25);
}
tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0 ,.15);
}
th, td {
    padding: 10px 20px;
    text-align: left;
    vertical-align: top;
}
tr:nth-child(even) {
    background-color: rgba(0, 0, 0, .05);
}
