body {
  padding: 2em;
  font-family: var(--il-source-sans), sans-serif;
}
h1 {
  margin: 0 0 20px;
  padding: 0 20px;
  font: 600 36px var(--il-source-sans);
}
h2 {
  margin: 2em 0 0.25em;
  padding: 0;
  font-size: 2rem;
  font-weight: 400;
}
h2:first-child {
  margin-top: 0;
}
a {
  color: #0072bc;
  text-decoration: none;
}
a:visited {
  color: #662d91;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: 1px dashed;
}

.index {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
  grid-template-areas: "header header" "sidebar content";
  grid-gap: 2em;
}
.index__header {
  grid-area: header;
}

.test-pages {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.test-page {
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  border-top: 1px solid #ccc;
  padding: 1em 0 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-rows: auto auto;
}
@media (min-width: 800px) {
  .test-page {
    grid-template-rows: auto;
    grid-template-columns: repeat(2, 1fr);
  }
}
.test-page:last-of-type {
  margin-bottom: 0;
}
.test-page h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 1.5em;
}
.test-page .path {
  margin: 0;
  padding: 0;
  font-size: 1.25em;
  font-weight: 300;
}
.test-page h4 {
  margin: 0 0 0.5em;
  padding: 0;
  font-size: 1.25em;
  font-weight: 600;
}
.visual-tests {
  margin: 0;
  padding: 0 0 0 1.5em;
  list-style: disc;
}
.visual-tests > li {
  margin: 0;
  padding: 0;
}
.visual-tests h5 {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
}
.visual-tests h5::after {
  content: ":";
}
.test-images {
  display: inline-block;
  list-style: none;
  margin: 0 0 0 0.5em;
  padding: 0;
}
.test-images > li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
.test-images a {
  display: flex;
  flex-direction: row;
  background-color: var(--il-blue);
  color: white;
  justify-content: center;
  align-items: center;
  padding: .25em .5em;
  border-radius: .5em;
}
.test-images a svg {
  fill: white;
  display: block;
  width: 1em;
  height: 1em;
  margin-right: .25em;
}
.test-images a:hover, .test-images a:focus {
  background-color: var(--il-orange);
  text-decoration: none;
}


table {
  width: 100%;
  border-collapse: collapse;
}
th {
  font-weight: 600;
}
thead tr {
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
}
tbody tr {
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
th,
td {
  padding: 10px 20px;
  text-align: left;
  vertical-align: top;
}
tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}
