.layout-content {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 3rem;
  background-color: #FCB24C5D;
  border: 2px solid  rgba(0, 0, 0, .1);
}
*[slot="header"] .layout-content,
*[slot="footer"] .layout-content {
  background-color: var(--il-arches-blue-3);
}