html {
    background-color: white;
    color: black;
    font-family: monospace;
}
body {
    margin: 0;
    padding: 0;
}

body h1, body h2.testheading {
    text-align: center;
}

.outside-click-target, .placeholder {
    border: 2px solid rgba(0, 0, 0, .25);
    padding: 1em;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    font-weight: bold;
}
.outside-click-target {
    margin: 1em;
}

.section-nav-example {
    margin-top: 40px;
    margin-bottom: 40px;
}