html {
    background-color: white;
    color: black;
    font-family: var(--il-source-sans), sans-serif;
}
body {
    margin: 0;
    padding: 0;
}

body h1, body h2.testheading {
    text-align: center;
}

.outside-click-target {
    margin: 1em;
    border: 2px solid rgba(0, 0, 0, .25);
    padding: 1em;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    font-weight: bold;
}
