.il-footer-parent {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 45px 45px 0 0;

  p {
    margin: 0;
    padding: 0 0 25px 0;
  }

  a {
    @extend .il-link;
    text-decoration: none;
  }
  
  a:hover, a:focus {
    outline: none;
    text-decoration: underline;
    color: var(--il-orange);
  }
}

