.il-footer-social {
  ul {
    @include reset-list;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: -6px;
    font: 700 18px/30px var(--il-source-sans);
  }
  li {
    @include reset-list-item;
    padding: 6px;
  }
  a {
    @include reset-link;
    position: relative;
    display: block;
    background-color: var(--il-link-color);
    color: var(--il-blue);
    box-sizing: border-box;
    padding: 0 10px;
    border-radius: 15px;
    white-space: nowrap;
  }
  a:visited {
    background-color: var(--il-visited-link-color);
  }
  a:hover, a:focus {
    background-color: var(--il-link-hover-color);
    color: white;
  }
  a:focus {
    outline: var(--il-dotted-focus-outline);
  }
  a[href^="https://www.facebook.com/"],
  a[href^="https://www.instagram.com/"],
  a[href^="https://www.linkedin.com/"],
  a[href^="https://www.pinterest.com/"],
  a[href^="https://www.snapchat.com/"],
  a[href^="https://twitter.com/"],
  a[href^="https://weibo.com/"],
  a[href^="https://www.whatsapp.com/"],
  a[href^="https://www.youtube.com/"] {
    position: relative;
    margin: -4px -6px;
    padding: 0;
    height: 48px;
    overflow: hidden;
    width: 48px;
    text-indent: 200%;
    white-space: nowrap;
    font: normal 30px var(--il-icons-solid);
    background-color: transparent;
    color: var(--il-link-color);
    border-radius: 0;

    &:visited {
      color: var(--il-visited-link-color);
    }

    &:hover, &:focus {
      color: var(--il-link-hover-color);
    }

    &:before {
      @extend %il-icon;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 100;
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      text-indent: 0;
      white-space: normal;
    }
  }
  a[href^="https://www.facebook.com/"]:before {
    content: "facebook";
  }
  a[href^="https://www.instagram.com/"]:before {
    content: "instagram";
  }
  a[href^="https://www.linkedin.com/"]:before {
    content: "linkedin";
  }
  a[href^="https://www.pinterest.com/"]:before {
    content: "pinterest";
  }
  a[href^="https://www.snapchat.com/"]:before {
    content: "snapchat";
  }
  a[href^="https://twitter.com/"]:before {
    content: "twitter";
  }
  a[href^="https://weibo.com/"]:before {
    content: "weibo";
  }
  a[href^="https://www.whatsapp.com/"]:before {
    content: "whatsapp";
  }
  a[href^="https://www.youtube.com/"]:before {
    content: "youtube";
  }
}

