<!DOCTYPE html>
<script src="./header.component.js" type="module"></script>
<script src="../navigation/navigation.component.js" type="module"></script>
<script src="../navigation/section.component.js" type="module"></script>
<script src="../search/search.component.js" type="module"></script>
<script src="../unit-wordmark/unit-wordmark.component.js" type="module"></script>

<il-header>

    <div slot="wordmark">
        <il-unit-wordmark>
            <h1>College of Agricultural, Consumer & Environmental Sciences</h1>
        </il-unit-wordmark>
    </div>

    <il-search slot="search"></il-search>

    <nav slot="links" class="il-links" aria-label="Top">
        <ul>
            <li><a id="link-1" href="#">Apply</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>

    <il-nav slot="navigation">
        <il-nav-section>
            <a href="https://www.google.com" slot="label">About</a>
            <ul class="il-subnav">
                <li>
                    <a href="https://www.google.com">Overview of ACES</a>
                </li>
                <li>
                    <a href="#">Programs of Study</a>
                </li>
                <li>
                    <a href="#">Diversity</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Visit</a>
                </li>
            </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">Academics</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">Programs of Study</a>
                    </li>
                    <li>
                        <a href="#">Future Students</a>
                    </li>
                    <li>
                        <a href="#">Admissions</a>
                    </li>
                    <li>
                        <a href="#">Student Life</a>
                    </li>
                    <li>
                        <a href="#">Current Students</a>
                    </li>
                    <li>
                        <a href="#">Study Abroad</a>
                    </li>
                    <li>
                        <a href="#">Career Services</a>
                    </li>
                    <li>
                        <a href="#">Student Diversity and Inclusion</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Staff</a>
                    </li>
                </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">Research</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">Research Areas</a>
                    </li>
                    <li>
                        <a href="#">Research History</a>
                    </li>
                    <li>
                        <a href="#">Facilities</a>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                    </li>
                    <li>
                        <a href="#">Safety and Compliance</a>
                    </li>
                    <li>
                        <a href="#">Civil Rights</a>
                    </li>
                    <li>
                        <a href="#">Staff</a>
                    </li>
                </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">Extension</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Staff</a>
                    </li>
                    <li>
                        <a href="#">Programs</a>
                    </li>
                </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">International</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">International Engagements</a>
                    </li>
                    <li>
                        <a href="#">Resources</a>
                    </li>
                    <li>
                        <a href="#">Newsletter &amp; Publications</a>
                    </li>
                    <li>
                        <a href="#">Study Abroad</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">Staff</a>
                    </li>
                </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">News</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">Events</a>
                    </li>
                    <li>
                        <a href="#">#askACES Podcast</a>
                    </li>
                    <li>
                        <a href="#">Voices of ACES Blog</a>
                    </li>
                    <li>
                        <a href="#">Subscribe</a>
                    </li>
                    <li>
                        <a href="#">ACES Seminars</a>
                    </li>
                    <li>
                        <a href="#">COVID-19</a>
                    </li>
                </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">People</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">College Leadership</a>
                    </li>
                    <li>
                        <a href="#">Academic Department Heads</a>
                    </li>
                    <li>
                        <a href="#">Academic Units</a>
                    </li>
                    <li>
                        <a href="#">Administrative Units</a>
                    </li>
                </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">Giving</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">With ACES Priorities</a>
                    </li>
                    <li>
                        <a href="#">Ways to Give</a>
                    </li>
                    <li>
                        <a href="#">Give Now</a>
                    </li>
                    <li>
                        <a href="#">Alumni Association</a>
                    </li>
                    <li>
                        <a href="#">Student Committee</a>
                    </li>
                    <li>
                        <a href="#">4-H Foundation</a>
                    </li>
                </ul>
        </il-nav-section>
    </il-nav>

</il-header>