@layer components {

  il-header {
    position: relative;

    *[slot="primary-unit"] {
      all: initial;
      display: block;
      color: var(--il-blue);
      font: 400 1.125rem/1.5rem var(--il-font-sans);
    }
    a[slot="primary-unit"], *[slot="primary-unit"] a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        text-decoration: underline;
        outline: 2px dotted;
      }
    }

    *[slot="site-name"] {
      all: initial;
      display: block;
      color: var(--il-blue);
      font: 700 1.5rem/1.8125rem var(--il-font-sans);
    }
    a[slot="site-name"], *[slot="site-name"] a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:focus {
        text-decoration: underline;
        outline: 2px dotted;
      }
    }

  }

  /* EYEBROW */

  il-header *[slot="eyebrow"] {
    all: initial;

    ul {
      all: initial;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    li {
      all: initial;
      display: block;
      position: relative;
      padding: 0 0 0 1rem;
    }
    li::before {
      content: '';
      position: absolute;
      left: .5rem;
      top: 20%;
      background-color: var(--il-orange);
      height: 60%;
      width: 2px;
    }
    li:first-child {
      padding-left: 0;
    }
    li:first-child::before {
      display: none;
    }

    a {
      all: initial;
      display: inline-block;
      padding: 0 .25rem;
      color: var(--il-blue);
      font: 700 1rem/1.375rem var(--il-font-sans);
    }
    a:hover, a:focus {
      color: var(--il-altgeld);
      text-decoration: underline;
      cursor: pointer;
    }
    a:focus {
      outline: 2px dotted;
    }
  }

  il-header[data-compact="true"] > nav[slot="eyebrow"] {

    ul {
      justify-content: center;
      align-items: center;
    }
    li:before {
      background-color: white;
    }
    a {
      padding: 1rem;
    }
  }

  /* SEARCH */

  il-header[data-compact="true"] form[slot="search"][role="search"] {
    all: initial;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto max-content;
    width: 100%;
    padding: 1em;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

    & > input[type="search"][aria-labelledby] {
      all: initial;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      padding: 0 .5rem;
      color: var(--il-blue);
      font: 1rem/2rem var(--il-font-sans);
      z-index: 1;
      background-color: white;
      border: 2px solid #d8d8d8;
      border-radius: .25em 0 0 .25rem;
      margin-right: -1px;

      &:focus {
        z-index: 10;
        border-color: var(--il-industrial);
        border-style: dotted;
      }
    }

    & > button[type="submit"][id] {
      all: initial;
      box-sizing: border-box;
      display: block;
      position: relative;
      overflow: hidden;
      font: 1rem var(--il-font-sans);
      background-image: url("https://cdn.brand.illinois.edu/icons/duo/blue/search.svg");
      background-repeat: no-repeat;
      background-position: .5rem center;
      background-size: 1.25rem;
      cursor: pointer;
      z-index: 1;
      background-color: white;
      white-space: nowrap;
      padding: 0 1em 0 2em;
      color: var(--il-blue);
      border: 2px solid #d8d8d8;
      border-radius: 0 .25em .25rem 0;
      margin-left: -1px;

      &:focus {
        z-index: 10;
        border-color: var(--il-industrial);
        border-style: dotted;
      }
    }
  }

  il-header[data-compact="false"] form[slot="search"][role="search"] {
    all: initial;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;

    & > input[type="search"][aria-labelledby] {
      all: initial;
      box-sizing: border-box;
      position: relative;
      display: inline-block;
      padding: 0 .5rem;
      color: var(--il-blue);
      font: 1rem/2rem var(--il-font-sans);
      z-index: 1;
      background-color: white;
      width: 16rem;
      max-width: 100%;
      border: 2px solid #d8d8d8;
      border-radius: .25em 0 0 .25rem;
      margin-right: -1px;

      &:focus {
        z-index: 10;
        border-color: var(--il-industrial);
        border-style: dotted;
      }
    }
    & > button[type="submit"][id] {
      all: initial;
      box-sizing: border-box;
      display: block;
      position: relative;
      overflow: hidden;
      font: 1rem var(--il-font-sans);
      background-image: url("https://cdn.brand.illinois.edu/icons/duo/blue/search.svg");
      background-repeat: no-repeat;
      background-position: .5rem center;
      background-size: 1.25rem;
      cursor: pointer;
      z-index: 1;
      background-color: white;
      white-space: nowrap;
      padding: 0 1em 0 2em;
      color: var(--il-blue);
      border: 2px solid #d8d8d8;
      border-radius: 0 .25em .25rem 0;
      margin-left: -1px;

      &:focus {
        z-index: 10;
        border-color: var(--il-industrial);
        border-style: dotted;
      }
    }

  }
}

