---
title: Image Feature (forced alternating)
group: "Components: Image Feature"
layout: layouts/page.njk
---
<div class="il-formatted">

<il-image-feature src="{{ '/_assets/images/1.jpg' | url }}">

<p style="text-align: center;"><span class="il-icon-solid" style="font-size: 6rem;">research</span></p>
<h2 style="text-align: center;">Research Experiences for Undergraduates (REU)</h2>
<p style="text-align: center;">Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
<p style="text-align: center;"><a class="il-button" href="#">Learn More</a></p>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/2.jpg' | url }}">

<p style="text-align: center;"><span class="il-icon-solid" style="font-size: 6rem;">students</span></p>
<h2 style="text-align: center;">Unique Learning Experiences</h2>
<p style="text-align: center;">The Grainger Engineering experience is much more than an elite education. We create opportunities for you to participate in groundbreaking research, launch startup companies, travel the world, and collaborate across disciplines to take on the world's most important challenges—all from the moment you arrive on campus.</p>
<p style="text-align: center;"><a class="il-button" href="#">Learn More</a></p>


</il-image-feature>

<il-image-feature src="{{ '/_assets/images/3.jpg' | url }}">
<p style="text-align: center;"><span class="il-icon-solid" style="font-size: 6rem;">location</span></p>
<h2 style="text-align: center;">Study Abroad</h2>
<p style="text-align: center;"><em>Yes,</em> you can and are encouraged to enhance your education for a few weeks, months, or longer at locations around the world. Travel, work, and service abroad will prepare you for leadership in an increasingly global workforce. And there are many opportunities designed to fit into your schedule.</p>
<p style="text-align: center;"><a class="il-button" href="/academics/study-abroad">Learn More</a></p>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/4.jpg' | url }}">
<h2 style="text-align: left;"><strong>Achieve Your Goals Through an Online Education at The Grainger College of Engineering</strong></h2>
<p>The Grainger College of Engineering has a 23-year history of delivering excellence in online education through a vast number of elite degree, courses, and certificate programs, helping students like you to achieve your academic and professional goals.</p>
<p>If you have any questions about online learning at The Grainger College of Engineering, contact our Office of Online Programs team at 217-333-6634 or <a href="#">engr-o2pep@illinois.edu</a>. We are here to help every step of the way.</p>
<p>If you are ready to take the first step in achieving your goals, <a href="#">learn more about online registration today.</a></p> 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/5.jpg' | url }}" size="small">
<h2 style="text-align: left;"><strong>Achieve Your Goals Through an Online Education at The Grainger College of Engineering</strong></h2>
<p>The Grainger College of Engineering has a 23-year history of delivering excellence in online education through a vast number of elite degree, courses, and certificate programs, helping students like you to achieve your academic and professional goals.</p>
<p>If you have any questions about online learning at The Grainger College of Engineering, contact our Office of Online Programs team at 217-333-6634 or <a href="#">engr-o2pep@illinois.edu</a>. We are here to help every step of the way.</p>
<p>If you are ready to take the first step in achieving your goals, <a href="#">learn more about online registration today.</a></p> 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/6.jpg' | url }}">
<h2 style="text-align: left;"><strong>Achieve Your Goals Through an Online Education at The Grainger College of Engineering</strong></h2>
<p>The Grainger College of Engineering has a 23-year history of delivering excellence in online education through a vast number of elite degree, courses, and certificate programs, helping students like you to achieve your academic and professional goals.</p>
<p>If you have any questions about online learning at The Grainger College of Engineering, contact our Office of Online Programs team at 217-333-6634 or <a href="#">engr-o2pep@illinois.edu</a>. We are here to help every step of the way.</p>
<p>If you are ready to take the first step in achieving your goals, <a href="#">learn more about online registration today.</a></p> 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/7.jpg' | url }}" background="white">
<h2 style="text-align: left;"><strong>Achieve Your Goals Through an Online Education at The Grainger College of Engineering</strong></h2>
<p>The Grainger College of Engineering has a 23-year history of delivering excellence in online education through a vast number of elite degree, courses, and certificate programs, helping students like you to achieve your academic and professional goals.</p>
<p>If you have any questions about online learning at The Grainger College of Engineering, contact our Office of Online Programs team at 217-333-6634 or <a href="#">engr-o2pep@illinois.edu</a>. We are here to help every step of the way.</p>
<p>If you are ready to take the first step in achieving your goals, <a href="#">learn more about online registration today.</a></p> 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/8.jpg' | url }}" background="orange">
<h2 style="text-align: left;"><strong>Achieve Your Goals Through an Online Education at The Grainger College of Engineering</strong></h2>
<p>The Grainger College of Engineering has a 23-year history of delivering excellence in online education through a vast number of elite degree, courses, and certificate programs, helping students like you to achieve your academic and professional goals.</p>
<p>If you have any questions about online learning at The Grainger College of Engineering, contact our Office of Online Programs team at 217-333-6634 or <a href="#">engr-o2pep@illinois.edu</a>. We are here to help every step of the way.</p>
<p>If you are ready to take the first step in achieving your goals, <a href="#">learn more about online registration today.</a></p> 
</il-image-feature>

</div>
