---
title: Image Feature (depreciated attributes)
group: "Components: Image Feature"
layout: layouts/page.njk
htmlAttrs: "data-il-debug=\"true\""
---
<div class="il-formatted">
<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" align="left" alt="Adding accessibility information describing the image here">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" align="right">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" background="white" align="left">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" size="small" align="left">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" size="large" align="left" background="solid">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" size="portrait" align="left" background="white">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" size="large" align="right">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

<il-image-feature src="{{ '/_assets/images/hero-bg.jpg' | url }}" background="orange" align="left">
<h3>Student Life</h3>
<p>Animal sciences students extend their learning and career networks beyond
the classroom through internships, <a href="#">judging teams</a>, student organizations, undergraduate research
projects with our faculty, as well as short- and long-term study abroad opportunities all over the world. </p>

<a href="#" class="il-button">Subscribe</a>
<a href="#" class="il-button">Find a departmental advisor</a>
 
</il-image-feature>

</div>
