---
title: Image Feature (fixed margin)
group: "Components: Image Feature"
layout: layouts/page.njk
---
<div class="il-formatted">

<il-image-feature class="il-fixed-width il-theme-blue">
<img src="{{ '/_assets/images/1.jpg' | url }}" slot="image" alt="">
<h2>Research Experiences for Undergraduates (REU)</h2>
<p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
<p><a class="il-button" href="#">Learn More</a></p>
</il-image-feature>

<il-image-feature class="il-picture-no-fill il-fixed-width il-theme-blue">
<img src="{{ '/_assets/images/portrait.jpg' | url }}" slot="image" alt="">
<h2>Research Experiences for Undergraduates (REU)</h2>
<p>Research Experiences for Undergraduates (REU) are offered by Illinois, other universities, institutions, and agencies nationwide. These experiences give you the opportunity to actively participate in research and work with faculty and researchers on ongoing research projects.</p>
<p><a class="il-button" href="#">Learn More</a></p>
</il-image-feature>

<il-image-feature class="il-overlay il-fixed-width il-theme-blue">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
<h2>Study Abroad</h2>
<p><em>Yes,</em> you can and are encouraged to enhance your education for a few weeks, months, or longer at locations around the world. Travel, work, and service abroad will prepare you for leadership in an increasingly global workforce. And there are many opportunities designed to fit into your schedule.</p>
<p><a class="il-button" href="/academics/study-abroad">Learn More</a></p>
</il-image-feature>

</div>