---
title: Image Feature (list collection view)
group: "Components: Image Feature"
layout: layouts/page.njk
---
<div class="il-formatted">
<il-image-feature class="il-theme-white il-size-xsmall il-original">
<img slot="image" src="{{ '/_assets/images/portrait.jpg' | url }}">
<h3>Jane Doe</h3>
<p><strong>Sterling, IL / Pre-Vet</strong></p>
<p>My future plans include graduating from ACES with a bachelor's degree in animal sciences. Next year I plan to apply to a college of veterinary medicine. My ultimate career goal is to become a large/mixed animal veterinarian. </p>
</il-image-feature>

<il-image-feature class="il-theme-white il-size-small il-original">
<img slot="image" src="{{ '/_assets/images/portrait.jpg' | url }}">
<h3>Jane Doe</h3>
<p><strong>Sterling, IL / Pre-Vet</strong></p>
<p>My future plans include graduating from ACES with a bachelor's degree in animal sciences. Next year I plan to apply to a college of veterinary medicine. My ultimate career goal is to become a large/mixed animal veterinarian. </p>
</il-image-feature>

<il-image-feature class="il-theme-white il-original">
<img slot="image" src="{{ '/_assets/images/portrait.jpg' | url }}">
<h3>Jane Doe</h3>
<p><strong>Sterling, IL / Pre-Vet</strong></p>
<p>My future plans include graduating from ACES with a bachelor's degree in animal sciences. Next year I plan to apply to a college of veterinary medicine. My ultimate career goal is to become a large/mixed animal veterinarian. </p>
</il-image-feature>

<il-image-feature class="il-theme-white il-size-large il-original">
<img slot="image" src="{{ '/_assets/images/portrait.jpg' | url }}">
<h3>Jane Doe</h3>
<p><strong>Sterling, IL / Pre-Vet</strong></p>
<p>My future plans include graduating from ACES with a bachelor's degree in animal sciences. Next year I plan to apply to a college of veterinary medicine. My ultimate career goal is to become a large/mixed animal veterinarian. </p>
</il-image-feature>
</div>