---
title: Image Feature (overlay option)
group: "Components: Image Feature"
layout: layouts/page.njk
---
<div class="il-formatted">

<h2>Default</h2>

<il-image-feature class="il-overlay">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature>


<h2>Orange</h2>

<il-image-feature class="il-overlay il-theme-orange">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature>


<h2>White</h2>

<il-image-feature class="il-overlay il-theme-white">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature>

<h2>Orange align right</h2>

<il-image-feature class="il-overlay il-theme-orange il-align-right">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature>

<h2>Blue align right</h2>

<il-image-feature class="il-overlay il-theme-blue il-align-right">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature>

<h2>White align right</h2>

<il-image-feature class="il-overlay il-theme-white il-align-right">
  <img slot="image" src="{{ '/_assets/images/hero-bg.jpg' | url }}">
  <h3>LAS Impact Award: Recognizing inspiring efforts during COVID-19</h3>
  <p>The College of LAS honors individuals and teams that have demonstrated service and sacrifice beyond expectations during the pandemic.</p>
  <p><a href="#" class="il-button">Celebrate the awardees</a></p>
</il-image-feature>

</div>
