@import "css/elements.css" layer(component);
@import "css/button-links.css" layer(component);
@import "css/introduction.css" layer(component);
@import "css/lede.css" layer(component);
@import "css/card.css" layer(component);

@layer component {

  :root {
    --il-content--color: var(--il-base-25);
    --il-content--heading--color: var(--il-content--color);

    --il-content--font-weight: 400;
    --il-content--font-size: 1.125em;
    --il-content--line-height: 1.66em;
    --il-content--font-family: var(--il-font-sans);

    --il-content-heading-base-size: 1.125em;
    --il-content-heading-ratio: 1.2;
    --il-content-h6-size: var(--il-content-heading-base-size);
    --il-content-h5-size: calc(var(--il-content-h6-size) * var(--il-content-heading-ratio));
    --il-content-h4-size: calc(var(--il-content-h5-size) * var(--il-content-heading-ratio));
    --il-content-h3-size: calc(var(--il-content-h4-size) * var(--il-content-heading-ratio));
    --il-content-h2-size: calc(var(--il-content-h3-size) * var(--il-content-heading-ratio));
    --il-content-h1-size: calc(var(--il-content-h2-size) * var(--il-content-heading-ratio));
  }

  il-content {
    box-sizing: border-box;
    display: block;
    font-weight: var(--il-content--font-weight);
    font-size: var(--il-content--font-size);
    line-height: var(--il-content--line-height);
    font-family: var(--il-content--font-family);

    color: var(--il-content--color);
    background: var(--il-content--background, white);
    container-type: inline-size;
    position: relative;


    /* TODO: WP BLOCK EDITOR COMPATIBILITY */

    &.il-wp-block-editor-content {
      h1, h2, h3, h4, h5, h6 {
        &:first-child {
          margin-top: var(--il-heading-margin-top);
        }
      }
    }
  }

  il-content.il-fixed-width {
    --il-content--max-width: 1200px;
  }

  il-content.il-size-small {
    --il-content--font-size: 1em;
  }
  il-content.il-size-large {
    --il-content--font-size: 1.45em;
  }

  il-page > il-content {
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: var(--il-page--padding-left);
    padding-right: var(--il-page--padding-right);
  }

  @container (max-width: 480px) {
    il-content {
      --il-content-heading-ratio: 1.125;
      --il-content--font-size: 1em;
    }
  }
}

@layer theme {
  il-content.il-theme-blue, .il-theme-blue il-content, il-content.il-theme-blue-gradient, .il-theme-blue-gradient il-content,
  .il-button.il-theme-blue, .il-button.il-theme-blue-gradient {
    @mixin il-content--theme-blue;
  }

  .il-button.il-theme-blue, .il-button.il-theme-blue-gradient {
    --il-content--button--focus--border-color: var(--il-blue);
    --il-content--button--border-color: var(--il-blue);
  }

  .il-theme-blue-gradient il-content {
    --il-content--background: transparent;
    --il-content--button--background-color: transparent;
  }

  il-content.il-theme-blue-gradient {
    --il-content--background: var(--il-blue-gradient);
    --il-content--button--background-color: transparent;
  }

  il-content.il-theme-white, .il-theme-white il-content, .il-button.il-theme-white {
    @mixin il-content--theme-white;
  }

  il-content.il-theme-gray, .il-theme-gray il-content, .il-button.il-theme-gray {
    @mixin il-content--theme-gray;
  }

  il-content.il-theme-orange, .il-theme-orange il-content, .il-theme-orange-gradient il-content, 
  .il-button.il-theme-orange, .il-button.il-theme-orange-gradient{
    @mixin il-content--theme-orange;
  }

  .il-button.il-theme-orange, .il-button.il-theme-orange-gradient {
    --il-content--button--focus--border-color: var(--il-orange);
    --il-content--button--border-color: var(--il-orange);
  }

  il-content.il-theme-industrial-blue, .il-theme-industrial-blue il-content, .il-button.il-theme-industrial-blue {
    @mixin il-content--theme-industrial-blue;
  }

  .il-button.il-theme-industrial-blue {
    --il-content--button--focus--border-color: var(--il-industrial-blue);
    --il-content--button--border-color: var(--il-industrial-blue);
  }

  il-content.il-theme-altgeld, .il-theme-altgeld il-content, .il-button.il-theme-altgeld {
    @mixin il-content--theme-altgeld;
  }

  .il-button.il-theme-altgeld {
    --il-content--button--focus--border-color: var(--il-altgeld);
    --il-content--button--border-color: var(--il-altgeld);
  }

}
