
il-quote, .il-quote, .il-formatted il-quote, .il-formatted .il-quote {
  display: block;
  position: relative;
  padding: 0 60px;
  margin: 50px auto;
  max-width: 700px;
  color: var(--il-blue);
  font: 400 2.25rem/3.1875rem var(--il-font-serif);
  font-style: italic;
  text-align: center;

  p[slot="attributed"] {
    text-align: center;
    margin-top: .8888888889em;
    color: var(--il-orange);
    font: 700 1.813rem/2.188rem var(--il-source-sans);
  }

  p[slot="secondary"] {
    text-align: center;
    color: var(--il-blue);
    font: 300 1.438rem/1.875rem var(--il-source-sans);
  }
}

@media only screen and (max-width: 792px) {
  il-quote, .il-quote, .il-formatted il-quote, .il-formatted .il-quote {
    font-size: 1.813rem;
    line-height: 2.375rem;

    p[slot="attributed"] {
      font-size: 1.5rem;
      line-height: 1.875rem;
    }
  
    p[slot="secondary"] {
      font-size: 1.25rem;
      line-height: 1.625rem;
    }
  }
}




p.il-quote {
  position: relative;
}
p.il-quote::before {
  position: absolute;
  content: "“";
  color: var(--il-orange);
  font-size: 7.813rem;
  line-height: 0;
  top: 55px;
  left: -90px;
  font-weight: 700;
  font-style: normal;
}

p.il-quote::after {
  position: absolute;
  content: "”";
  color: var(--il-orange);
  font-size: 7.813rem;
  line-height: 0;
  bottom: 0;
  right: -90px;
  font-weight: 700;
  font-style: normal;
}

@media only screen and (max-width: 792px) {
  p.il-quote::before {
    font-size: 6.25rem;
    top: 45px;
    left: -70px;
  }
  p.il-quote::after {
    font-size: 6.25rem;
    right: -70px;
  }
}
