---
title: Solid icons by entity
layout: layouts/icons.njk
---

<ul class="icon-sheet icon-sheet--solid">
    {% for icon in icons %}
        <li>
            <span class="icon-sheet__icon">{{ icon.entity | safe }}</span>
            <span class="icon-sheet__label">{{ icon.entity }}</span>
        </li>
    {% endfor %}
</ul>
