---
title: Accordion / Details
group: Stylesheets
layout: layouts/page.njk
stylesheets: ['tests.css']
---
<div class="il-formatted" style="max-width: 950px; margin: 50px auto;">
<h1>Accordion information</h1>
<h2>Solid accordion, multiple can be opened at once, and they all start open</h2>
<div class="il-accordion-multiple">
    <details open>
        <summary>
            Choose a Program and Specialization
        </summary>
        <p>While an applicant may apply to several programs, applying to several specializations within the same program is not recommended.&nbsp;<br /></p>
    </details>
    <details open>
        <summary>
            Personal Statement 
        </summary>
        <p>A statement in which you provide evidence of how your professional experiences and prior academic work have focused your thinking toward the planned program of study.&nbsp; A minimum 500 words is required for the personal statement.&nbsp; There is no maximum length to the statement, though most are not over 3 pages.</p>
    </details>
    <details open>
        <summary>I tried signing up for a course, but it keeps giving me errors—what do I do?</summary>
        <p>There are several reasons why signing up for a course may result in an error. Here are a few common errors and solutions:</p>
        <ul>
            <li>Link Error - Register for all parts of the course simultaneously (lecture &amp; lab; lecture &amp; discussion; lecture &amp; quiz, etc.)</li>
            <li>Departmental Approval Required - Contact the department that teaches the course</li>
            <li>Pre-req./Test Score Error - Check course restrictions on the Class Schedule&nbsp;</li>
            <li>Time Conflict Error - Course times are overlapping. Select a different section</li>
            <li>Class Error - Qualification based on Freshman, Sophomore, Junior, or Senior standing</li>
            <li>Level Error - Qualification based on Undergrad or Graduate standing</li>
            <li>Major Error - Restricted to certain major(s)</li>
            <li>Closed Error - Course is full. Check online later for spots (students may drop the course, more openings may become available) or contact the department that teaches the course</li>
        </ul>
    </details>

</div>

<h2>Solid accordion, only one open at a time</h2>
<div class="il-accordion il-details-solid">
    <details open>
        <summary>
            Choose a Program and Specialization (this starts open)
        </summary>
        <p>While an applicant may apply to several programs, applying to several specializations within the same program is not recommended.&nbsp;<br /></p>
    </details>
    <details>
        <summary>
            Personal Statement
        </summary>
        <p>A statement in which you provide evidence of how your professional experiences and prior academic work have focused your thinking toward the planned program of study.&nbsp; A minimum 500 words is required for the personal statement.&nbsp; There is no maximum length to the statement, though most are not over 3 pages.</p>
    </details>
    <details>
        <summary>
            Resume/Curriculum Vitae
        </summary>
        <p>This is required of all applicants. &nbsp;For students applying to the Special Education doctoral program,&nbsp;a minimum of two years paid full-time professional experience related to special education or the field of disability is preferred for consideration for the program.</p>
    </details>
    <details>
        <summary>
            Letters of Reference
        </summary>
        <p>Every applicant is required to submit 3 letters of reference from persons who have direct knowledge of their academic and/or professional performance and potential for graduate study.</p>
    </details>
    <details>
        <summary>
            Transcripts
        </summary>
        <p>At the time of application you are only required to upload unofficial copies of your transcripts into the application. &nbsp;The unofficial copy can be a screenshot or scanned copy but should not be a photo of the transcript. &nbsp;Applicants must have earned at least a degree from an accredited college in the United States or a comparable degree from a recognized institution of higher learning abroad.&nbsp; If admitted, you will be required to submit official transcripts to the Graduate College.&nbsp;&nbsp;</p>
    </details>
    <details>
        <summary>
            3.0 Minimum GPA
        </summary>
        <p>A grade point average (GPA) of 3.0 on a 4.0 scale (A=4.0), or comparable GPA for an international applicant, for last two years of undergraduate study is a minimum requirement for admission.</p>
    </details>
    <details>
        <summary>
            Application Fee
        </summary>
        <p>Once you have submitted your application, you will be required to pay your application fee by credit card.</p><ul><li>The fee must be paid within 3 weeks of submitting your application or your application will be unsubmitted.</li><li>The fee must also be paid prior to your application deadline</li><li>The fee is non-refundable and your application cannot be reviewed until the application fee has been processed.</li><li>The application fee amount is determined by your citizenship and/or visa status.<ul><li>Domestic applicants are required to submit a&nbsp;$70.00 application fee.</li><li>International applicants are required to submit a&nbsp;$90.00 application fee.</li></ul></li></ul><p>There are a variety of application fee waivers available.&nbsp; Please see the <a href="http://www.grad.illinois.edu/application-fee" target="_blank">Graduate College's website</a> for the waivers accepted by the University of Illinois.&nbsp; </p>
    </details>
</div>

<h2>Accordion with borders, only one open at a time</h2>
<div class="il-accordion il-details-bordered">
    <details>
        <summary>
           <a href="https://www.google.com">How do I add a course?</a>
        </summary>
        <p>You can add a semester course in Enterprise Self-Service up until the 2nd Friday of the semester.</p>
        <p>To add a course after the deadline, you will need to obtain instructor approval and fill out a <a href="https://grad.illinois.edu/files/pdfs/ares-late-registration.pdf">late course change form.</a> This form must be filled out by you, the student; signed by your instructor; and stamped by the department offering the course before submitting it to ACES Academic Programs in 128 Mumford Hall.</p>
        <p>You should check the Office of the Registrar’s website for academic deadlines.</p>
    </details>
    <details>
        <summary>
           How do I drop a course?
        </summary>
        <p>You can drop a semester course in Enterprise Self-Service up until the 8th week of the semester.</p>
        <p>To drop a course after the deadline, you will need to fill out a Petition to Drop a Course.</p>
        <p>You should check the <a href="https://registrar.illinois.edu/academic-calendars/">Office of the Registrar’s website</a> for academic deadlines.</p>
    </details>
    <details>
        <summary>
          What happens if I retake a course?
        </summary>
        <p>By default, if you retake a course, both grades are listed on your transcript and both are counted in your GPA. You only receive credit hours for one instance of the course, though. If you want to retake a course and received a C- or below during your first attempt, you may be eligible for <a href="https://appserv7.admin.uillinois.edu/FormBuilderSurvey/Survey/uiuc_aces/oap/grade_replacment/">grade replacement</a>. Both instances of the course must be taken here at the University of Illinois. You can find the form for Grade Replacement on the <a href="https://aces.illinois.edu/academics/current-students/forms">ACES Academic Programs Forms &amp; Petitions Page.</a> There are deadlines for declaring Grade Replacement, so it is important you check the <a href="https://registrar.illinois.edu/academic-calendars/">Office of the Registrar’s website</a> for updated academic deadlines.</p>
        <p>Remember, both instances of the course must be taken here at the University of Illinois to be eligible for Grade Replacement. If you retake a course at a community college or other university, then you cannot use Grade Replacement.</p>
    </details>
    <details>
        <summary>
           How do I take more than 18 credit hours in a semester?
        </summary>
        <p><a href="/academics/undergraduate-degrees/experiential-learning-requirement">Find information about ANSC 398</a></p>
    </details>
    <details>
        <summary>
           How do I complete my ANSC 398 requirement?
        </summary>
        <p>At the time of application you are only required to upload unofficial copies of your transcripts into the application. &nbsp;The unofficial copy can be a screenshot or scanned copy but should not be a photo of the transcript. &nbsp;Applicants must have earned at least a degree from an accredited college in the United States or a comparable degree from a recognized institution of higher learning abroad.&nbsp; If admitted, you will be required to submit official transcripts to the Graduate College.&nbsp;&nbsp;</p>
    </details>
    <details>
        <summary>
          How can I take a course at Parkland with in-district tuition?
        </summary>
        <p>Many students take courses at Parkland during the summer and/or academic year. To receive in-district tuition, you must complete a Concurrent Enrollment Form. You must be enrolled as a full-time student here at the University of Illinois in order to receive in-district tuition. This means that for the summer term, you must be enrolled in at least 12 hours for the upcoming fall semester. If you are taking a course during the academic year, you must be a full-time student during the semester you will be completing the course at Parkland.</p>
    </details>
    <details>
        <summary>
           Which courses does the University of Illinois College of Veterinary Medicine require?
        </summary>
        <p>While some requirements are built into our curriculum, there are some requirements you will need to take as electives. You will need to take the following additional courses to meet University of Illinois Vet School requirements:</p>
        <ul>
            <li>Organic Chemistry with Lab (CHEM 232 &amp; 233)</li>
            <li>An additional 3 hours of Biological Sciences with Laboratory (there are 8 credit hours required, 5 of which are satisfied by MCB 100 and 101)</li>
            <li>8 credit hours of Physics with Laboratories (PHYS 101 &amp; 102)</li>
            <li>Biochemistry (MCB 450 or ANSC 350)</li>
        </ul>
        <p>This is for informational purposes only. We do not control which courses the University of Illinois Vet School requires. It is best that you establish a relationship with them as early as possible to make sure you are making progress on their requirements. Please visit the University of Illinois College of Veterinary Medicine webpage for more information.</p>
    </details>
</div>

<h2>Accordion with borders, multiple open at a time, headings as 'h3'</h2>
<div class="il-accordion-multiple il-details-bordered">
    <details>
        <summary>
            <h3>How do I add a <a href="https://www.google.com">course?</a></h3>
        </summary>
        <p>You can add a semester course in Enterprise Self-Service up until the 2nd Friday of the semester.</p>
        <p>To add a course after the deadline, you will need to obtain instructor approval and fill out a <a href="https://grad.illinois.edu/files/pdfs/ares-late-registration.pdf">late course change form.</a> This form must be filled out by you, the student; signed by your instructor; and stamped by the department offering the course before submitting it to ACES Academic Programs in 128 Mumford Hall.</p>
        <p>You should check the Office of the Registrar’s website for academic deadlines.</p>
    </details>
    <details>
        <summary>
            <h3>How do I drop a course?</h3>
        </summary>
        <p>You can drop a semester course in Enterprise Self-Service up until the 8th week of the semester.</p>
        <p>To drop a course after the deadline, you will need to fill out a Petition to Drop a Course.</p>
        <p>You should check the <a href="https://registrar.illinois.edu/academic-calendars/">Office of the Registrar’s website</a> for academic deadlines.</p>
    </details>
    <details>
        <summary>
          <h3> What happens if I retake a course?</h3>
        </summary>
        <p>By default, if you retake a course, both grades are listed on your transcript and both are counted in your GPA. You only receive credit hours for one instance of the course, though. If you want to retake a course and received a C- or below during your first attempt, you may be eligible for <a href="https://appserv7.admin.uillinois.edu/FormBuilderSurvey/Survey/uiuc_aces/oap/grade_replacment/">grade replacement</a>. Both instances of the course must be taken here at the University of Illinois. You can find the form for Grade Replacement on the <a href="https://aces.illinois.edu/academics/current-students/forms">ACES Academic Programs Forms &amp; Petitions Page.</a> There are deadlines for declaring Grade Replacement, so it is important you check the <a href="https://registrar.illinois.edu/academic-calendars/">Office of the Registrar’s website</a> for updated academic deadlines.</p>
        <p>Remember, both instances of the course must be taken here at the University of Illinois to be eligible for Grade Replacement. If you retake a course at a community college or other university, then you cannot use Grade Replacement.</p>
    </details>
    <details>
        <summary>
           <h3> How do I take more than 18 credit hours in a semester?</h3>
        </summary>
        <p><a href="/academics/undergraduate-degrees/experiential-learning-requirement">Find information about ANSC 398</a></p>
    </details>
    <details>
        <summary>
            <h3>How do I complete my ANSC 398 requirement?</h3>
        </summary>
        <p>At the time of application you are only required to upload unofficial copies of your transcripts into the application. &nbsp;The unofficial copy can be a screenshot or scanned copy but should not be a photo of the transcript. &nbsp;Applicants must have earned at least a degree from an accredited college in the United States or a comparable degree from a recognized institution of higher learning abroad.&nbsp; If admitted, you will be required to submit official transcripts to the Graduate College.&nbsp;&nbsp;</p>
    </details>
    <details>
        <summary>
           <h3>How can I take a course at Parkland with in-district tuition?</h3>
        </summary>
        <p>Many students take courses at Parkland during the summer and/or academic year. To receive in-district tuition, you must complete a Concurrent Enrollment Form. You must be enrolled as a full-time student here at the University of Illinois in order to receive in-district tuition. This means that for the summer term, you must be enrolled in at least 12 hours for the upcoming fall semester. If you are taking a course during the academic year, you must be a full-time student during the semester you will be completing the course at Parkland.</p>
    </details>
    <details>
        <summary>
            <h3>Which courses does the University of Illinois College of Veterinary Medicine require?</h3>
        </summary>
        <p>While some requirements are built into our curriculum, there are some requirements you will need to take as electives. You will need to take the following additional courses to meet University of Illinois Vet School requirements:</p>
        <ul>
            <li>Organic Chemistry with Lab (CHEM 232 &amp; 233)</li>
            <li>An additional 3 hours of Biological Sciences with Laboratory (there are 8 credit hours required, 5 of which are satisfied by MCB 100 and 101)</li>
            <li>8 credit hours of Physics with Laboratories (PHYS 101 &amp; 102)</li>
            <li>Biochemistry (MCB 450 or ANSC 350)</li>
        </ul>
        <p>This is for informational purposes only. We do not control which courses the University of Illinois Vet School requires. It is best that you establish a relationship with them as early as possible to make sure you are making progress on their requirements. Please visit the University of Illinois College of Veterinary Medicine webpage for more information.</p>
    </details>
</div>

<h2>Accordion with borders, only one open at a time, inside divs</h2>
<div class="il-accordion il-details-bordered">
<div>
    <details>
        <summary>
           <a href="https://www.google.com">How do I add a course?</a>
        </summary>
        <p>You can add a semester course in Enterprise Self-Service up until the 2nd Friday of the semester.</p>
        <p>To add a course after the deadline, you will need to obtain instructor approval and fill out a <a href="https://grad.illinois.edu/files/pdfs/ares-late-registration.pdf">late course change form.</a> This form must be filled out by you, the student; signed by your instructor; and stamped by the department offering the course before submitting it to ACES Academic Programs in 128 Mumford Hall.</p>
        <p>You should check the Office of the Registrar’s website for academic deadlines.</p>
    </details>
</div><div>
    <details>
        <summary>
           How do I drop a course?
        </summary>
        <p>You can drop a semester course in Enterprise Self-Service up until the 8th week of the semester.</p>
        <p>To drop a course after the deadline, you will need to fill out a Petition to Drop a Course.</p>
        <p>You should check the <a href="https://registrar.illinois.edu/academic-calendars/">Office of the Registrar’s website</a> for academic deadlines.</p>
    </details>
    </div><div>
    <details>
        <summary>
          What happens if I retake a course?
        </summary>
        <p>By default, if you retake a course, both grades are listed on your transcript and both are counted in your GPA. You only receive credit hours for one instance of the course, though. If you want to retake a course and received a C- or below during your first attempt, you may be eligible for <a href="https://appserv7.admin.uillinois.edu/FormBuilderSurvey/Survey/uiuc_aces/oap/grade_replacment/">grade replacement</a>. Both instances of the course must be taken here at the University of Illinois. You can find the form for Grade Replacement on the <a href="https://aces.illinois.edu/academics/current-students/forms">ACES Academic Programs Forms &amp; Petitions Page.</a> There are deadlines for declaring Grade Replacement, so it is important you check the <a href="https://registrar.illinois.edu/academic-calendars/">Office of the Registrar’s website</a> for updated academic deadlines.</p>
        <p>Remember, both instances of the course must be taken here at the University of Illinois to be eligible for Grade Replacement. If you retake a course at a community college or other university, then you cannot use Grade Replacement.</p>
    </details>
    </div><div>
    <details>
        <summary>
           How do I take more than 18 credit hours in a semester?
        </summary>
        <p><a href="/academics/undergraduate-degrees/experiential-learning-requirement">Find information about ANSC 398</a></p>
    </details>
    </div><div>
    <details>
        <summary>
           How do I complete my ANSC 398 requirement?
        </summary>
        <p>At the time of application you are only required to upload unofficial copies of your transcripts into the application. &nbsp;The unofficial copy can be a screenshot or scanned copy but should not be a photo of the transcript. &nbsp;Applicants must have earned at least a degree from an accredited college in the United States or a comparable degree from a recognized institution of higher learning abroad.&nbsp; If admitted, you will be required to submit official transcripts to the Graduate College.&nbsp;&nbsp;</p>
    </details>
    </div><div>
    <details>
        <summary>
          How can I take a course at Parkland with in-district tuition?
        </summary>
        <p>Many students take courses at Parkland during the summer and/or academic year. To receive in-district tuition, you must complete a Concurrent Enrollment Form. You must be enrolled as a full-time student here at the University of Illinois in order to receive in-district tuition. This means that for the summer term, you must be enrolled in at least 12 hours for the upcoming fall semester. If you are taking a course during the academic year, you must be a full-time student during the semester you will be completing the course at Parkland.</p>
    </details>
    </div><div>
    <details>
        <summary>
           Which courses does the University of Illinois College of Veterinary Medicine require?
        </summary>
        <p>While some requirements are built into our curriculum, there are some requirements you will need to take as electives. You will need to take the following additional courses to meet University of Illinois Vet School requirements:</p>
        <ul>
            <li>Organic Chemistry with Lab (CHEM 232 &amp; 233)</li>
            <li>An additional 3 hours of Biological Sciences with Laboratory (there are 8 credit hours required, 5 of which are satisfied by MCB 100 and 101)</li>
            <li>8 credit hours of Physics with Laboratories (PHYS 101 &amp; 102)</li>
            <li>Biochemistry (MCB 450 or ANSC 350)</li>
        </ul>
        <p>This is for informational purposes only. We do not control which courses the University of Illinois Vet School requires. It is best that you establish a relationship with them as early as possible to make sure you are making progress on their requirements. Please visit the University of Illinois College of Veterinary Medicine webpage for more information.</p>
    </details>
    </div>
</div>

<h2>Accordion nested</h2>
<div class="il-accordion-multiple il-details-bordered">
    <details>
        <summary>
           <a href="https://www.google.com">How do I add a course?</a>
        </summary>
        <p>You can add a semester course in Enterprise Self-Service up until the 2nd Friday of the semester.</p>
        <p>To add a course after the deadline, you will need to obtain instructor approval and fill out a <a href="https://grad.illinois.edu/files/pdfs/ares-late-registration.pdf">late course change form.</a> This form must be filled out by you, the student; signed by your instructor; and stamped by the department offering the course before submitting it to ACES Academic Programs in 128 Mumford Hall.</p>
        <p>You should check the Office of the Registrar’s website for academic deadlines.</p>
        <details>
            <summary>
            <a href="https://www.google.com">How do I add a course?</a>
            </summary>
            <p>You can add a semester course in Enterprise Self-Service up until the 2nd Friday of the semester.</p>
            <p>To add a course after the deadline, you will need to obtain instructor approval and fill out a <a href="https://grad.illinois.edu/files/pdfs/ares-late-registration.pdf">late course change form.</a> This form must be filled out by you, the student; signed by your instructor; and stamped by the department offering the course before submitting it to ACES Academic Programs in 128 Mumford Hall.</p>
            <p>You should check the Office of the Registrar’s website for academic deadlines.</p>
        </details>
    </details>
    <details>
        <summary>
           Which courses does the University of Illinois College of Veterinary Medicine require?
        </summary>
        <p>While some requirements are built into our curriculum, there are some requirements you will need to take as electives. You will need to take the following additional courses to meet University of Illinois Vet School requirements:</p>
        <ul>
            <li>Organic Chemistry with Lab (CHEM 232 &amp; 233)</li>
            <li>An additional 3 hours of Biological Sciences with Laboratory (there are 8 credit hours required, 5 of which are satisfied by MCB 100 and 101)</li>
            <li>8 credit hours of Physics with Laboratories (PHYS 101 &amp; 102)</li>
            <li>Biochemistry (MCB 450 or ANSC 350)</li>
        </ul>
        <p>This is for informational purposes only. We do not control which courses the University of Illinois Vet School requires. It is best that you establish a relationship with them as early as possible to make sure you are making progress on their requirements. Please visit the University of Illinois College of Veterinary Medicine webpage for more information.</p>
    </details>
</div>


<h2>Accordion nested, one open at a time</h2>
<div class="il-accordion il-details-bordered">
    <details>
        <summary>
           <a href="https://www.google.com">How do I add a course?</a>
        </summary>
        <p>You can add a semester course in Enterprise Self-Service up until the 2nd Friday of the semester.</p>
        <p>To add a course after the deadline, you will need to obtain instructor approval and fill out a <a href="https://grad.illinois.edu/files/pdfs/ares-late-registration.pdf">late course change form.</a> This form must be filled out by you, the student; signed by your instructor; and stamped by the department offering the course before submitting it to ACES Academic Programs in 128 Mumford Hall.</p>
        <p>You should check the Office of the Registrar’s website for academic deadlines.</p>
        <div class="il-accordion il-details-bordered">
            <details>
                <summary>
                What happens if I retake a course?
                </summary>
                <p>By default, if you retake a course, both grades are listed on your transcript and both are counted in your GPA. You only receive credit hours for one instance of the course, though. If you want to retake a course and received a C- or below during your first attempt, you may be eligible for <a href="https://appserv7.admin.uillinois.edu/FormBuilderSurvey/Survey/uiuc_aces/oap/grade_replacment/">grade replacement</a>. Both instances of the course must be taken here at the University of Illinois. You can find the form for Grade Replacement on the <a href="https://aces.illinois.edu/academics/current-students/forms">ACES Academic Programs Forms &amp; Petitions Page.</a> There are deadlines for declaring Grade Replacement, so it is important you check the <a href="https://registrar.illinois.edu/academic-calendars/">Office of the Registrar’s website</a> for updated academic deadlines.</p>
                <p>Remember, both instances of the course must be taken here at the University of Illinois to be eligible for Grade Replacement. If you retake a course at a community college or other university, then you cannot use Grade Replacement.</p>
            </details>
            <details>
                <summary>
                How do I take more than 18 credit hours in a semester?
                </summary>
                <p><a href="/academics/undergraduate-degrees/experiential-learning-requirement">Find information about ANSC 398</a></p>
            </details>
            <details>
                <summary>
                How do I complete my ANSC 398 requirement?
                </summary>
                <p>At the time of application you are only required to upload unofficial copies of your transcripts into the application. &nbsp;The unofficial copy can be a screenshot or scanned copy but should not be a photo of the transcript. &nbsp;Applicants must have earned at least a degree from an accredited college in the United States or a comparable degree from a recognized institution of higher learning abroad.&nbsp; If admitted, you will be required to submit official transcripts to the Graduate College.&nbsp;&nbsp;</p>
            </details>
        </div>
    </details>
    <details>
        <summary>
           Which courses does the University of Illinois College of Veterinary Medicine require?
        </summary>
        <p>While some requirements are built into our curriculum, there are some requirements you will need to take as electives. You will need to take the following additional courses to meet University of Illinois Vet School requirements:</p>
        <ul>
            <li>Organic Chemistry with Lab (CHEM 232 &amp; 233)</li>
            <li>An additional 3 hours of Biological Sciences with Laboratory (there are 8 credit hours required, 5 of which are satisfied by MCB 100 and 101)</li>
            <li>8 credit hours of Physics with Laboratories (PHYS 101 &amp; 102)</li>
            <li>Biochemistry (MCB 450 or ANSC 350)</li>
        </ul>
        <p>This is for informational purposes only. We do not control which courses the University of Illinois Vet School requires. It is best that you establish a relationship with them as early as possible to make sure you are making progress on their requirements. Please visit the University of Illinois College of Veterinary Medicine webpage for more information.</p>
    </details>
</div>

</div>
