---
title: Colors
group: Colors
layout: layouts/page.njk
stylesheets: ['tests.css', 'colors.css']
---
<ul>
    {% for color in colors %}
        <li>
            <span class="swatch" style="background-color: var({{ color.var }})"></span>
            <span class="label">{{ color.var }}</span>
        </li>
    {% endfor %}
</ul>
