---
title: Headings
group: Stylesheets
layout: layouts/page.njk
stylesheets: ['tests.css', 'formatting.css']
---

<div id="headings-example" class="il-formatted">

  <h1>Level one heading</h1>

  <p>Bodies, again,
  Are partly primal germs of things, and partly
  Unions deriving from the primal germs.
  And those which are the primal germs of things
  No power can quench; for in the end they conquer
  By their own solidness; though hard it be
  To think that aught in things has solid frame;
  For lightnings pass, no less than voice and shout,
  Through hedging walls of houses, and the iron
  White-dazzles in the fire, and rocks will burn
  With exhalations fierce and burst asunder.

  <h2>Level two heading</h2>

  <p>Totters the rigid gold dissolved in heat;
  The ice of bronze melts conquered in the flame;
  Warmth and the piercing cold through silver seep,
  Since, with the cups held rightly in the hand,
  We oft feel both, as from above is poured
  The dew of waters between their shining sides:
  So true it is no solid form is found.

  <h2><a href="#">Level two heading with link</a></h2>

  <p>But yet because true reason and nature of things
  Constrain us, come, whilst in few verses now
  I disentangle how there still exist
  Bodies of solid, everlasting frame—
  The seeds of things, the primal germs we teach,
  Whence all creation around us came to be.

  <h2>Level two heading above a level three heading</h2>

  <h3>Level three heading below a level two heading</h3>

  <p>First since we know a twofold nature exists,
  Of things, both twain and utterly unlike—
  Body, and place in which an things go on—
  Then each must be both for and through itself,
  And all unmixed: where'er be empty space,
  There body's not; and so where body bides,
  There not at all exists the void inane.

  <h3>Level three heading</h3>
  
  <p>Thus primal bodies are solid, without a void.
  But since there's void in all begotten things,
  All solid matter must be round the same;
  Nor, by true reason canst thou prove aught hides
  And holds a void within its body, unless
  Thou grant what holds it be a solid. Know,
  That which can hold a void of things within
  Can be naught else than matter in union knit.

  <h3><a href="#">Level three heading with a link</a></h3>

  <p>Thus matter, consisting of a solid frame,
  Hath power to be eternal, though all else,
  Though all creation, be dissolved away.
  Again, were naught of empty and inane,
  The world were then a solid; as, without
  Some certain bodies to fill the places held,
  The world that is were but a vacant void.

  <h3>Level three heading above a level four heading</h3>

  <h4>Level four heading below a level three heading</h4>

  <p>And so, infallibly, alternate-wise
  Body and void are still distinguished,
  Since nature knows no wholly full nor void.
  There are, then, certain bodies, possessed of power
  To vary forever the empty and the full;
  And these can nor be sundered from without
  By beats and blows, nor from within be torn
  By penetration, nor be overthrown
  By any assault soever through the world—
  For without void, naught can be crushed, it seems,
  Nor broken, nor severed by a cut in twain,
  Nor can it take the damp, or seeping cold
  Or piercing fire, those old destroyers three;
  But the more void within a thing, the more
  Entirely it totters at their sure assault.

  <h4>Level four heading</h4>

  <p>Thus if first bodies be, as I have taught,
  Solid, without a void, they must be then
  Eternal; and, if matter ne'er had been
  Eternal, long ere now had all things gone
  Back into nothing utterly, and all
  We see around from nothing had been born—
  But since I taught above that naught can be
  From naught created, nor the once begotten
  To naught be summoned back, these primal germs
  Must have an immortality of frame.

  <h4><a href="#">Level four heading with a link</a></h4>

  <p>And into these must each thing be resolved,
  When comes its supreme hour, that thus there be
  At hand the stuff for plenishing the world.

  <h4>Level four heading above a level five heading</h4>

  <h5>Level five heading below a level four heading</h5>

  <p>So primal germs have solid singleness
  Nor otherwise could they have been conserved
  Through aeons and infinity of time
  For the replenishment of wasted worlds.

  <h5>Level five heading</h5>

  <p>Once more, if nature had given a scope for things
  To be forever broken more and more,
  By now the bodies of matter would have been
  So far reduced by breakings in old days
  That from them nothing could, at season fixed,
  Be born, and arrive its prime and top of life.

  <h5><a href="#">Level five heading with a link</a></h5>

  <p>For, lo, each thing is quicker marred than made;
  And so whate'er the long infinitude
  Of days and all fore-passed time would now
  By this have broken and ruined and dissolved,
  That same could ne'er in all remaining time
  Be builded up for plenishing the world.
  But mark: infallibly a fixed bound
  Remaineth stablished 'gainst their breaking down;
  Since we behold each thing soever renewed,
  And unto all, their seasons, after their kind,
  Wherein they arrive the flower of their age.

  <h5>Level five heading above a level six heading</h5>

  <h6>Level six heading below a level five heading</h6>

  <p>  Again, if bounds have not been set against
  The breaking down of this corporeal world,
  Yet must all bodies of whatever things
  Have still endured from everlasting time
  Unto this present, as not yet assailed
  By shocks of peril. But because the same
  Are, to thy thinking, of a nature frail,
  It ill accords that thus they could remain
  (As thus they do) through everlasting time,
  Vexed through the ages (as indeed they are)
  By the innumerable blows of chance.

  <h6>Level six heading</h6>

  <p>So in our programme of creation, mark
  How 'tis that, though the bodies of all stuff
  Are solid to the core, we yet explain
  The ways whereby some things are fashioned soft—
  Air, water, earth, and fiery exhalations—
  And by what force they function and go on:
  The fact is founded in the void of things.
  But if the primal germs themselves be soft,
  Reason cannot be brought to bear to show
  The ways whereby may be created these
  Great crags of basalt and the during iron;
  For their whole nature will profoundly lack
  The first foundations of a solid frame.

  <h6><a href="#">Level six heading with a link</a></h6>

  <p>But powerful in old simplicity,
  Abide the solid, the primeval germs;
  And by their combinations more condensed,
  All objects can be tightly knit and bound
  And made to show unconquerable strength.
  Again, since all things kind by kind obtain
  Fixed bounds of growing and conserving life;
  Since Nature hath inviolably decreed
  What each can do, what each can never do;
  Since naught is changed, but all things so abide
  That ever the variegated birds reveal
  The spots or stripes peculiar to their kind,
  Spring after spring: thus surely all that is
  Must be composed of matter immutable.
  For if the primal germs in any wise
  Were open to conquest and to change, 'twould be
  Uncertain also what could come to birth
  And what could not, and by what law to each
  Its scope prescribed, its boundary stone that clings
  So deep in Time. Nor could the generations
  Kind after kind so often reproduce
  The nature, habits, motions, ways of life,
  Of their progenitors.


</div>