---
title: Links
group: Stylesheets
layout: layouts/page.njk
stylesheets: ['tests.css', 'formatting.css']
---

<div id="links-example" class="il-formatted">

  <p><a href="#" id="link">Now come, and next hereafter apprehend</a></p>

  <h2>A paragraph with a link</h2>

  <p>What sorts, how vastly different in form,
    How varied in multitudinous shapes they are—
    <a href="#" id="inline-link">These old beginnings of the universe</a>;
    Not in the sense that only few are furnished
    With one like form, but rather not at all
    In general have they likeness each with each,
    No marvel: since the stock of them's so great
    That there's no end (as I have taught) nor sum,
    They must indeed not one and all be marked
    By equal outline and by shape the same.
  </p>

  <h2>A link with a line break</h2>

  <p>Moreover, humankind, and the mute flocks,
      And joyous herds around, and all the wild,
      <a href="#" id="link-with-linebreak">And all the breeds of birds—both those that teem<br>
      In gladsome regions of the water-haunts,</a>
      About the river-banks and springs and pools,
      And those that throng, flitting from tree to tree,
      Through trackless woods—Go, take which one thou wilt,
      In any kind: thou wilt discover still
      Each from the other still unlike in shape.</p>

  <h2>A multi-line link</h2>

  <p><a href="#" id="multiline-link">Moreover, humankind, and the mute flocks
      Of scaly creatures swimming in the streams,
      And joyous herds around, and all the wild,
      And all the breeds of birds—both those that teem
      In gladsome regions of the water-haunts,
      About the river-banks and springs and pools,
      And those that throng, flitting from tree to tree,
      Through trackless woods—Go, take which one thou wilt,
      In any kind: thou wilt discover still
      Each from the other still unlike in shape.</a></p>


</div>