---
title: Links - Assigned
group: Stylesheets
layout: layouts/page.njk
stylesheets: ['tests.css', 'formatting.css']
---

<div class="il-formatted">

  <p><a data-il="accessibility" id="link-blank"></a></p>

  <p><a data-il="accessibility" href="https://example.org/" id="link-override">Example.org</a></p>

  <p><a href="https://example.org/" id="link-control">Example.org</a></p>

  <p><a class="il-button" data-il="accessibility" id="link-class"></a></p>

  <p><a class="il-button" data-il="missing" id="link-missing"></a></p>

  <p><a class="il-button" data-il="missing" href="https://example.org/" id="link-missing-with-data">Example.org</a></p>

</div>