---
title: Lists
group: Stylesheets
layout: layouts/page.njk
stylesheets: ['tests.css', 'formatting.css']
---

<div id="formatting-example" class="il-formatted">

  <p>Now learn of what remains! More keenly hear!
    And for myself, my mind is not deceived
    How dark it is: But the large hope of praise
    Hath strook with pointed thyrsus through my heart;
    On the same hour hath strook into my breast
    Sweet love of the Muses, wherewith now instinct,
    I wander afield, thriving in sturdy thought,
    Through unpathed haunts of the Pierides,
    Trodden by step of none before.</p>

  <ul>
    <li>I joy
      To come on undefiled fountains there,
      To drain them deep; I joy to pluck new flowers,
      To seek for this my head a signal crown
      From regions where the Muses never yet
      Have garlanded the temples of a man</li>
    <li>First, since I teach concerning mighty things,
      And go right on to loose from round the mind
      The tightened coils of dread religion</li>
    <li>Next, since, concerning themes so dark, I frame
      Songs so pellucid, touching all throughout
      Even with the Muses' charm—which, as 'twould seem,
      Is not without a reasonable ground</li>
    <li>So now I too (since this my doctrine seems
      In general somewhat woeful unto those
      Who've had it not in hand</li>
    <li>If by such method haply I might hold
      The mind of thee upon these lines of ours,
      Till thou see through the nature of all things,
      And how exists the interwoven frame</li>
  </ul>

  <p>But since I've taught that bodies of matter, made
    Completely solid, hither and thither fly
    Forevermore unconquered through all time,
    Now come, and whether to the sum of them
    There be a limit or be none, for thee
    Let us unfold; likewise what has been found
    To be the wide inane, or room, or space
    Wherein all things soever do go on,
    Let us examine if it finite be
    All and entire, or reach unmeasured round
    And downward an illimitable profound.</p>

  <ul>
    <li>I joy
      To come on undefiled fountains there,
      To drain them deep;
      <ul>
        <li>I joy to pluck new flowers,
          To seek for this my head a signal crown</li>
        <li>From regions where the Muses never yet
          Have garlanded the temples of a man</li>
      </ul>
    </li>
    <li>First, since I teach concerning mighty things,
      And go right on to loose from round the mind
      The tightened coils of dread religion</li>
    <li>Next, since, concerning themes so dark
      <ul>
        <li>I frame
          Songs so pellucid</li>
        <li>touching all throughout
          Even with the Muses' charm
          <ul>
            <li>which, as 'twould seem,
              Is not without a reasonable ground</li>
            <li>So now I too (since this my doctrine seems</li>
          </ul>
        </li>
        <li>In general somewhat woeful unto those</li>
        <li>Who've had it not in hand</li>
      </ul>
    </li>
    <li>If by such method haply I might hold
      The mind of thee upon these lines of ours,
      Till thou see through the nature of all things,
      And how exists the interwoven frame</li>
  </ul>

  <p>Now learn of what remains! More keenly hear!
    And for myself, my mind is not deceived
    How dark it is: But the large hope of praise
    Hath strook with pointed thyrsus through my heart;
    On the same hour hath strook into my breast
    Sweet love of the Muses, wherewith now instinct,
    I wander afield, thriving in sturdy thought,
    Through unpathed haunts of the Pierides,
    Trodden by step of none before.</p>

  <ol>
    <li>I joy
      To come on undefiled fountains there,
      To drain them deep; I joy to pluck new flowers,
      To seek for this my head a signal crown
      From regions where the Muses never yet
      Have garlanded the temples of a man</li>
    <li>First, since I teach concerning mighty things,
      And go right on to loose from round the mind
      The tightened coils of dread religion</li>
    <li>Next, since, concerning themes so dark, I frame
      Songs so pellucid, touching all throughout
      Even with the Muses' charm—which, as 'twould seem,
      Is not without a reasonable ground</li>
    <li>So now I too (since this my doctrine seems
      In general somewhat woeful unto those
      Who've had it not in hand</li>
    <li>If by such method haply I might hold
      The mind of thee upon these lines of ours,
      Till thou see through the nature of all things,
      And how exists the interwoven frame</li>
  </ol>

  <p>But since I've taught that bodies of matter, made
    Completely solid, hither and thither fly
    Forevermore unconquered through all time,
    Now come, and whether to the sum of them
    There be a limit or be none, for thee
    Let us unfold; likewise what has been found
    To be the wide inane, or room, or space
    Wherein all things soever do go on,
    Let us examine if it finite be
    All and entire, or reach unmeasured round
    And downward an illimitable profound.</p>

  <ol>
    <li>I joy
      To come on undefiled fountains there,
      To drain them deep;
      <ol>
        <li>I joy to pluck new flowers,
          To seek for this my head a signal crown</li>
        <li>From regions where the Muses never yet
          Have garlanded the temples of a man</li>
      </ol>
    </li>
    <li>First, since I teach concerning mighty things,
      And go right on to loose from round the mind
      The tightened coils of dread religion</li>
    <li>Next, since, concerning themes so dark
      <ol>
        <li>I frame
          Songs so pellucid</li>
        <li>touching all throughout
          Even with the Muses' charm
          <ol>
            <li>which, as 'twould seem,
              Is not without a reasonable ground</li>
            <li>So now I too (since this my doctrine seems</li>
          </ol>
        </li>
        <li>In general somewhat woeful unto those</li>
        <li>Who've had it not in hand</li>
      </ol>
    </li>
    <li>If by such method haply I might hold
      The mind of thee upon these lines of ours,
      Till thou see through the nature of all things,
      And how exists the interwoven frame</li>
  </ol>

  <p>Now learn of what remains! More keenly hear!
    And for myself, my mind is not deceived
    How dark it is: But the large hope of praise
    Hath strook with pointed thyrsus through my heart;
    On the same hour hath strook into my breast
    Sweet love of the Muses, wherewith now instinct,
    I wander afield, thriving in sturdy thought,
    Through unpathed haunts of the Pierides,
    Trodden by step of none before.</p>

</div>