<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Page titles</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link rel="stylesheet" href="/dist/toolkit.css">
        <script src="/dist/toolkit.js"></script>
    </head>
    <body class="il-page">
        <main>
            <div class="il-page-title">
                <h1>The title of the page</h1>
            </div>
        </main>
    </body>
</html>
