---
title: "Sections"
group: Layout
layout: layouts/page.njk
stylesheets: ["tests.css", "layout.css"]
---

<il-section>
  <div class="layout-content">Default section</div>
</il-section>

<h2>Sections with width classes</h2>

<il-section class="il-fixed-width">
  <div class="layout-content">Fixed width</div>
</il-section>

<il-section class="il-full-width">
  <div class="layout-content">Full width</div>
</il-section>

<h2>Sections in fixed width container</h2>

<div class="il-fixed-width">

  <il-section>
    <div class="layout-content">Fixed width</div>
  </il-section>

  <il-section class="il-full-width">
    <div class="layout-content">Full width</div>
  </il-section>

</div>

<h2>Sections in full width container</h2>

<div class="il-full-width">

  <il-section class="il-fixed-width">
    <div class="layout-content">Fixed width</div>
  </il-section>

  <il-section>
    <div class="layout-content">Full width</div>
  </il-section>

</div>

