{% set stylesheets = ['tests.css', 'color-theme.css'] %}

{% extends "layouts/page.njk" %}

{% block bodyClass %}{{ theme }}{% endblock %}

{% block body %}

<div class="color-theme">

  <h1 class="color-theme__title">{{ theme }}</h1>

  <table class="color-theme-contrast">
    <thead>
      <tr>
        <th>Size</th>
        <th>Text</th>
        <th>Link</th>
        <th>Focus/hover</th>
        <th>Visited</th>
      </tr>
    </thead>
    <tbody>
      <tr class="color-theme-contrast__size color-theme-contrast__size--normal">
        <th class="color-theme-contrast__label">Under 24px</th>
        <td class="color-theme-contrast__text">Text</td>
        <td class="color-theme-contrast__link">Link</td>
        <td class="color-theme-contrast__focused-link">Link</td>
        <td class="color-theme-contrast__visited-link">Link</td>
      </tr>
      <tr class="color-theme-contrast__size color-theme-contrast__size--normal-bold">
        <th class="color-theme-contrast__label">Under 24px, bold</th>
        <td class="color-theme-contrast__text">Text</td>
        <td class="color-theme-contrast__link">Link</td>
        <td class="color-theme-contrast__focused-link">Link</td>
        <td class="color-theme-contrast__visited-link">Link</td>
      </tr>
      <tr class="color-theme-contrast__size color-theme-contrast__size--large">
        <th class="color-theme-contrast__label">24px and larger</th>
        <td class="color-theme-contrast__text">Text</td>
        <td class="color-theme-contrast__link">Link</td>
        <td class="color-theme-contrast__focused-link">Link</td>
        <td class="color-theme-contrast__visited-link">Link</td>
      </tr>
    </tbody>
  </table>

  <div class="color-theme__examples">
    <div class="color-theme__heading-examples il-formatted">
      <h1>Heading 1 - Page Title</h1>
      <h2>Heading 2 or <span class="color-theme__heading-alt">Heading 2</span></h2>
      <h3>Heading 3 or <span class="color-theme__heading-alt">Heading 3</span></h3>
      <h4>Heading 4</h4>
      <h5>Heading 5</h5>
    </div>
  </div>

</div>

{% endblock %}
