<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link rel="stylesheet" href="{{ "/toolkit.css" | url }}">
        <script src="{{ "/toolkit.js" | url }}"></script>
        <style>
            html { font-family: monospace; background-color: white; color: black; }
        </style>
        {% block styles %}
            <style>
                body {
                    margin: 0;
                    padding: 0;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {{ content | safe }}
        {% endblock %}
    </body>
</html>
