---
title: Introduction (default view)
group: "Components: Introduction"
layout: layouts/page.njk
---
<div class="il-formatted">
<p>Start Text</p>
<il-introduction>
<p slot="heading">Discover your path, define your future.</p>
<p>No matter what path brought you to ACES, we're glad you're here. A strong education is just a stepping stone to all of the incredible opportunities that await you.</p>
<p>Join us in changing your future and the world when you accept your ACES admission.</p>
<p><a href="#" class="il-button">Apply</a><a href="#" class="il-button">Request Information</a></p>
</il-introduction>
<p>End Text</p>
</div>
