
.il-button {
  --color-primary: white;
  --color-secondary: var(--il-blue);

  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: .5em;
  border: 2px solid var(--color-secondary);
  font: 600 rem(16px)/rem(20px) var(--il-source-sans);
  transition: background-color .3s;
  cursor: pointer;

  &:hover, &:focus {
    outline: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &.il-white-blue {
    color: var(--il-blue);
    border-color: var(--il-blue);
    background-color: white;
  }

  &.il-white-blue:hover, &.il-white-blue:focus {
    color: white;
    border-color: var(--il-blue);
    background-color: var(--il-blue);
  }

  &.il-white-orange {
    color: var(--il-orange);
    border-color: var(--il-orange);
  }

  &.il-white-orange:hover, &.il-white-orange:focus  {
    color: white;
    border-color: var(--il-orange);
    background-color: var(--il-orange);
  }

  &.il-blue {
    color: white;
    border-color: white;
    background-color: var(--il-blue);
  }

  &.il-blue:hover, &.il-blue:focus {
    border-color: var(--il-orange);
    background-color: var(--il-orange);
  }

  &.il-orange {
    color: white;
    border-color: white;
    background-color: var(--il-orange);
  }

  &.il-orange:hover, &.il-orange:focus  {
    border-color: var(--il-blue);
    background-color: var(--il-blue);
  }
}
