
.il-button {
  --color-primary: white;
  --color-secondary: var(--il-blue);

  background-color: var(--color-primary);
  color: var(--color-secondary);
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: .5em;
  border: 2px solid var(--color-secondary);
  font: 600 16px/20px var(--il-source-sans);
  transition: background-color .3s;
  cursor: pointer;

  &:hover, &:focus {
    outline: 0;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border-color: var(--color-primary);
  }
}
