.il-page {
  @include reset-spacing;
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;

  & > .il-header {
    grid-area: header;
    z-index: 600;
  }

  & > .il-main {
    grid-area: main;
    overflow: auto;
  }

  & > .il-footer {
    grid-area: footer;
  }
}

.il-section {
  position: relative;
  margin: 0;
  padding: 40px 20px;

  &.il-full-width {
    padding: 0;
  }

  @media (min-width: 850px) {
    padding: {
      left: 30px;
      right: 30px;
    }

    &.il-full-width {
      padding: 0;
    }
  }

  @media (min-width: 1200px) {
    padding: {
      left: calc(50vw - 570px);
      right: calc(50vw - 570px);
    }

    &.il-full-width {
      padding: 0;
    }
  }
}

.il-section-with-sidebar {
  display: grid;
  grid-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-areas: "sidebar" "content";
  margin: 0;
  padding: 40px 20px;

  @media (min-width: 992px) {
    grid-gap: 44px;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "sidebar content";
  }

  @media (min-width: 1200px) {
    grid-gap: 0;
    grid-template-columns: auto 343px 57px 740px auto;
    grid-template-areas: ". sidebar . content .";
  }

  .il-content {
    grid-area: content;
    margin: 0;
  }

  .il-sidebar {
    grid-area: sidebar;
  }
}
