.il-page {
  @include reset-spacing;
  min-height: 100vh;
  max-width: 100vw;
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: auto 1fr auto;

  & > .il-header {
    grid-area: header;
    z-index: 600;
  }

  & > .il-main {
    grid-area: main;
    overflow: auto;
  }

  & > .il-footer {
    grid-area: footer;
  }
}
