@mixin reset-font {
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}

@mixin reset-spacing {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin reset-heading {
  @include reset-font;
  @include reset-spacing;
}

@mixin reset-input {
  @include reset-font;
  @include reset-spacing;
  background-color: inherit;
  border: 0;
  color: inherit;
}

@mixin reset-list {
  @include reset-spacing;
  list-style: none;
}

@mixin reset-list-item {
  @include reset-list;
}

@mixin reset-link {
  color: inherit;
  text-decoration: none;
}

@mixin reset-button {
  @include reset-font;
  @include reset-spacing;
  background-color: transparent;
  border: 0;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}

@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}

@function rem($pixels, $context: 16) {
  @return #{stripUnit($pixels) / $context}rem;
}
