
// --il-background-color

.il-theme-white {
  --il-background-color: white;
}
.il-theme-blue {
  --il-background-color: var(--il-blue);
}
.il-theme-orange {
  --il-background-color: var(--il-orange);
}
.il-theme-gray {
  --il-background-color: var(--il-gray-1);
}
.il-theme-industrial-blue {
  --il-background-color: var(--il-industrial-blue);
}
.il-theme-altgeld {
  --il-background-color: var(--il-altgeld);
}




// White

.il-theme-white {
  --il-text-color: #252525;
  --il-heading-color: var(--il-blue);
  --il-link-color: var(--il-industrial-blue);
  --il-focused-link-color: var(--il-altgeld);
  --il-visited-link-color: var(--il-blue);

  --il-panel-background-color: white;
  --il-panel-foreground-color: var(--il-blue);
  --il-panel-text-color: var(--il-blue);
  --il-panel-title-color: var(--il-blue);
  --il-panel-border: 2px solid var(--il-blue);
  --il-selected-panel-background-color: var(--il-orange);
  --il-selected-panel-foreground-color: white;
  --il-focused-panel-background-color: var(--il-blue);
  --il-focused-panel-foreground-color: white;
  --il-panel-button-background-color: var(--il-button-background-color);
  --il-panel-button-foreground-color: var(--il-button-foreground-color);
  --il-panel-button-border-color: var(--il-button-border-color);
  --il-focused-panel-button-background-color: var(--il-focused-button-background-color);
  --il-focused-panel-button-foreground-color: var(--il-focused-button-foreground-color);
  --il-focused-panel-button-border-color: var(--il-focused-button-border-color);

  --il-details-color: var(--il-blue);
  --il-details-background: white;
  --il-details-background-hover: var(--il-cloud-2);
  --il-details-border: thin solid var(--il-blue);
}

// Blue

.il-theme-blue {
  --il-text-color: white;
  --il-heading-color: white;
  --il-link-color: white;
  --il-focused-link-color: var(--il-orange);
  --il-visited-link-color: var(--il-arches-2);

  --il-panel-button-background-color: var(--il-button-background-color);
  --il-panel-button-foreground-color: var(--il-button-foreground-color);
  --il-panel-button-border-color: var(--il-button-border-color);
  --il-focused-panel-button-background-color: var(--il-focused-button-background-color);
  --il-focused-panel-button-foreground-color: var(--il-focused-button-foreground-color);
  --il-focused-panel-button-border-color: var(--il-focused-button-border-color);
}

// Orange

.il-theme-orange {
  --il-text-color: black;
  --il-heading-color: white;
  --il-link-color: black;
  --il-focused-link-color: var(--il-blue);
  --il-visited-link-color: black;
}

// Gray

.il-theme-gray {
  --il-text-color: #252525;
  --il-heading-color: var(--il-blue);
  --il-link-color: var(--il-industrial-blue);
  --il-focused-link-color: var(--il-altgeld);
  --il-visited-link-color: var(--il-blue);

  --il-panel-background-color: var(--il-gray-1);
  --il-panel-foreground-color: var(--il-blue);
  --il-panel-text-color: var(--il-blue);
  --il-panel-title-color: var(--il-blue);
  --il-panel-border: 2px solid var(--il-blue);
  --il-panel-link-focused-color: var(--il-altgeld);
  --il-selected-panel-background-color: var(--il-orange);
  --il-selected-panel-foreground-color: var(--il-gray-1);
  --il-focused-panel-background-color: var(--il-blue);
  --il-focused-panel-foreground-color: white;
  --il-panel-button-background-color: var(--il-button-background-color);
  --il-panel-button-foreground-color: var(--il-button-foreground-color);
  --il-panel-button-border-color: var(--il-button-border-color);
  --il-focused-panel-button-background-color: var(--il-focused-button-background-color);
  --il-focused-panel-button-foreground-color: var(--il-focused-button-foreground-color);
  --il-focused-panel-button-border-color: var(--il-focused-button-border-color);
}

// Industrial blue

.il-theme-industrial-blue {
  --il-text-color: white;
  --il-heading-color: white;
  --il-link-color: white;
  --il-focused-link-color: var(--il-orange-lighter-4);
  --il-visited-link-color: var(--il-arches-2);
}

// Altgeld

.il-theme-altgeld {
  --il-text-color: black;
  --il-heading-color: white;
  --il-link-color: black;
  --il-focused-link-color: var(--il-blue);
  --il-visited-link-color: black;
}


