:root {
  --il-orange: #ff552e;
  --il-altgeld: #dd3403;

  --il-blue: #13294b;

  --il-alma-mater: #1e3877;
  --il-alma-mater-1: #4d69a0;
  --il-alma-mater-2: #849bc1;
  --il-alma-mater-3: #afc7db;

  --il-industrial-blue: #1d58a7;
  --il-industrial-blue-1: #5783bc;
  --il-industrial-blue-2: #90aed5;
  --il-industrial-blue-3: #cad9ef;

  --il-arches-blue: #009fd4;
  --il-arches-blue-1: #7fc3e1;
  --il-arches-blue-2: #a6d7eb;
  --il-arches-blue-3: #d2ebf5;

  --il-cloud: #f8fafc;
  --il-cloud-1: #e8e9eb;
  --il-cloud-2: #dddede;
  --il-cloud-3: #d2d2d2;

  --il-heritage-orange: #f5821e;
  --il-heritage-orange-1: #e56e15;
  --il-heritage-orange-2: #ce5e11;
  --il-heritage-orange-3: #b74d04;
}
