:root {
  @each $name, $hex in $colors {
    --#{$name}: #{$hex};
  }

  --il-blue-gradient: linear-gradient(180deg, var(--il-industrial-blue) 0%, var(--il-blue) 100%);
  --il-orange-gradient: linear-gradient(180deg, var(--il-orange) 0%, var(--il-altgeld) 100%);

  --il-gradient-blue: var(--il-blue-gradient); // Deprecated
  --il-gradient-orange: var(--il-orange-gradient); // Deprecated

  // Color defaults

  --il-text-color: #252525;
  --il-heading-color: var(--il-blue);

  // Links
  --il-link-color: var(--il-industrial-blue);
  --il-visited-link-color: var(--il-industrial-blue-darker-2);
  --il-focused-link-color: var(--il-altgeld);

  // Buttons
  --il-button-foreground-color: var(--il-blue);
  --il-button-background-color: white;
  --il-button-border-color: var(--il-blue);
  --il-focused-button-foreground-color: white;
  --il-focused-button-background-color: var(--il-blue);
  --il-focused-button-border-color: white;
}
