@import "fonts/fjalla-one";
@import "fonts/montserrat";
@import "fonts/open-sans";
@import "fonts/source-sans";
@import "fonts/source-serif";

@mixin font-weight($weight: 400) {
  font-weight: $weight;
}

:root {
  --il-fjalla-one: "Fjalla One", sans-serif;
  --il-montserrat: "Montserrat Variable", "Montserrat", sans-serif;
  --il-montserrat-alt: "Montserrat Alternate", sans-serif;
  --il-open-sans-variable: 'Open Sans Variable', sans-serif;
  --il-open-sans-condensed: 'Open Sans Condensed', sans-serif;
  --il-source-sans: 'Source Sans Variable', 'Source Sans', sans-serif;
  --il-source-sans-fixed: 'Source Sans', sans-serif;
  --il-source-serif: Georgia, 'Source Serif Variable', 'Source Serif', serif;
  --il-source-serif-fixed: Georgia, 'Source Serif', serif;

  --il-font-condensed: "Open Sans Condensed", "Fjalla One", "PT Sans Narrow", "Cabin Condensed", "Ubuntu Condensed", "Yanone Kaffeesatz", sans-serif;
  --il-font-sans: "Source Sans Variable", "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  --il-font-serif: Georgia, Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", serif;
}
