@mixin heading-spacing($top: 30px, $bottom: 20px) {
  margin: {
    top: rem($top);
    bottom: rem($bottom);
  }
}

.il-formatted {
  font: 400 rem(18px) / rem(30px) var(--il-source-sans);
  color: #252525;

  a {
    @extend .il-link;
  }

  a:hover, a:focus {
    outline-style: none;
  }

  h1 {
    @include reset-heading;
    @include heading-spacing;
    font: 700 rem(40px) / rem(52px) var(--il-source-sans);
    color: var(--il-blue);

    &:first-child {
      margin-top: 0;
    }
  }
  h2 {
    @include reset-heading;
    @include heading-spacing;
    font: 600 rem(32px) / rem(40px) var(--il-source-sans);
    color: var(--il-blue);
  }
  h3 {
    @include reset-heading;
    @include heading-spacing;
    font: 600 rem(28px) / rem(32px) var(--il-source-sans);
    color: var(--il-blue);
  }
  h4 {
    @include reset-heading;
    @include heading-spacing;
    font: 600 rem(24px) / rem(28px) var(--il-source-sans);
    color: var(--il-blue);
  }
  h5 {
    @include reset-heading;
    @include heading-spacing;
    font: 600 rem(20px) / rem(22px) var(--il-source-sans);
    color: var(--il-blue);
  }
  h6 {
    @include reset-heading;
    @include heading-spacing;
    font: 600 rem(18px) / rem(22px) var(--il-source-sans);
    color: var(--il-blue);
  }

  p {
    @include reset-spacing;
    font: rem(18px) / rem(30px) var(--il-source-sans);
    margin-bottom: rem(25px);
  }

  b,
  strong {
    font-weight: 600;
  }

  mark {
    background-color: var(--il-cloud-1);
  }

  hr {
    @include reset-spacing;
    margin-bottom: 1.5em;
    border: 0;
    height: 1px;
    background-color: var(--il-industrial-blue);
  }

  blockquote {
    @include reset-spacing;
    margin: 0 rem(48px) rem(18px);
  }
  ul,
  ol {
    margin: {
      top: 0;
      bottom: 0;
    }
  }
  li {
    @include reset-spacing;
  }

  ol {
    li {
      &::marker {
        color: var(--il-blue);
      }
    }
    ol {
      list-style-type: lower-alpha;
      ol {
        list-style-type: lower-roman;
      }
    }
  }

  ul {
    @include reset-list;

    li {
      @include reset-list;
      position: relative;
      padding-left: 40px;

      &::after {
        box-sizing: border-box;
        content: "";
        position: absolute;
        height: 6px;
        width: 6px;
        border: 2px solid var(--il-blue);
        border-radius: 50%;
        top: 10px;
        left: 20px;
        background-color: var(--il-blue);
        opacity: 0.75;
      }
    }

    li li::after {
      background-color: transparent;
    }
  }

  p + ul,
  p + ol {
    margin-top: -10px;
  }

  dt {
    font-weight: bold;
    margin-top: 12px;

    &:first-of-type {
      margin-top: 0;
    }
  }

  dfn {
    font-style: normal;
    font-weight: bold;
  }

  figure {
    @include reset-spacing;
    display: inline-block;
    margin: 1.5em 0;

    @media (min-width: 800px) {
      &.il-left {
        clear: left;
        float: left;
        margin: 0 1.5em 1em 0;
      }

      &.il-right {
        clear: right;
        float: right;
        margin: 0 0 1em 1.5em;
      }
    }
  }
  figcaption {
    @include reset-spacing;
    font-size: 14px;
    padding: 0.1em 0 0.35em;
    border-bottom: 1px solid var(--il-industrial-blue);
  }

  table {
    box-sizing: border-box;
    border-collapse: collapse;
    border: 1px solid var(--il-cloud);
    width: 100%;
    overflow: auto;
  }
  th {
    text-align: left;
    vertical-align: top;
    font-weight: 700;
    padding: 0.35em 1em;
    border: 1px solid white;
  }
  thead th {
    background-color: var(--il-industrial-blue);
    color: white;
    font-family: var(--il-source-sans);
  }
  tbody th {
    color: var(--il-blue);
    border: 1px solid #e1e0e0;
  }
  td {
    text-align: left;
    vertical-align: top;
    padding: 0.35em 1em;
    border: 1px solid #e1e0e0;
    color: var(--il-blue);
  }
  tr:nth-child(even) {
    background-color: var(--il-cloud-1);
  }

  pre {
    position: relative;
    max-width: 100%;
    overflow: auto;
  }
}