@font-face {
  font-family: 'Illinois Icons Solid';
  src:  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Solid.eot') format('embedded-opentype'),
  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Solid.ttf') format('truetype'),
  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Solid.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Solid.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Illinois Icons Line';
  src:  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Line.eot') format('embedded-opentype'),
  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Line.ttf') format('truetype'),
  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Line.woff') format('woff'),
  url('https://cdn.brand.illinois.edu/icons/v1.0/fonts/Illinois-Icons-Line.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --il-icons-solid: 'Illinois Icons Solid' !important;
  --il-icons-line: 'Illinois Icons Line' !important;

  --il-icon-admissions: "\e900";
  --il-icon-alumni: "\e901";
  --il-icon-apply-now: "\e902";
  --il-icon-audio: "\e903";
  --il-icon-back: "\e904";
  --il-icon-calendar: "\e905";
  --il-icon-cancel: "\e906";
  --il-icon-exit: "\e906";
  --il-icon-comment: "\e907";
  --il-icon-directory: "\e908";
  --il-icon-document: "\e909";
  --il-icon-donor: "\e90a";
  --il-icon-download: "\e90b";
  --il-icon-email: "\e90c";
  --il-icon-event: "\e90d";
  --il-icon-facebook: "\e90e";
  --il-icon-faculty: "\e90f";
  --il-icon-staff: "\e90f";
  --il-icon-faq: "\e910";
  --il-icon-favorite: "\e911";
  --il-icon-give: "\e912";
  --il-icon-gift: "\e912";
  --il-icon-google-plus: "\e913";
  --il-icon-handbook: "\e914";
  --il-icon-manual: "\e914";
  --il-icon-home: "\e915";
  --il-icon-hours: "\e916";
  --il-icon-hr: "\e917";
  --il-icon-image: "\e918";
  --il-icon-inclusive: "\e919";
  --il-icon-info: "\e91a";
  --il-icon-instagram: "\e91b";
  --il-icon-intranet: "\e91c";
  --il-icon-job: "\e91d";
  --il-icon-employment: "\e91d";
  --il-icon-less: "\e91e";
  --il-icon-link: "\e91f";
  --il-icon-linkedin: "\e920";
  --il-icon-location: "\e921";
  --il-icon-menu: "\e922";
  --il-icon-more: "\e923";
  --il-icon-news: "\e924";
  --il-icon-next: "\e925";
  --il-icon-notification: "\e926";
  --il-icon-parent: "\e927";
  --il-icon-family: "\e927";
  --il-icon-partners: "\e928";
  --il-icon-pay: "\e929";
  --il-icon-bill: "\e929";
  --il-icon-phone: "\e92a";
  --il-icon-call: "\e92a";
  --il-icon-pinterest: "\e92b";
  --il-icon-plan: "\e92c";
  --il-icon-program-of-study: "\e92d";
  --il-icon-research: "\e92e";
  --il-icon-resources: "\e92f";
  --il-icon-safety: "\e930";
  --il-icon-search: "\e931";
  --il-icon-send: "\e932";
  --il-icon-settings: "\e933";
  --il-icon-shop: "\e934";
  --il-icon-sitemap: "\e935";
  --il-icon-snapchat: "\e936";
  --il-icon-students: "\e937";
  --il-icon-submit: "\e938";
  --il-icon-team: "\e939";
  --il-icon-tickets: "\e93a";
  --il-icon-trash: "\e93b";
  --il-icon-twitter: "\e93c";
  --il-icon-unit: "\e93d";
  --il-icon-user: "\e93e";
  --il-icon-video: "\e93f";
  --il-icon-volume: "\e940";
  --il-icon-website: "\e941";
  --il-icon-weibo: "\e942";
  --il-icon-whatsapp: "\e943";
  --il-icon-workshop: "\e944";
  --il-icon-training: "\e944";
  --il-icon-youtube: "\e945";

}

%il-icon {
  display: inline-block;
  font-size: 48px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: 0;
  speak: none;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  text-rendering: optimizeLegibility;
}

.il-icon, .il-icon-solid {
  @extend %il-icon;
  font-family: var(--il-icons-solid);
}

.il-icon-line {
  @extend %il-icon;
  font-family: var(--il-icons-line);
}
