$base-text-size: 18px;

@import "mixins";

@import "reset";
@import "colors";
@import "fonts";
@import "icons";

:root {
  font-size: 16px;
  --il-content-margin: 20px;
  --il-content-max-width: 1140px;
  --il-focus-outline: 3px dashed var(--il-focus-outline-color);
  --il-dotted-focus-outline: 4px dotted var(--il-focus-outline-color);

  @media (min-width: 768px) {
    --il-content-margin: 30px;
  }
}

.il-link {
  color: var(--il-link-color);
  transition: color .3s;
  text-decoration: underline;

  &:visited {
    color: var(--il-visited-link-color);
  }

  &:hover, &:focus {
    color: var(--il-link-hover-color);
  }
}

.il-links a {
  @extend .il-link;
}

.il-invisible {
  position: absolute !important;
  left: -9999px !important;
  top: auto !important;
  display: block !important;
  text-align: left !important;
  text-indent: -9999em !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}

.il-page-title {
  background-color: var(--il-blue);
  background-image: url(../images/fingerprint.svg), linear-gradient(to bottom, rgba(0, 0, 0, 0) 33%, #0a5dde 96%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 14px var(--il-content-margin) 27px;

  .il-breadcrumbs {
    margin: 0 auto;
    max-width: var(--il-content-max-width);
  }

  h1 {
    @include reset-heading;
    text-align: center;
    margin: 1em auto 0;
    max-width: var(--il-content-max-width);
    font: 900 27px var(--il-source-sans);
  }

  &--poster h1 {
    font: normal 32px var(--il-fjalla-one);
    text-transform: uppercase;
  }

  .il-breadcrumbs + h1 {
    margin-top: 50px;
  }

  @media (min-width: 800px) {
    padding: {
      top: 34px;
      bottom: 73px;
    }
    h1 {
      font-size: 73px;
    }
    .il-breadcrumbs + h1 {
      margin-top: 70px;
    }
  }
}

@import "layout";
@import "typography";

@import "buttons";
@import "tables";

@import "details";

@import "themes";