$base-text-size: 18px;

@import "mixins";
@import "placeholders";
@import "colors";
@import "fonts";
@import "icons";

:root {
  font-size: 16px;
  --il-content-margin: 20px;
  --il-content-max-width: 1140px;
  --il-focus-outline: 3px dashed var(--il-focus-outline-color);
  --il-dotted-focus-outline: 4px dotted var(--il-focus-outline-color);

  @media (min-width: 768px) {
    --il-content-margin: 30px;
  }
}

@import "classes";
@import "layout";
@import "details";
@import "themes";