@layer components {
  :root {
    --il-featured-section-background: var(--il-blue);
    --il-featured-section-color: white;
    --il-featured-section-padding-top: 0;
    --il-featured-section-padding-bottom: 0;
    --il-featured-section-padding-left: 0;
    --il-featured-section-padding-right: 0;
  }
  il-featured-section {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    background: var(--il-featured-section-background);
    color: var(--il-featured-section-color);
  }
  il-featured-section.il-inset {
    --il-featured-section-padding-top: var(--il-section-padding-top);
    --il-featured-section-padding-bottom: var(--il-section-padding-bottom);
    --il-featured-section-padding-left: var(--il-section-padding-left);
    --il-featured-section-padding-right: var(--il-section-padding-right);
  }
  il-featured-section.il-blue {
    --il-featured-section-background: var(--il-blue);
    --il-featured-section-color: white;
  }
  il-featured-section.il-orange {
    --il-featured-section-background: var(--il-orange);
    --il-featured-section-color: var(--il-blue);
    --il-quote-accent-color: white;
  }
}
