---
layout: layouts/docs.njk
title: Colors
stylesheet: /_assets/colors.css
script: /_assets/colors.js
---
<div class="il-page-title il-page-title--poster">
    <nav class="il-breadcrumbs">
        <h2 class="il-invisible">You are here</h2>
        <ol>
            <li><a href="{{ "/" | url }}">Web toolkit</a></li>
            <li>Color</li>
        </ol>
    </nav>
    <h1>Color</h1>
</div>

<section class="doc-section">

    {% for color in colors %}
    <div class="palette" id="{{ color.var }}">
        <ul>
            <li>
                <article class="chip" style="border-color:var(--{{ color.var }})">
                    <code class="hex">{{ color.hex }}</code>
                    <code>--{{ color.var }}</code>
                    <p>{{ color.name }}</p>
                </article>
            </li>
            {% for variant in color.variants %}
            <li>
                <article class="chip" style="border-color:var(--{{ variant.var }})">
                    <code class="hex">{{ variant.hex }}</code>
                    <code>--{{ variant.var }}</code>
                    {% if variant.name %}
                    <p>Altgeld</p>
                    {% endif %}
                </article>
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}

</section>

<section class="doc-text il-formatted">
    <h2>Test pages</h2>
    <ul>
        <li><a href="tests/colors.html">All colors</a></li>
    </ul>
</section>


<template id="compatibility-widget">
    <div class="compatibility-widget" data-color="" data-mode="fg">
        <p class="heading">
            Explore accessible combinations as a
            <button class="mode-option" type="button" data-mode="fg">foreground color</button>
            <button class="mode-option" type="button" data-mode="bg">background color</button>
        </p>
        <div class="widget">
            <div class="options">

            </div>
            <div class="results">
                <p>Contrast ratio: <span class="results__value ratio">Unknown</span></p>
                <p><a class="il-link webaim">Check on WebAIM</a></p>
            </div>
            <div class="normal-text result">
                <div class="preview" role="presentation">
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                            land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                            land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                            land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                            land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                            land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                            land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                </div>
                <p class="results__heading">Normal text</p>
                <p>Under 24px (Under 18.5px for bold text)</p>
                <ul class="results__status">
                    <li>
                        WCAG AA: <span class="aa-normal">Unknown</span>
                    </li>
                    <li>
                        WCAG AAA: <span class="aaa-normal">Unknown</span>
                    </li>
                </ul>
            </div>
            <div class="large-text result">
                <div class="preview" role="presentation">
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                        land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                        land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                    <p>The University of Illinois at Urbana-Champaign is one of the original 37 public
                        land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</p>
                </div>
                <p class="results__heading">Large text</p>
                <p>24px or larger (18.5px or larger for bold text)</p>
                <ul class="results__status">
                    <li>
                        WCAG AA: <span class="aa-large">Unknown</span>
                    </li>
                    <li>
                        WCAG AAA: <span class="aaa-large">Unknown</span>
                    </li>
                </ul>
            </div>
            <div class="code">
                color: <span class="fg-var"></span>;<br>
                background-color: <span class="bg-var"></span>;
            </div>

            </div>
        </div>
    </div>
</template>
