<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Fonts</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="dist/toolkit.css">
        <link rel="stylesheet" href="docs.css">
        <style>
        </style>
        <script src="dist/toolkit.js"></script>
    </head>
    <body class="il-page docs">
        <header>
            <il-header>
                <il-unit-wordmark slot="wordmark">
                    <h1><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></h1>
                </il-unit-wordmark>
            </il-header>
        </header>
        <main>

            <div class="il-page-title il-page-title--poster">
                <nav class="il-breadcrumbs">
                    <h2 class="il-invisible">You are here</h2>
                    <ol>
                        <li><a href="index.html">Web toolkit</a></li>
                        <li>Fonts</li>
                    </ol>
                </nav>
                <h1>Fonts</h1>
            </div>

            <section class="doc-section">

                <section class="doc-text il-formatted fonts">

                    <h2>Source Sans Pro</h2>

                    <div class="font-specimen" style="font-family: var(--il-source-sans);font-weight: 700;">
                        <samp>The University of Illinois at Urbana-Champaign is one of the original 37 public land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</samp>
                    </div>

                    <h3>Usage</h3>

                    <code>
                        font-family: var(--il-source-sans);
                    </code>

                    <h3>Test pages</h3>

                    <ul>
                        <li><a href="tests/fonts/source-sans.html">Source Sans</a></li>
                        <li><a href="tests/fonts/source-sans-fixed.html">Source Sans (fixed weights)</a></li>
                    </ul>

                    <h2>Source Serif Pro</h2>

                    <div class="font-specimen" style="font-family: var(--il-source-serif)">
                        <samp>The University of Illinois at Urbana-Champaign is one of the original 37 public land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</samp>
                    </div>

                    <h3>Usage</h3>

                    <code>
                        font-family: var(--il-source-serif);
                    </code>

                    <h3>Test pages</h3>

                    <ul>
                        <li><a href="tests/fonts/source-serif.html">Source Serif</a></li>
                        <li><a href="tests/fonts/source-serif-fixed.html">Source Serif (fixed weights)</a></li>
                    </ul>

                    <h2>Montserrat</h2>

                    <div class="font-specimen" style="font-family: var(--il-montserrat)">
                        <samp>The University of Illinois at Urbana-Champaign is one of the original 37 public land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</samp>
                    </div>

                    <h3>Usage</h3>

                    <code>
                        font-family: var(--il-montserrat);<br>
                        font-family: var(--il-montserrat-alt);
                    </code>

                    <h3>Test pages</h3>

                    <ul>
                        <li><a href="tests/fonts/montserrat.html">Montserrat</a></li>
                        <li><a href="tests/fonts/montserrat-alt.html">Montserrat (alternate)</a></li>
                    </ul>

                    <h2>Fjalla One</h2>

                    <div class="font-specimen" style="font-family: var(--il-fjalla-one)">
                        <samp>The University of Illinois at Urbana-Champaign is one of the original 37 public land-grant institutions created after President Abraham Lincoln signed the Morrill Act in 1862.</samp>
                    </div>

                    <h3>Usage</h3>

                    <code>
                        font-family: var(--il-fjalla-one);
                    </code>

                    <h3>Test pages</h3>

                    <ul>
                        <li><a href="tests/fonts/fjalla-one.html">Fjalla One</a></li>
                    </ul>

                </section>

            </section>
        </main>

        <footer>
            <il-footer>
                <section slot="contact">
                    <p><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></p>
                    <p>707 S. Sixth Street, Suite 103, Champaign, IL 61820</p>
                    <dl>
                        <dt>Phone</dt>
                        <dd><a href="tel:+12172446162">217-244-6162</a></dd>
                        <dt>Email</dt>
                        <dd><a href="mailto:marketing@illinois.edu">marketing@illinois.edu</a></dd>
                    </dl>
                </section>
                <div class="il-footer-navigation">
                    <nav>
                        <h3>Quick access to:</h3>
                        <ul>
                            <li><a href="https://marketing.illinois.edu/brand/tools/training">Training opportunities</a>
                            </li>
                            <li><a href="https://marketing.illinois.edu/brand/tools/downloads">Downloads</a></li>
                            <li><a href="https://marketing.illinois.edu/brand/tools/campaigns">Brand campaigns (coming
                                soon)</a></li>
                            <li><a href="https://marketing.illinois.edu/brand/tools/email-signature">Email signature</a>
                            </li>
                            <li>
                                <a href="https://publicaffairs.illinois.edu/resources/writing-style-guide/" class="external">Writing
                                    style guide</a></li>
                        </ul>
                    </nav>
                </div>
            </il-footer>
        </footer>

        <script src="docs.js"></script>
    </body>
</html>
