---
title: Fonts
---

{% extends "layouts/docs.njk" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ "/_assets/fonts.css" | url }}">
{% endblock %}

{% block scripts %}
    <script src="{{ "/_assets/fonts.js" | url }}"></script>
{% endblock %}

{% block main %}
<section class="il-content doc-section">

    <div class="doc-text">

        <h1>Fonts</h1>

    </div>

    <ul class="fonts">

        {% for font in fonts %}
            <li>

                <article class="font" data-font="{{ font.var }}" data-font-size="{{ font.defaultSize if font.defaultSize else '36' }}" data-font-weight="400" data-font-style="normal">
                    <h2 class="font__name">{{ font.name }}</h2>
                    <ul class="font__controls">
                        <li>
                            <label>
                                Size
                                <input class="font-size" type="range" min="18" max="72" value="{{ font.defaultSize if font.defaultSize else '36' }}">
                            </label>
                        </li>
                        <li>
                            <label>
                                Weight
                                <input class="font-weight" type="range" min="{{ font.minWeight }}" max="{{ font.maxWeight }}" step="{{ font.weightStep }}" value="400"{{ ' disabled' if font.minWeight == font.maxWeight }}>
                            </label>
                        </li>
                        <li>
                            <label>
                                <input type="checkbox" class="font-style" value="italic"{{ '' if font.italic else ' disabled' }}>
                                Italic
                            </label>
                        </li>
                    </ul>
                    <div class="font__specimen" style="font-family: var(--{{ font.var }});font-weight: 400;">
                        <samp>The University of Illinois at Urbana-Champaign is one of the original 37 public land-grant
                            institutions
                            created after President Abraham Lincoln signed the Morrill Act in 1862.</samp>
                    </div>
                    <div class="font__code">
                        <code>
                            font: <span class="font__style-value">normal</span> <span class="font__weight-value">400</span> <span class="font__size-value">36</span>px var(--{{ font.var }});
                            <!--
                            font-family: var(--{{ font.var }});<br>
                            font-size: <span class="font__size-value">36</span>px;<br>
                            font-weight: <span class="font__weight-value">400</span>;<br>
                            font-style: <span class="font__style-value">normal</span>;
                            -->
                        </code>
                    </div>
                </article>

            </li>
        {% endfor %}

    </ul>

</section>
{% endblock %}

{% block footer %}
<section class="il-content doc-next">
    <div>
        <h2>What's next?</h2>
        <ul>
            <li><a href="{{ "/icons/" | url }}">Using the brand icons</a></li>
            <li><a href="{{ "/" | url }}">Toolkit homepage</a></li>
        </ul>
    </div>
</section>
{{ super() }}
{% endblock %}
