---
title: Footer
---

{% extends "layouts/docs.njk" %}

{% block scripts %}
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
{% endblock %}

{% block main %}

<section class="il-content doc-section">
    <div class="doc-text">
        <h1>Footer</h1>
    </div>
    <div class="docs-codepen">
        <p class="codepen" data-height="600" data-theme-id="dark" data-default-tab="html,result" data-user="il-marketing" data-slug-hash="RwavbJa" style="height: 30vw; max-height: 60vh; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;" data-pen-title="Footer">
          <span>See the Pen <a href="https://codepen.io/il-marketing/pen/RwavbJa">
          Footer</a> by UIUC Strategic Marketing and Branding (<a href="https://codepen.io/il-marketing">@il-marketing</a>)
          on <a href="https://codepen.io">CodePen</a>.</span>
        </p>
    </div>

</section>

<section class="il-content">

    <div class="il-formatted">

        <ul class="slots">
            <li id="contact">
                <h3>slot="<b>contact</b>"<strong> (required)</strong></h3>
                <p>Unit name, address, contact information, important links</p>

                <pre>
                    {%- filter e -%}
<div slot="contact" class="il-footer-contact">
    <p><a href="/index.html">Office of Undergraduate Admissions</a></p>
    <p>901 W Illinois Street, Urbana, IL 61801</p>

    <dl>
        <dt>Office Hours</dt>
        <dd>8:30am to 5:00pm, Monday-Friday (closed on all campus holidays)</dd>

        <dt>Phone</dt>
        <dd><a href="tel:+12173330302">217-333-0302</a></dd>

        <dt>Email</dt>
        <dd><a href="mailto:admissions@illinois.edu">admissions@illinois.edu</a></dd>

        <dt>Fax</dt>
        <dd><a href="tel:+12172444614">217-244-4614</a></dd>
    </dl>
</div>
                    {%- endfilter -%}
                </pre>
            </li>
            <li id="social">
                <h3>slot="<b>social</b>"</h3>
                <p>Social media links</p>

                <pre>
                    {%- filter e -%}
<nav slot="social" class="il-footer-social">
    <h2 class="il-invisible">Social media</h2>
    <ul>
        <li><a href="https://www.facebook.com/illinois.edu">Facebook</a></li>
        <li><a href="https://www.instagram.com/illinois1867">Instagram</a></li>
        <li><a href="https://www.linkedin.com/edu/school?id=18321">LinkedIn</a></li>
        <li><a href="https://www.pinterest.com/illinoisalma/">Pinterest</a></li>
        <li><a href="http://illinois.edu/lb/rss/19/text.xml">RSS</a></li>
        <li><a href="https://www.snapchat.com/add/uofillinois">Snapchat</a></li>
        <li><a href="https://twitter.com/Illinois_Alma">Twitter</a></li>
        <li><a href="https://weibo.com/uiuc2012">Weibo</a></li>
        <li><a href="https://www.whatsapp.com/">Whatsapp</a></li>
        <li><a href="https://www.youtube.com/user/Illinois1867">YouTube</a></li>
    </ul>
</nav>
                    {%- endfilter -%}
                </pre>
            </li>
            <li id="parent">
                <h3>slot="<b>parent</b>"</h3>
                <p>Parent unit name</p>

                <pre>
                    {%- filter e -%}
<p slot="parent-unit">
    <a href="https://illinois.edu/">Granger College of Engineering</a>
</p>
                    {%- endfilter -%}
                </pre>
            </li>
            <li id="links">
                <h3>slot="<b>links</b>"</h3>
                <p>Privacy policy, login, copyright</p>

                <pre>
                    {%- filter e -%}
<nav slot="links" class="il-footer-links">
    <h2 class="il-invisible">Additional links</h2>
    <ul>
        <li><a href="#">Privacy</a></li>
        <li><a href="#">College Bylaws</a></li>
        <li><a href="#">Accreditation</a></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Copyright</a></li>
        <li><a href="#">Accessibility</a></li>
    </ul>
</nav>
                    {%- endfilter -%}
                </pre>
            </li>
            <li id="default" class="default-slot">
                <h3>Default slot</h3>
                <p>Navigation, calls to action</p>

                <pre>
                    {%- filter e -%}
<div class="il-footer-navigation">
    <nav>
        <h2>Title Here</h2>
        <ul>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
        </ul>
    </nav>
    <nav>
        <h2>Title Here</h2>
        <ul>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
        </ul>
    </nav>
    <nav>
        <h2>Title Here</h2>
        <ul>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
            <li><a href="/index.html">This is a link</a></li>
        </ul>
    </nav>
    <nav class="il-actions">
        <h2 class="il-invisible">Actions</h2>
        <ul>
            <li><a href="/index.html">Apply Now</a></li>
            <li><a href="/index.html">Contact Us</a></li>
            <li><a href="/index.html">Get Directions</a></li>
            <li><a href="/index.html">Donate Now</a></li>
        </ul>
    </nav>
</div>
                    {%- endfilter -%}
                </pre>
            </li>
        </ul>

        <h2>Test pages</h2>

        <ul>
            <li><a href="{{ "/tests/footer/max/" | url }}">Maximal</a></li>
            <li><a href="{{ "/tests/footer/min/" | url }}">Minimal</a></li>
            <li><a href="{{ "/tests/footer/onetrust/" | url }}">OneTrust button</a></li>
            <li><a href="{{ "/tests/footer/onetrust-with-links/" | url }}">OneTrust button with additional links</a></li>
        </ul>
    </div>

</section>
{% endblock %}

{% block footer %}
<section class="il-content doc-next">
    <div>
        <h2>What's next?</h2>
        <ul>
            <li><a href="{{ "/unit-wordmark/" | url }}">Creating unit wordmarks</a></li>
            <li><a href="{{ "/" | url }}">Toolkit homepage</a></li>
        </ul>
    </div>
</section>
{{ super() }}
{% endblock %}
