<!DOCTYPE html>
<html dir="ltr" lang="en">
    <head>
        <meta charset="utf-8">
        <title>Icons</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
        <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
        <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="dist/toolkit.css">
        <link rel="stylesheet" href="docs.css">
        <style>
        </style>
        <script src="dist/toolkit.js"></script>
    </head>
    <body class="il-page docs">
        <header>
            <il-header>
                <il-unit-wordmark slot="wordmark">
                    <h1><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></h1>
                </il-unit-wordmark>
            </il-header>
        </header>
        <main>

            <div class="il-page-title il-page-title--poster">
                <nav class="il-breadcrumbs">
                    <h2 class="il-invisible">You are here</h2>
                    <ol>
                        <li><a href="index.html">Web toolkit</a></li>
                        <li>Icons</li>
                    </ol>
                </nav>
                <h1>Icons</h1>
            </div>

            <section class="doc-section">


                <section class="doc-text il-formatted">

                    <h2>Test pages</h2>

                    <ul>
                        <li><a href="tests/icons/index.html">All icons</a></li>
                    </ul>

                </section>

            </section>
        </main>

        <footer>
            <il-footer>
                <section slot="contact">
                    <p><a href="https://marketing.illinois.edu/">Strategic Marketing and Branding</a></p>
                    <p>707 S. Sixth Street, Suite 103, Champaign, IL 61820</p>
                    <dl>
                        <dt>Phone</dt>
                        <dd><a href="tel:+12172446162">217-244-6162</a></dd>
                        <dt>Email</dt>
                        <dd><a href="mailto:marketing@illinois.edu">marketing@illinois.edu</a></dd>
                    </dl>
                </section>
                <div class="il-footer-navigation">
                    <nav>
                        <h3>Quick access to:</h3>
                        <ul>
                            <li><a href="https://marketing.illinois.edu/brand/tools/training">Training opportunities</a>
                            </li>
                            <li><a href="https://marketing.illinois.edu/brand/tools/downloads">Downloads</a></li>
                            <li><a href="https://marketing.illinois.edu/brand/tools/campaigns">Brand campaigns (coming
                                soon)</a></li>
                            <li><a href="https://marketing.illinois.edu/brand/tools/email-signature">Email signature</a>
                            </li>
                            <li>
                                <a href="https://publicaffairs.illinois.edu/resources/writing-style-guide/" class="external">Writing
                                    style guide</a></li>
                        </ul>
                    </nav>
                </div>
            </il-footer>
        </footer>

        <script src="docs.js"></script>
    </body>
</html>
