---
title: Icons
layout: layouts/docs.njk
stylesheet: /_assets/icons.css
script: /_assets/icons.js
---

<div class="il-page-title il-page-title--poster">
    <nav class="il-breadcrumbs">
        <h2 class="il-invisible">You are here</h2>
        <ol>
            <li><a href="{{ "/" | url }}">Web toolkit</a></li>
            <li>Icons</li>
        </ol>
    </nav>
    <h1>Icons</h1>
</div>

<section class="doc-section">

    <button class="font-style" data-font-style="solid">Solid</button>
    <button class="font-style" data-font-style="line">Line</button>

    <ul class="icons" data-style="solid">
        {% for icon in icons %}
            <li class="icon">
                <div class="icon__thumbnail">
                    <i class="icon-sample">{{ icon.entity | safe }}</i>
                    <p class="ligatures">{{ icon.ligatures | join(', ') }}</p>
                    <p class="entity">{{ icon.entity }}</p>
                </div>
                <div class="icon__code">
                    <div class="icon__solid">
                        <h3>HTML</h3>
                        <il class="il-icon">{{ icon.entity | safe }}</il>
                        <code>{{ "<i class=\"il-icon\">" + icon.entity + "</i>" }}</code>
                        {% for ligature in icon.ligatures %}
                            <i class="il-icon">{{ ligature }}</i>
                            <code>{{ "<i class=\"il-icon\">" + ligature + "</i>" }}</code>
                        {% endfor %}
                        <h3>CSS</h3>
                        <style>
                            #il-icons-solid-{{ icon.ligatures[0] }}-entity::after {
                                content: "{{ icon.css }}";
                                font: 48px var(--il-icons-solid);
                            }
                        </style>
                        <span id="il-icons-solid-{{ icon.ligatures[0] }}-entity"></span>
                        <code>content: "{{ icon.css }}";<br>font-family: var(--il-icons-solid);</code>
                        {% for ligature in icon.ligatures %}
                            <style>
                                #il-icons-solid-{{ ligature }}-ligature::after {
                                    content: "{{ ligature }}";
                                    font: 48px var(--il-icons-solid);
                                }
                            </style>
                            <span id="il-icons-solid-{{ ligature }}-ligature"></span>
                            <code>content: "{{ ligature }}";<br>font-family: var(--il-icons-solid);</code>
                        {% endfor %}
                    </div>
                    <div class="icon__line">
                        <h3>HTML</h3>
                        <code>{{ "<i class=\"il-icon-line\">" + icon.entity + "</i>" }}</code>
                        {% for ligature in icon.ligatures %}
                            <code>{{ "<i class=\"il-icon-line\">" + ligature + "</i>" }}</code>
                        {% endfor %}
                        <h3>CSS</h3>
                        <code>content: "{{ icon.css }}";<br>font-family: var(--il-icons-line);</code>
                        {% for ligature in icon.ligatures %}
                            <code>content: "{{ ligature }}";<br>font-family: var(--il-icons-line);</code>
                        {% endfor %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

    <section class="doc-text il-formatted">

        <h2>Test pages</h2>

        <ul>
            <li><a href="tests/icons/index.html">All icons</a></li>
        </ul>

    </section>

</section>
