---
layout: layouts/docs.njk
---

<div class="il-page-title il-page-title--poster">
    <h1>Brand toolkit for the web</h1>
</div>

<div class="sections il-links">
    <section>
        <h2><a href="{{ "/start/" | url }}">Getting started</a></h2>
    </section>
    <section>
        <h2>Stylesheets</h2>
        <ul>
            <li><a href="{{ "/colors/" | url }}">Colors</a></li>
            <li><a href="{{ "/fonts/" | url }}">Fonts</a></li>
            <li><a href="{{ "/icons/" | url }}">Icons</a></li>
        </ul>
    </section>
    <section>
        <h2>Components</h2>
        <ul>
            <li><a href="{{ "/header/" | url }}">Header</a></li>
            <li><a href="{{ "/footer/" | url }}">Footer</a></li>
            <li><a href="{{ "/wordmark/" | url }}">Wordmarks</a></li>
        </ul>
    </section>
</div>
