---
title: Unit wordmarks
---

{% extends "layouts/docs.njk" %}

{% block main %}
    <section class="il-content doc-section">

        <div class="doc-text il-formatted">

            <h1>Unit wordmarks</h1>

            <h2>Test pages</h2>

            <ul>
                <li><a href="../tests/components/unit-wordmark/primary.html">Primary unit</a></li>
                <li><a href="../tests/components/unit-wordmark/primary-link.html">Primary unit with link</a></li>
                <li><a href="../tests/components/unit-wordmark/secondary.html">Secondary unit</a></li>
                <li><a href="../tests/components/unit-wordmark/secondary-link.html">Secondary unit with links</a></li>
            </ul>

        </div>

    </section>
{% endblock %}

{% block footer %}
    <section class="il-content doc-next">
        <div>
            <h2>What's next?</h2>
            <ul>
                <li><a href="{{ "/" | url }}">Toolkit homepage</a></li>
            </ul>
        </div>
    </section>
    {{ super() }}
{% endblock %}
