---
title: Colors
layout: layouts/test.njk
---
<style>
    body {
        margin: 0;
        padding: 3em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        list-style: none;
        margin: 0 0 1em;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .swatch {
        margin-right: .25em;
        font-size: 3em;
    }
</style>
<ul>
    <li>
        <span class="swatch" id="il-orange" style="color: var(--il-orange)">&block;</span>
        <code>il-orange</code>
    </li>
    <li>
        <span class="swatch" id="il-altgeld" style="color: var(--il-altgeld)">&block;</span>
        <code>il-altgeld</code>
    </li>
    <li>
        <span class="swatch" id="il-blue" style="color: var(--il-blue)">&block;</span>
        <code>il-blue</code>
    </li>
    <li>
        <span class="swatch" id="il-alma-mater" style="color: var(--il-alma-mater)">&block;</span>
        <code>il-alma-mater</code>
    </li>
    <li>
        <span class="swatch" id="il-alma-mater-1" style="color: var(--il-alma-mater-1)">&block;</span>
        <code>il-alma-mater-1</code>
    </li>
    <li>
        <span class="swatch" id="il-alma-mater-2" style="color: var(--il-alma-mater-2)">&block;</span>
        <code>il-alma-mater-2</code>
    </li>
    <li>
        <span class="swatch" id="il-alma-mater-3" style="color: var(--il-alma-mater-3)">&block;</span>
        <code>il-alma-mater-3</code>
    </li>
    <li>
        <span class="swatch" id="il-industrial-blue" style="color: var(--il-industrial-blue)">&block;</span>
        <code>il-industrial-blue</code>
    </li>
    <li>
        <span class="swatch" id="il-industrial-blue-1" style="color: var(--il-industrial-blue-1)">&block;</span>
        <code>il-industrial-blue-1</code>
    </li>
    <li>
        <span class="swatch" id="il-industrial-blue-2" style="color: var(--il-industrial-blue-2)">&block;</span>
        <code>il-industrial-blue-2</code>
    </li>
    <li>
        <span class="swatch" id="il-industrial-blue-3" style="color: var(--il-industrial-blue-3)">&block;</span>
        <code>il-industrial-blue-3</code>
    </li>
    <li>
        <span class="swatch" id="il-arches-blue" style="color: var(--il-arches-blue)">&block;</span>
        <code>il-arches-blue</code>
    </li>
    <li>
        <span class="swatch" id="il-arches-blue-1" style="color: var(--il-arches-blue-1)">&block;</span>
        <code>il-arches-blue-1</code>
    </li>
    <li>
        <span class="swatch" id="il-arches-blue-2" style="color: var(--il-arches-blue-2)">&block;</span>
        <code>il-arches-blue-2</code>
    </li>
    <li>
        <span class="swatch" id="il-arches-blue-3" style="color: var(--il-arches-blue-3)">&block;</span>
        <code>il-arches-blue-3</code>
    </li>
    <li>
        <span class="swatch" id="il-cloud" style="color: var(--il-cloud)">&block;</span>
        <code>il-cloud</code>
    </li>
    <li>
        <span class="swatch" id="il-cloud-1" style="color: var(--il-cloud-1)">&block;</span>
        <code>il-cloud-1</code>
    </li>
    <li>
        <span class="swatch" id="il-cloud-2" style="color: var(--il-cloud-2)">&block;</span>
        <code>il-cloud-2</code>
    </li>
    <li>
        <span class="swatch" id="il-cloud-3" style="color: var(--il-cloud-3)">&block;</span>
        <code>il-cloud-3</code>
    </li>
    <li>
        <span class="swatch" id="il-heritage-orange" style="color: var(--il-heritage-orange)">&block;</span>
        <code>il-heritage-orange</code>
    </li>
    <li>
        <span class="swatch" id="il-heritage-orange-1" style="color: var(--il-heritage-orange-1)">&block;</span>
        <code>il-heritage-orange-1</code>
    </li>
    <li>
        <span class="swatch" id="il-heritage-orange-2" style="color: var(--il-heritage-orange-2)">&block;</span>
        <code>il-heritage-orange-2</code>
    </li>
    <li>
        <span class="swatch" id="il-heritage-orange-3" style="color: var(--il-heritage-orange-3)">&block;</span>
        <code>il-heritage-orange-3</code>
    </li>
</ul>
