<!DOCTYPE html>
<script src="../il-quote.component.js" type="module"></script>
<link rel="stylesheet" href="../../../css/colors.css">
<link rel="stylesheet" href="../../../css/fonts.css">

<il-quote data-testid="component">
Either university presses will embrace new technology and offer scholarly content in new forms to researchers and under new business models, or they will follow the music industry and spend all of their resources on trying to protect their territory -- unsuccessfully.
<p slot="author">Laura Cerruti</p>
<p slot="source" id="test-source">Director of Digital Content Development, University of California Press, profiled in Against the Grain</p>
</il-quote>

<script>
    const component = document.querySelector("il-quote");
    const params = new URLSearchParams(window.location.search);
    if (params.has('theme')) {
        component.classList.add(`il-theme-${params.get('theme')}`);
    }
    if (params.has('excludequotes')) {
        component.classList.add(`il-exclude-marks`);
    }
    if (params.has('nosource')) {
        document.getElementById("test-source").outerHTML = "";
    }
</script>