<!DOCTYPE html>
<script src="./call-to-action.component.js" type="module"></script>

<il-call-to-action>
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a <a href="#">non-degree student</a>.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>

<div class="il-theme-blue-gradient">
<il-call-to-action>
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a <a href="#">non-degree student</a>.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>
</div>

<il-call-to-action class="il-theme-blue">
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a <a href="#">non-degree student</a>.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>

<div class="il-theme-white">
<il-call-to-action>
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a <a href="#">non-degree student</a>.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>
</div>

<il-call-to-action class="il-theme-gray">
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a <a href="#">non-degree student</a>.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>