---
title: Header (long links)
group: "Components: Header"
layout: layouts/page.njk
---

<il-header>
    <div slot="links">LINK LINK LINK LINK LINK LINK LINK LINK LINK LINK LINK LINK</div>
</il-header>
