---
title: Header (full view)
group: "Components: Header"
layout: layouts/page.njk
---

<il-header>
    <h1>Site Name</h1>
    <div slot="search">Search</div>
    <div slot="links">Links</div>
    <div id="navigation" slot="navigation">Navigation</div>
</il-header>
