---
title: Header (long search)
group: "Components: Header"
layout: layouts/page.njk
---

<il-header>
    <div>NAME NAME NAME</div>
    <div slot="search">SEARCHSEARCH SEARCHSEARCH SEARCHSEARCH SEARCHSEARCH SEARCHSEARCH SEARCHSEARCH</div>
</il-header>
