---
title: Header (long name)
group: "Components: Header"
layout: layouts/page.njk
---

<il-header>
    <div>NAMENAMENAME NAMENAMENAME NAMENAMENAME NAMENAMENAME NAMENAMENAME NAMENAMENAME</div>
    <div slot="search">SEARCH SEARCH</div>
</il-header>
