---
title: "Header: Links only"
group: "Components: Header"
layout: layouts/page.njk
---

<il-header>
    <nav slot="links" class="il-links" aria-label="Top">
        <ul>
            <li><a id="link-1" href="#">Apply</a></li>
            <li><a href="#">Donate</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</il-header>
