---
title: Header (minimal)
group: "Components: Header"
layout: layouts/page.njk
---
<il-header>

    <div slot="wordmark">
        <il-unit-wordmark>
            <h1>College of Agricultural, Consumer & Environmental Sciences</h1>
        </il-unit-wordmark>
    </div>

</il-header>