---
title: "Header: Primary and secondary name only"
group: "Components: Header"
layout: layouts/page.njk
---

<il-header>
    <p class="il-primary-unit"><a href="/">The Grainger College of Engineering</a></p>
    <h1><a href="/">Computer Science</a></h1>
</il-header>
