---
title: Header (default view, no links or search)
group: "Components: Header"
layout: layouts/page.njk
---
<il-header>

    <div slot="wordmark">
        <il-unit-wordmark>
            <p class="il-primary-unit"><a href="/">The College of Education</a></p>
            <h1><a href="/">School and Community Experiences</a></h1>
        </il-unit-wordmark>
    </div>

    <il-nav slot="navigation"> 

        <il-nav-section>
            <a href="#" target="_self" slot="label">Current Candidates</a>
                <ul class="il-subnav">
        <li><a href="#" target="_self">Early Childhood</a></li>
        <li><a href="#" target="_self">Elementary</a></li>
        <li><a href="#" target="_self">Middle Grades</a></li>
                </ul>
        </il-nav-section>
        <il-nav-section>
            <a href="#" target="_self" slot="label">Cooperating Teachers</a>
                <ul class="il-subnav">
        <li><a href="#" target="_self">Early Childhood</a></li>
                </ul>
        </il-nav-section>
        <il-nav-section>
            <a href="#" target="_self" slot="label">Supervisors</a>
                <ul class="il-subnav">
        <li><a href="#" target="_self">Early Childhood</a></li>
        <li><a href="#" target="_self">Elementary</a></li>
                </ul>
        </il-nav-section>
        <il-nav-section>
            <a href="#" target="_self" slot="label">Community Experiences</a>
                <ul class="il-subnav">
        <li><a href="#" target="_self">Prospective Community Partners</a></li>
                </ul>
        </il-nav-section>
        <il-nav-link>
            <a href="#" target="_self">Quick Links</a>
        </il-nav-link>
        <il-nav-link>
            <a href="#" target="_self">FAQ</a>
        </il-nav-link>
    </il-nav>

</il-header>