---
title: Header (default view, no menu)
layout: layouts/page.njk
---
<il-header>

    <div slot="wordmark">
        <il-unit-wordmark>
            <p class="il-primary-unit"><a href="/">College of Education</a></p>
            <h1><a href="/">Impact Report 2021</a></h1>
        </il-unit-wordmark>
    </div>

    <il-search slot="search"></il-search>

    <nav slot="links" class="il-links">
        <ul>
            <li><a href="#">Apply</a></li>
            <li><a href="#">Chat</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">Give</a></li>
        </ul>
    </nav>
</il-header>