---
title: Header (default view, variant)
layout: layouts/page.njk
---
<il-header>

    <div slot="wordmark">
        <il-unit-wordmark>
            <p class="il-primary-unit"><a href="/">The Grainger College of Engineering</a></p>
            <h1><a href="/">Computer Science</a></h1>
        </il-unit-wordmark>
    </div>

    <il-search slot="search"></il-search>

    <nav slot="links" class="il-links">
        <ul>
            <li><a href="#">Apply</a></li>
            <li><a href="#">Corporate</a></li>
            <li><a href="#">People</a></li>
            <li><a href="#">My.CS</a></li>
        </ul>
    </nav>

    <il-nav slot="navigation">
        <il-nav-section>
            <a href="#" slot="label">About</a>
            <ul class="il-subnav">
                <li>
                    <a href="#">Calendar</a>
                </li>
                <li>
                    <a href="#">Awards</a>
                </li>
                <li>
                    <a href="#">Diversity</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
                <li>
                    <a href="#">Visit</a>
                </li>
            </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">Academics and Admissions of a Long Button Name</a>
                <ul class="il-subnav">
                    <li>
                        <a href="#">Programs of Study</a>
                    </li>
                    <li>
                        <a href="#">Future Students</a>
                    </li>
                    <li>
                        <a href="#">Admissions</a>
                    </li>
                    <li>
                        <a href="#">Student Life</a>
                    </li>
                    <li>
                        <a href="#">Current Students</a>
                    </li>
                    <li>
                        <a href="#">Study Abroad</a>
                    </li>
                    <li>
                        <a href="#">Career Services</a>
                    </li>
                    <li>
                        <a href="#">Student Diversity and Inclusion and Broadening Participation</a>
                    </li>
                    <li>
                        <a href="#">Contact Us</a>
                    </li>
                    <li>
                        <a href="#">Staff</a>
                    </li>
                </ul>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">Research and Outreach of a Long Button Name</a>
        </il-nav-section>
        <il-nav-section>
                <a href="#" slot="label">Accreditation</a>
        </il-nav-section>
    </il-nav>
</il-header>