---
title: "Header: Deprecated wordmark element"
group: "Components: Header"
layout: layouts/page.njk
---

<il-header>
    <il-unit-wordmark>
        <h1>College of Agricultural, Consumer &amp; Environmental Sciences</h1>
    </il-unit-wordmark>
</il-header>
