@define-mixin il-content--theme-white {
  --il-content--color: var(--il-base-25);
  --il-content--heading--color: var(--il-blue);
  --il-content--link--color: var(--il-industrial-blue);
  --il-content--link--focus--color: var(--il-altgeld);
  --il-content--link--visited--color: var(--il-blue);

  --il-content--button--background-color: white;
  --il-content--button--color: var(--il-blue);
  --il-content--button--border-color: var(--il-blue);
  --il-content--button--focus--background-color: var(--il-blue);
  --il-content--button--focus--color: white;
  --il-content--button--focus--border-color: var(--il-blue);
}