@define-mixin il-nav--breadcrumbs {
  color: #252525;
  font-family: var(--il-font-sans);
  font-size: 17px;
  letter-spacing: .25px;
  text-transform: uppercase;

  h2 {
    all: initial;
    display: inline;
    font-weight: bold;
    color: var(--il-orange);

    &:after {
      content: ":";
    }
  }

  ol, ul {
    all: initial;
    display: block;
  }

  li {
    all: initial;
    display: inline-block;
    vertical-align: baseline;

    &:before {
      content: "/ ";
      margin: 0 .25em;
      color: var(--il-base-25);
      vertical-align: baseline;
      font: 400 .9em/1.75 var(--il-font-sans);
    }

    &:first-of-type:before {
      content: '';
    }
  }

  a {
    all: initial;
    text-decoration: underline;
    font: 400 .9em/1.75 var(--il-font-sans);
    cursor: pointer;
    color: var(--il-blue);
  }

  li:last-of-type a {
    font-weight: bold;
    text-decoration: none;
  }
}
