@define-mixin il-nav--bar--dropdown {

  --il-nav--link--background-color: var(--il-cloud-1);
  --il-nav--link--color: var(--il-blue);
  --il-nav--link--focus--background-color: white;
  --il-nav--link--focus--color: var(--il-altgeld);

  --il-nav-section--header--link--background-color: var(--il-cloud-1);
  --il-nav-section--header--link--color: var(--il-blue);
  --il-nav-section--header--link--focus--background-color: white;
  --il-nav-section--header--link--focus--color: var(--il-altgeld);

  --il-nav-section--header--button--background-color: var(--il-cloud-1);
  --il-nav-section--header--button--color: var(--il-blue);
  --il-nav-section--header--button--focus--background-color: white;
  --il-nav-section--header--button--focus--color: var(--il-altgeld);

  --il-nav-section--content--position: absolute;
  --il-nav-section--content--left: 0;
  --il-nav-section--content--top: 100%;
  --il-nav-section--content--background-color: var(--il-cloud-1);
  --il-nav-section--content--padding: 0 1px 1px;
  --il-nav-section--content--margin: 0 -1px;

  --il-nav-indicator--arrow--transform: var(--il-nav-indicator--down);
  --il-nav--header--white-space: nowrap;

  & > a {
    white-space: nowrap;
  }
}
