@define-mixin il-nav--sidebar {
  --il-nav-section--content--display: block;
  --il-nav-section--content--pointer-events: all;

  ul {
    all: initial;
    display: block;
  }
  li {
    all: initial;
    display: block;
  }

  a {
    display: block;
    color: var(--il-blue);
    text-align: left;
    cursor: pointer;

    &:hover,
    &:focus {
      color: var(--il-altgeld);
      outline: none;
      text-decoration: underline;
    }

    &[aria-current="page"] {
      color: var(--il-altgeld);
    }
  }

  li a {
    font: 600 18px/1.35 var(--il-font-sans);
    padding-top: 16px;
    padding-bottom: 16px;
  }

  li li a {
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  li li li a {
    padding-left: 29px;
  }

  /* Top level */
  & > il-nav-section {
    --il-nav-section--header--button--background-color: #F0F0F0;
    --il-nav-section--header--button--pointer-events: none;
    --il-nav-section--header--link--background-color: #F0F0F0;
    --il-nav-section--header--link--focus--background-color: #F0F0F0;
    --il-nav-section--header--link--font-size: 22px;
    --il-nav-section--header--link--font-weight: 700;
    --il-nav-section--header--link--color: var(--il-blue);
    --il-nav-section--indicator--display: none;
  }
  .header button {
    position: relative;
    box-sizing: border-box;
    width: 60px;
    height: 44px;
    overflow: hidden;
    margin: 0 0 0 10px;
    padding: 0;
    background: transparent;
    border: 2px solid var(--il-blue);
    color: var(--il-blue);
    border-radius: 3px;
    text-indent: 72px;
    white-space: nowrap;
  }
  .header button:focus, .header button:hover {
    background-color: var(--il-orange);
    border-color: var(--il-orange);
    color: white;
  }
  .header button svg {
    position: absolute;
    left: 19px;
    top: 11px;
    width: 18px;
    height: 18px;
    fill: currentColor;
  }
  nav.full .header {
    position: absolute !important;
    left: -9999px !important;
    top: auto !important;
    display: block !important;
    text-align: left !important;
    text-indent: -9999em !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden !important;
  }
  nav.full .il-section-nav__toggle {
    display: none;
  }


  il-section-nav {
    ul {
      all: initial;
    }

    li {
      all: initial;
    }

    a {
      all: initial;
      display: block;
      font-family: var(--il-font-sans);
      line-height: 1.35;
      color: var(--il-blue);
      text-align: left;
      font-weight: 700;
      font-size: 22px;

      &:hover,
      &:focus {
        color: var(--il-altgeld);
        outline: none;
        text-decoration: underline;
      }

      &[aria-current="page"] {
        color: var(--il-altgeld);
      }
    }

    li a {
      font-size: 20px;
      line-height: 1.5;
    }

    li li {
      padding-left: 15px;
    }

    li li a {
      font-size: 18px;
      font-weight: 600;
    }

    h3 {
      background-color: #f0f0f0;
      margin: 0;
      padding: 10px 20px;
      font-family: var(--il-font-sans);
      font-size: 20px;
      font-weight: 700;
      line-height: 1.35;
      color: var(--il-blue);

      a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
        color: var(--il-blue);
        text-align: left;

        &:hover,
        &:focus {
          color: var(--il-altgeld);
          outline: none;
          text-decoration: underline;
        }
      }
    }

      li {
        background-color: white;
        border-bottom: 1px solid #d8d8d8;

        ul {
          padding-bottom: 20px;
        }

        li {
          border-bottom: 0;

          ul {
            padding-bottom: 0;
          }
        }
      }

      a {
        padding: 10px 20px;
        font-size: 20px;
      }

      li a {
        font-weight: 600;
        font-size: 18px;
        padding-top: 16px;
        padding-bottom: 16px;
      }

      li li a {
        font-size: 16px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

      li li li a {
        padding-left: 29px;
      }
  }

}