@define-mixin il-nav--dropdown {
  border-radius: 3px;
  border: solid 2px #d8d8d8;

  ul {
    border-top: solid 1px #d8d8d8;
  }

  il-nav-section {
    display: block;

    & > a, & > span {
      box-sizing: border-box;
      padding: .75em 1em;
      width: calc(100% - 3em);
      flex: 1 1 100%;
      font: 600 1.1875em/1em var(--il-font-sans);
    }

    & > a {
      background-color: var(--il-nav--link--background-color);
      color: var(--il-nav--link--color);

      &:focus, &:hover {
        background-color: var(--il-orange);
        color: var(--il-blue);
        text-decoration: none;
      }
    }
  }

  .header {
    margin: 0;
    padding: 0 20px;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .header h2 {
    margin: 0;
    padding: 0;
    font: 700 22px/56px var(--il-font-sans);
    color: var(--il-blue);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .header h2::after {
    content: "\2026";
  }
  .header button {
    position: relative;
    box-sizing: border-box;
    width: 60px;
    height: 44px;
    overflow: hidden;
    margin: 0 0 0 10px;
    padding: 0;
    background: transparent;
    border: 2px solid var(--il-blue);
    color: var(--il-blue);
    border-radius: 3px;
    text-indent: 72px;
    white-space: nowrap;
  }
  .header button:focus, .header button:hover {
    background-color: var(--il-orange);
    border-color: var(--il-orange);
    color: white;
  }
  .header button svg {
    position: absolute;
    left: 19px;
    top: 11px;
    width: 18px;
    height: 18px;
    fill: currentColor;
  }


  nav.compact .menu {
    display: none;
    background-color: white;
  }
  nav.compact.expanded .header {
    border-bottom: solid 1px #d8d8d8;
  }
  nav.compact.expanded .header button svg {
    transform: rotate(180deg);
  }
  nav.compact.expanded .menu {
    display: block;
  }


  il-section-nav {
    ul {
      all: initial;
    }

    li {
      all: initial;
    }

    a {
      all: initial;
      display: block;
      font-family: var(--il-font-sans);
      line-height: 1.35;
      color: var(--il-blue);
      text-align: left;
      font-weight: 700;
      font-size: 22px;

      &:hover,
      &:focus {
        color: var(--il-altgeld);
        outline: none;
        text-decoration: underline;
      }

      &[aria-current="page"] {
        color: var(--il-altgeld);
      }
    }

    li a {
      font-size: 20px;
      line-height: 1.5;
    }

    li li {
      padding-left: 15px;
    }

    li li a {
      font-size: 18px;
      font-weight: 600;
    }

    h3 {
      background-color: #f0f0f0;
      margin: 0;
      padding: 10px 20px;
      font-family: var(--il-font-sans);
      font-size: 20px;
      font-weight: 700;
      line-height: 1.35;
      color: var(--il-blue);

      a {
        display: block;
        margin: -10px -20px;
        padding: 10px 20px;
        color: var(--il-blue);
        text-align: left;

        &:hover,
        &:focus {
          color: var(--il-altgeld);
          outline: none;
          text-decoration: underline;
        }
      }
    }

      background-color: white;

      h3 {
        background-color: #fff;
        font-size: 22px;
      }

      > ul li {
        padding-left: 26px;
      }

      ul {
        border-top: solid 1px #d8d8d8;

        & ul {
          border-top: 0;
        }
      }

      li {
        border-bottom: solid 1px #d8d8d8;

        &:last-of-type {
          border-bottom: 0;
        }

        ul {
          padding-bottom: 4px;
        }

        li {
          padding-left: 19px;
          border-bottom: 0;

          ul {
            padding-bottom: 0;
          }
        }

        li li {
          padding-left: 19px;
          border-bottom: 0;

          ul {
            padding-bottom: 0;
          }
        }
      }

      a {
        padding: 10px 20px;
      }

      li li a {
        line-height: 1.5;
      }

      li li li {
        padding-left: 19px;
      }

      li li li a {
        font-size: 18px;
        font-weight: 600;
      }
    }

}