@define-mixin il-nav--bar {
  background-color: var(--il-cloud-1);
  padding-top: .2em;
  --il-nav-section--content--display: none;
  --il-nav-section--content--pointer-events: all;
  --il-nav-section--content--width: 20em;
  --il-nav-section--header--button--pointer-events: all;

  --il-nav--item--padding-top: .75em;
  --il-nav--item--padding-bottom: .75em;
  --il-nav--item--padding-left: 1em;
  --il-nav--item--padding-right: 1em;

  a, span {
    padding: .75em 1em;
  }

  li > a {
    background-color: var(--il-nav--link--background-color);
    color: var(--il-nav--link--color);
    font: 600 1.1875em/1em var(--il-font-sans);
    position: relative;

    &:hover, &:focus {
      background-color: var(--il-nav--link--focus--background-color);
      color: var(--il-nav--link--focus--color);
    }
  }

  il-nav-section > a, il-nav-section > span {
    font: 600 1.1875em/1em var(--il-font-sans);
  }
  il-nav-section > a {
    width: 100%;
  }


  ul {
    all: initial;
    display: block;
  }

  & > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-end;
  }

  li {
    all: initial;
    display: block;

    &:first-child {
      margin-top: 0;
    }
  }

  il-nav-section li {
    margin-top: 1px;
  }


  /* Top-level link */
  & > ul > li > a {
    padding: .75em 1em;
    background-color: var(--il-cloud-1);
    color: var(--il-blue);

    &:focus, &:hover {
      background-color: white;
      color: var(--il-altgeld);
    }
  }

  /* Expanded section */

  il-nav-section[data-il-nav-size="expanded"] a {
    background-color: white;
    color: var(--il-blue);
    --il-nav-section--header--link--background-color: white;
    --il-nav-section--header--link--color: var(--il-blue);
    --il-nav-section--header--button--background-color: white;
    --il-nav-section--header--button--color: var(--il-blue);

    &:focus, &:hover {
      background-color: var(--il-orange);
      color: var(--il-blue);
    }
  }

  /* Current section */

  il-nav-section[data-il-nav-current="true"] a {
    background-color: var(--il-blue);
    color: white;
    --il-nav-section--header--link--background-color: var(--il-blue);
    --il-nav-section--header--link--color: white;
    --il-nav-section--header--button--background-color: var(--il-blue);
    --il-nav-section--header--button--color: white;

    &:focus, &:hover {
      background-color: var(--il-orange);
      color: var(--il-blue);
    }
  }


  /* Top level section */

  & > ul > li > il-nav-section {
    margin-top: 0;

    --il-nav--link--background-color: var(--il-cloud-1);
    --il-nav--link--color: var(--il-blue);
    --il-nav--link--focus--background-color: white;
    --il-nav--link--focus--color: var(--il-altgeld);

    --il-nav-section--header--link--background-color: var(--il-cloud-1);
    --il-nav-section--header--link--color: var(--il-blue);
    --il-nav-section--header--link--focus--background-color: white;
    --il-nav-section--header--link--focus--color: var(--il-altgeld);

    --il-nav-section--header--button--background-color: var(--il-cloud-1);
    --il-nav-section--header--button--color: var(--il-blue);
    --il-nav-section--header--button--focus--background-color: white;
    --il-nav-section--header--button--focus--color: var(--il-altgeld);

    --il-nav-section--content--position: absolute;
    --il-nav-section--content--left: 0;
    --il-nav-section--content--top: 100%;
    --il-nav-section--content--background-color: var(--il-cloud-1);
    --il-nav-section--content--padding: 0 1px 1px;
    --il-nav-section--content--margin: 0 -1px;

    --il-nav-indicator--arrow--transform: var(--il-nav-indicator--down);
    --il-nav--header--white-space: nowrap;

    & > a {
      white-space: nowrap;
      background-color: var(--il-cloud-1);
      color: var(--il-blue);
    }

    & > a:focus, & > a:hover {
      background-color: white;
      color: var(--il-altgeld);
    }

    &[data-il-nav-size="expanded"], &[data-il-nav-current="true"] {
      --il-nav--link--focus--background-color: var(--il-orange);
      --il-nav--link--focus--color: var(--il-blue);
      --il-nav-section--header--link--focus--background-color: var(--il-orange);
      --il-nav-section--header--link--focus--color: var(--il-blue);
      --il-nav-section--header--button--focus--background-color: var(--il-orange);
      --il-nav-section--header--button--focus--color: var(--il-blue);
    }

    &[data-il-nav-size="expanded"] {
      --il-nav--link--background-color: white;
      --il-nav--link--color: var(--il-blue);
      --il-nav-section--header--link--background-color: white;
      --il-nav-section--header--link--color: var(--il-blue);
      --il-nav-section--header--button--background-color: white;
      --il-nav-section--header--button--color: var(--il-blue);
      --il-nav-indicator--arrow--transform: var(--il-nav-indicator--up);

      & > a, & > span {
        background-color: white;
        color: var(--il-blue);
      }
      & > a:focus, & > a:hover {
        background-color: var(--il-orange);
        color: var(--il-blue);
      }
    }

    &[data-il-nav-current="true"] {
      --il-nav--link--background-color: var(--il-blue);
      --il-nav--link--color: white;
      --il-nav-section--header--link--background-color: var(--il-blue);
      --il-nav-section--header--link--color: white;
      --il-nav-section--header--button--background-color: var(--il-blue);
      --il-nav-section--header--button--color: white;
      --il-nav-indicator--arrow--transform: var(--il-nav-indicator--up);

      & > a, & > span {
        background-color: var(--il-blue);
        color: white;
      }
      & > a:focus, & > a:hover {
        background-color: var(--il-orange);
        color: var(--il-blue);
      }
    }
  }

  /* Nested section */

  il-nav-section il-nav-section {
    --il-nav-section--content--left: 100%;
    --il-nav-section--content--top: 0;
    --il-nav-section--content--padding: 1px;
    --il-nav-section--content--margin: -1px -1px 0;
    --il-nav-section--content--background-color: var(--il-cloud-1);
    --il-nav-indicator--arrow--transform: var(--il-nav-indicator--right);
    --il-nav-section--header--link--focus--background-color: var(--il-orange);
    --il-nav-section--header--link--focus--color: var(--il-blue);
    --il-nav-section--header--button--focus--background-color: var(--il-orange);
    --il-nav-section--header--button--focus--color: var(--il-blue);

    a:focus, a:hover {
      background-color: var(--il-orange);
      color: var(--il-blue);
    }

    &[data-il-nav-size="expanded"] {
      --il-nav--link--background-color: white;
      --il-nav--link--color: var(--il-blue);
      --il-nav-section--header--link--background-color: white;
      --il-nav-section--header--link--color: var(--il-blue);
      --il-nav-section--header--button--background-color: white;
      --il-nav-section--header--button--color: var(--il-blue);
    }

    &[data-il-nav-current="true"] {
      --il-nav--link--background-color: var(--il-blue);
      --il-nav--link--color: white;
      --il-nav-section--header--link--background-color: var(--il-blue);
      --il-nav-section--header--link--color: white;
      --il-nav-section--header--button--background-color: var(--il-blue);
      --il-nav-section--header--button--color: white;
    }
  }
}
