@define-mixin invisible {
  position: absolute !important;
  left: -9999px !important;
  top: auto !important;
  display: block !important;
  text-align: left !important;
  text-indent: -9999em !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}
