:root {
    --il-accordion-color: var(--il-blue, #13294B);
    --il-accordion-color-hover: var(--il-gray-1, #F4F4F4);
    --il-accordion-color-focus: var(--il-gray-1, #F4F4F4);
    --il-accordion-background: var(--il-gray-1, #F4F4F4);
    --il-accordion-background-hover: var(--il-blue, #13294B);
    --il-accordion-background-focus: var(--il-blue, #13294B);
    --il-accordion-border-full: none;
    --il-accordion-border: none;
    --il-accordion-border-focus: none;
    --il-accordion-image-transform: rotate(270deg);
    --il-accordion-image-transform-expand: rotate(0);
}

il-accordion {
    font-family: var(--il-font-source-sans, 'Source Sans', sans-serif);
    font-size: 1.125rem;
}

il-accordion.border {
    --il-accordion-border-full: 1px solid var(--il-base-25, #252525);
}