@layer components {

  il-hero {
    background: var(--il-gradient-white), var(--il-cloud-1);
    --il-hero-hr-color: var(--il-orange);
    color: var(--il-blue);
  }
  il-hero.il-ascend {
    background: var(--il-background-ascend-white);
  }
  il-hero.il-finial {
    background: var(--il-background-finial-white);
  }
  il-hero.il-ascend.il-blue, il-hero.il-finial.il-blue {
    --il-hero-hr-color: var(--il-orange);
    color: white;
  }
  il-hero.il-ascend.il-blue {
    background: var(--il-background-ascend-blue);
  }
  il-hero.il-finial.il-blue {
    background: var(--il-background-finial-blue);
  }
  il-hero.il-ascend.il-orange, il-hero.il-finial.il-orange {
    --il-hero-hr-color: white;
    color: var(--il-blue);
  }
  il-hero.il-ascend.il-orange {
    background: var(--il-background-ascend-orange);
  }
  il-hero.il-finial.il-orange {
    background: var(--il-background-finial-orange);
  }

  il-hero h1 {
    all: initial;
    color: inherit;
    text-align: center;
    font: 700 4rem/1.125 var(--il-font-montserrat);
  }
  il-hero.il-ascend h1, il-hero.il-finial h1 {
    text-shadow: .1em .1em 0 var(--il-hero-background);
  }

  il-hero p {
    all: initial;
    display: block;
    position: relative;
    color: inherit;
    text-align: center;
    font: 400 1.75rem/1.428 var(--il-font-sans);
  }
  il-hero h1 + p {
    margin-top: 6rem;
  }
  il-hero h1 + p::before {
    content: "";
    position: absolute;
    top: -3.25rem;
    left: calc(50% - 2.5rem);
    width: 5rem;
    height: .5rem;
    background-color: var(--il-hero-hr-color);
  }

  il-page il-hero {
    margin-left: var(--il-page-offset-left);
    margin-right: var(--il-page-offset-right);
  }

  il-page main > il-hero:first-child {
    margin-top: var(--il-page-offset-top);
  }

  il-page[data-columns="4"] il-hero h1 {
    font-size: 3.25rem;
  }
  il-page[data-columns="4"] il-hero h1 + p {
    margin-top: 4.5rem;
  }
  il-page[data-columns="4"] il-hero h1 + p::before {
    top: -2.5rem;
  }

  il-page[data-columns="2"] il-hero h1 {
    font-size: 2.5rem;
  }
  il-page[data-columns="2"] il-hero h1 + p {
    margin-top: 3rem;
  }
  il-page[data-columns="2"] il-hero h1 + p::before {
    top: -1.75rem;
  }
}
