<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8">
    <title>Header with name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=5.0">
    <link rel="icon" href="https://cdn.brand.illinois.edu/favicon.ico">
    <link rel="stylesheet" href="/dist/components.css">
    <script src="/dist/components.js"></script>
</head>
<body style="margin:0;padding:0;background-color:#666;">
<header>
    <il-header>
        <h1>Office of Strategic Marketing &amp; Branding</h1>
    </il-header>
</header>
</body>
</html>
