---
title: Accordion panel
group: "Components: Accordion"
layout: layouts/page.njk
---

<div class="il-formatted">
    <il-accordion-panel>
        <h3 slot="header">Test information</h3>
        <p>First paragraph</p>
        <p>Second paragraph</p>
    </il-accordion-panel>
</div>