---
title: Navigation
layout: layouts/docs.njk
tests:
- tests/components/navigation/default-collapsed.njk
- tests/components/navigation/default-expanded.njk
- tests/components/navigation/compact-collapsed.njk
---

<h1>Navigation</h1>
