
// Placeholders

%il-content--theme--blue {
  --il-content--color: white;
  --il-content--heading--color: white;
  --il-content--link--color: white;
  --il-content--link--focus--color: var(--il-orange);
  --il-content--link--visited--color: var(--il-arches-2);

  --il-content--button--background-color: var(--il-blue);
  --il-content--button--color: white;
  --il-content--button--border-color: white;
  --il-content--button--focus--background-color: white;
  --il-content--button--focus--color: var(--il-blue);
  --il-content--button--focus--border-color: white;
}

// Implementations

@layer theme {
  il-content.il-theme-blue, .il-theme-blue il-content, .il-theme-blue-gradient il-content {
    @extend %il-content--theme--blue;
  }
}


il-content.il-theme-white, .il-theme-white il-content {
  --il-content--color: var(--il-base-25);
  --il-content--heading--color: var(--il-blue);
  --il-content--link--color: var(--il-industrial-blue);
  --il-content--link--focus--color: var(--il-altgeld);
  --il-content--link--visited--color: var(--il-blue);

  --il-content--button--background-color: white;
  --il-content--button--color: var(--il-blue);
  --il-content--button--border-color: var(--il-blue);
  --il-content--button--focus--background-color: var(--il-blue);
  --il-content--button--focus--color: white;
  --il-content--button--focus--border-color: var(--il-blue);
}

il-content.il-theme-gray, .il-theme-gray il-content {
  --il-content--color: var(--il-base-25);
  --il-content--heading--color: var(--il-blue);
  --il-content--link--color: var(--il-industrial-blue);
  --il-content--link--focus--color: var(--il-altgeld);
  --il-content--link--visited--color: var(--il-blue);

  --il-content--button--background-color: white;
  --il-content--button--color: var(--il-blue);
  --il-content--button--border-color: var(--il-blue);
  --il-content--button--focus--background-color: var(--il-blue);
  --il-content--button--focus--color: white;
  --il-content--button--focus--border-color: var(--il-blue);
}

il-content.il-theme-orange, .il-theme-orange il-content, .il-theme-orange-gradient il-content {
  --il-content--color: black;
  --il-content--heading--color: white;
  --il-content--link--color: black;
  --il-content--link--focus--color: var(--il-blue);
  --il-content--link--visited--color: black;

  --il-content--button--background-color: var(--il-orange);
  --il-content--button--color: white;
  --il-content--button--border-color: white;
  --il-content--button--focus--background-color: white;
  --il-content--button--focus--color: var(--il-orange);
  --il-content--button--focus--border-color: white;

}

il-content.il-theme-industrial-blue, .il-theme-industrial-blue il-content {
  --il-content--color: white;
  --il-content--heading--color: white;
  --il-content--link--color: white;
  --il-content--link--focus--color: var(--il-orange-lighter-4);
  --il-content--link--visited--color: var(--il-arches-2);

  --il-content--button--background-color: var(--il-industrial-blue);
  --il-content--button--color: white;
  --il-content--button--border-color: white;
  --il-content--button--focus--background-color: white;
  --il-content--button--focus--color: var(--il-industrial-blue);
  --il-content--button--focus--border-color: white;
}

il-content.il-theme-altgeld, .il-theme-altgeld il-content {
  --il-content--color: black;
  --il-content--heading--color: white;
  --il-content--link--color: black;
  --il-content--link--focus--color: var(--il-blue);
  --il-content--link--visited--color: black;

  --il-content--button--background-color: var(--il-altgeld);
  --il-content--button--color: white;
  --il-content--button--border-color: white;
  --il-content--button--focus--background-color: white;
  --il-content--button--focus--color: var(--il-altgeld);
  --il-content--button--focus--border-color: white;
}
