
:root {
  --il-content--color: var(--il-base-25);
  --il-content--heading--color: var(--il-content--color);

  --il-content-base-font: 400 1.125em/1.66em var(--il-font-sans);

  --il-content-heading-base-size: 1.125em;
  --il-content-heading-ratio: 1.2;
  --il-content-h6-size: var(--il-content-heading-base-size);
  --il-content-h5-size: calc(var(--il-content-h6-size) * var(--il-content-heading-ratio));
  --il-content-h4-size: calc(var(--il-content-h5-size) * var(--il-content-heading-ratio));
  --il-content-h3-size: calc(var(--il-content-h4-size) * var(--il-content-heading-ratio));
  --il-content-h2-size: calc(var(--il-content-h3-size) * var(--il-content-heading-ratio));
  --il-content-h1-size: calc(var(--il-content-h2-size) * var(--il-content-heading-ratio));
}

il-content {

  box-sizing: border-box;
  display: block;
  font: var(--il-content-base-font);
  color: var(--il-content--color);
  container-type: inline-size;
  position: relative;


  /* TODO: WP BLOCK EDITOR COMPATIBILITY */

  &.il-wp-block-editor-content {
    h1, h2, h3, h4, h5, h6 {
      &:first-child {
        margin-top: var(--il-heading-margin-top);
      }
    }
  }
}

il-page > il-content {
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: var(--il-page--padding-left);
  padding-right: var(--il-page--padding-right);
}

@import "base";
@import "themes";
@import "sizes";
