@layer base {
  :root {
    --il-page-padding-top: 4rem;
    --il-page-padding-bottom: 4rem;
    --il-page-padding-left: max(1.875rem, calc(50cqw - 37.5rem));
    --il-page-padding-right: max(1.875rem, calc(50cqw - 37.5rem));
    --il-page-offset-top: -4rem;
    --il-page-offset-bottom: -4rem;
    --il-page-offset-left: min(-1.875rem, calc(37.5rem - 50cqw));
    --il-page-offset-right: min(-1.875rem, calc(37.5rem - 50cqw));
  }
  il-page {
    color: var(--il-storm-darker-2);
    container-type: inline-size;
    font-size: 1.125rem;

    /* All sizes in this section are in em, so that text can scale contextually */
    /* Base size is 18px (1.125rem), as set in il-page#main */

    p {
      all: initial;
      display: block;
      margin-top: 1.5rem;
      font: 400 1.125rem/1.667 var(--il-font-sans);
      color: inherit;
    }
    b, strong {
      all: inherit;
      display: inline;
      font-weight: 700;
    }
    i, em {
      all: inherit;
      display: inline;
      font-style: italic;
    }

    a {
      all: inherit;
      display: inline;
      color: var(--il-industrial-blue);
      text-decoration: underline;
      cursor: pointer;
    }
    a:hover, a:focus {
      color: var(--il-altgeld);
    }
    a:focus {
      outline: 2px dotted;
    }
    a:visited {
      color: var(--il-blue);
    }

    h1, h2, h3, h4, h5, h6 {
      all: initial;
      display: block;
      color: inherit;
      line-height: 1.2;
      font-style: normal;
      font-weight: 700;
      font-family: var(--il-font-montserrat);
    }
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2.667rem;
      margin-top: 4rem;
    }
    h2:first-child {
      margin-top: 0;
    }
    h3 {
      font-size: 2.333rem;
      margin-top: 3.5rem;
    }
    h4 {
      font-size: 2rem;
      margin-top: 3rem;
    }
    h5 {
      font-size: 1.667rem;
      margin-top: 2.5rem;
    }
    h6 {
      font-size: 1.333rem;
      margin-top: 2rem;
    }

    li {
      font: 400 1.125rem/1.667 var(--il-font-sans);
      color: inherit;
    }

    figure {
      all: initial;
      box-sizing: border-box;
      display: block;
      position: relative;
      width: 50%;
      float: right;
      clear: right;
      margin: 2rem 0 1rem 2rem;
    }
    figure img {
      display: block;
      max-width: 100%;
      box-shadow: var(--il-box-shadow);
    }
    figcaption {
      all: initial;
      display: block;
      margin-top: 1em;
      font: 400 1rem/1.25 var(--il-font-sans);
    }

    table {
      box-sizing: border-box;
      border-collapse: collapse;
      border: 1px solid var(--il-storm-lighter-3);
      width: 100%;
      overflow: auto;
    }
    th {
      text-align: left;
      font-weight: 700;
      font-size: 1.2rem;
      border-top: 1px solid var(--il-storm-lighter-4);
      border-bottom: 1px solid var(--il-storm-lighter-4);
      border-left: none;
      border-right: none;
      padding: .5em 1em;
      vertical-align: middle;
    }
    th {
      background-color: var(--il-industrial);
      color: white;
      font-family: var(--il-font-sans);
    }
    th:first-of-type {
      border-left: 1px solid var(--il-storm-lighter-4);
    }
    th:last-of-type {
      border-right: 1px solid var(--il-storm-lighter-4);
    }
    th {
      background-color: var(--il-industrial);
      color: white;
      font-family: var(--il-font-sans);
    }
    td {
      text-align: left;
      vertical-align: top;
      padding: .5em 1em;
      border-top: 1px solid var(--il-storm-lighter-4);
      border-bottom: 1px solid var(--il-storm-lighter-4);
      border-left: none;
      border-right: none;
      color: var(--il-blue);
    }
    td:first-of-type {
      border-left: 1px solid var(--il-storm-lighter-4);
    }
    td:last-of-type {
      border-right: 1px solid var(--il-storm-lighter-4);
    }
    tr:nth-child(odd) {
      background-color: var(--il-storm-lighter-4);
    }

    .il-display {
      font-size: 2em;
      font-weight: 700;
      line-height: 1.33;
      font-family: var(--il-font-montserrat);
    }
    .il-lede {
      font-size: 1.5556em;
      line-height: 1.43;
    }
    .il-caption {
      font-size: .8889em;
      line-height: 1.5;
    }
    .il-legal {
      font-size: .8889em;
      line-height: 1.5;
    }

    .il-highlight {
      line-height: 1.375;
      font-size: 1.333em;
      font-weight: 700;
      font-family: var(--il-font-sans);
    }

    .il-small-caps {
      line-height: 1;
      font-size: 1em;
      font-weight: 700;
      text-transform: uppercase;
    }


    /* Breadcrumb */

    nav.il-breadcrumb {
      color: #252525;

      ol {
        list-style: none;
        margin: 0;
        padding: 0;
        font: 400 14px/32px var(--il-font-sans);
      }
      li {
        display: inline;
        color: #252525;
        vertical-align: baseline;
      }
      .separator {
        position: relative;
        display: inline-block;
        height: 8px;
        width: 8px;
        padding: 0 4px;
      }
      .separator svg {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--il-blue);
      }
      a {
        color: var(--il-link-color);
      }
      a:visited {
        color: var(--il-visited-link-color);
      }
      a:focus, a:hover {
        color: var(--il-link-hover-color);
      }
    }




    il-action {
      margin-top: 2em;
    }

    il-cards, il-card-with-image {
      margin-top: 4.44em;
    }
    il-cards il-card-with-image {
      margin-top: 0;
    }
    il-cards + p {
      margin-top: 4.44em;
    }
  }
  il-page[data-columns="2"] {
    --il-page-padding-left: 1.25rem;
    --il-page-padding-right: 1.25rem;
    --il-page-offset-left: 1.25rem;
    --il-page-offset-right: 1.25rem;
  }
}
@layer component {
  il-page main {
    padding-top: var(--il-page-padding-top);
    padding-bottom: var(--il-page-padding-bottom);
    padding-left: var(--il-page-padding-left);
    padding-right: var(--il-page-padding-right);
  }
}
