---
title: "Navigation bar: Three levels with section links"
group: "Components: Navigation"
layout: layouts/page.njk
stylesheets: ["tests.css", "navigation.css"]
---
<div id="nav" class="navigation-container">
    <il-nav label="Mythical University" view="bar">
        <ul>
            <li><a href="#">Consectetur</a></li>
            <li>
                <il-nav-section expanded>
                    <a href="#" slot="label">Adipiscing</a>
                    <ul>
                        <li>
                            <il-nav-section>
                                <a href="#" slot="label">Eiusmod Tempor</a>
                            </il-nav-section>
                        </li>
                        <li>
                            <il-nav-section>
                                <a href="#" slot="label">Incididunt ut Labore</a>
                            </il-nav-section>
                        </li>
                        <li>
                            <il-nav-section id="section" expanded current>
                                <a href="#" id="link" slot="label">Reprehenderit in Voluptate</a>
                                <ul>
                                    <li><a href="#">Parturient Montes</a></li>
                                    <li><a href="#">Tellus at Urna Condimentum</a></li>
                                    <li><a href="#">Velit Egestas</a></li>
                                    <li><a href="#">Tellus Pellentesque</a></li>
                                </ul>
                            </il-nav-section>
                        </li>
                        <li>
                            <il-nav-section>
                                <a href="#" slot="label">Occaecat Cupidatat</a>
                            </il-nav-section>
                        </li>
                    </ul>
                </il-nav-section>
            </li>
            <li><a href="#">Incididunt</a></li>
            <li><a href="#">Exercitation</a></li>
        </ul>
    </il-nav>
</div>