<!DOCTYPE html>
<script src="./breadcrumbs.component.js" type="module"></script>
<script src="./page.component.js" type="module"></script>

<il-breadcrumbs>
  <il-breadcrumbs-page href="/">Home</il-breadcrumbs-page>
  <il-breadcrumbs-page href="#">Major section</il-breadcrumbs-page>
  <il-breadcrumbs-page href="#">Minor section</il-breadcrumbs-page>
  <il-breadcrumbs-page current href="#">Current page</il-breadcrumbs-page>
</il-breadcrumbs>

<il-breadcrumbs>
  <il-breadcrumbs-page href="/">Home</il-breadcrumbs-page>
  <il-breadcrumbs-page>Major section</il-breadcrumbs-page>
  <il-breadcrumbs-page href="#">Minor section</il-breadcrumbs-page>
  <il-breadcrumbs-page current>Current page</il-breadcrumbs-page>
</il-breadcrumbs>

<il-breadcrumbs>
  <il-breadcrumbs-page href="/">Home</il-breadcrumbs-page>
  <il-breadcrumbs-page href="#">Major section</il-breadcrumbs-page>
  <il-breadcrumbs-page href="#">Minor section</il-breadcrumbs-page>
  <il-breadcrumbs-page href="#">Page</il-breadcrumbs-page>
</il-breadcrumbs>
