@import "https://cdn.brand.illinois.edu/colors.css";
@import "https://cdn.brand.illinois.edu/fonts.css";

@layer base, components;

/* upcoming color changes */
:root {
  --il-storm-lighter-3: #C6C7C7;
  --il-storm-lighter-4: #F4F4F4;
  --il-storm-darker-2: #252525;
}

/* these will probably move to the brand cdn too */
:root {
  --il-box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  --il-box-shadow-small: 0 .125rem .25rem rgba(0, 0, 0, .075);
  --il-box-shadow-larger: 0 1rem 3rem rgba(0, 0, 0, .175);
  --il-aspect-ratio-square: 1;
  --il-aspect-ratio-2-1: 2;
}

@layer base {
  html.il-toolkit body, body.il-toolkit {
    margin: 0;
    padding: 0;
    background-color: white;
    color: var(--il-base-25);
    font-size: 16px;
    font-family: var(--il-font-sans);
  }
}

@include "./il-page/il-page.css";