@import "../../css/styles.scss";

il-unit-wordmark {
  > * {
    all: initial;
    text-align: left !important;
    display: block;
    margin-bottom: .25em;
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.2em;
    font-family: var(--il-font-sans);
  }
  > *:first-child {
    margin-top: -2px;
  }
  > *:last-child {
    margin-bottom: -2px;
    font-weight: 600;
    line-height: 1em;
    color: var(--il-blue);
  }
  a {
    all: initial;
    color: var(--il-blue) !important;
    text-decoration: none !important;
  }

  a:focus, a:hover {
    color: var(--il-altgeld) !important;
    outline: none;
  }

  h1 {
    all: initial;
    font-size: 1.5em;
  }
  .il-primary-unit {
    display: none;
  }
  @media (min-width: 768px) {
    .il-primary-unit {
      display: block;
    }
  }
}
