---
title: Lede (default view)
group: "Components: Lede"
layout: layouts/page.njk
---
<il-lede>
Sodium is an essential micronutrient, but the amount we need is small. Three slices of bread or one teaspoon of table salt will do it, and chances are your daily sodium intake is far greater.
</il-lede>

<il-lede>
Classes start today
</il-lede>

