---
title: Lede (with il-formatted)
group: "Components: Lede"
layout: layouts/page.njk
---
<div class="il-formatted">
<il-lede>
Sodium is an essential micronutrient, but the amount we need is small. Three slices of bread or one teaspoon of table salt will do it, and chances are your daily sodium intake is far greater.
</il-lede>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae enim mattis neque elementum ultrices at sit amet arcu. Phasellus sagittis nulla eu mollis venenatis. Cras pellentesque leo vel sem tincidunt, vitae pretium augue rhoncus. Donec sagittis cursus justo malesuada sollicitudin. Proin lacus augue, euismod sit amet velit quis, pulvinar finibus libero. Morbi dignissim a nisi at malesuada. Duis tellus tellus, pharetra eu ullamcorper ac, pharetra eget odio. Sed iaculis efficitur cursus. Phasellus et varius nunc, eu aliquet orci. Etiam a magna mauris. Donec laoreet mattis est, in accumsan justo sagittis sit amet. Nulla vitae dolor vel metus pharetra ornare. Phasellus commodo mattis mollis.
</p>

<il-lede>
Classes start today
</il-lede>
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae enim mattis neque elementum ultrices at sit amet arcu. Phasellus sagittis nulla eu mollis venenatis. Cras pellentesque leo vel sem tincidunt, vitae pretium augue rhoncus. Donec sagittis cursus justo malesuada sollicitudin. Proin lacus augue, euismod sit amet velit quis, pulvinar finibus libero. Morbi dignissim a nisi at malesuada. Duis tellus tellus, pharetra eu ullamcorper ac, pharetra eget odio. Sed iaculis efficitur cursus. Phasellus et varius nunc, eu aliquet orci. Etiam a magna mauris. Donec laoreet mattis est, in accumsan justo sagittis sit amet. Nulla vitae dolor vel metus pharetra ornare. Phasellus commodo mattis mollis.
</p>

</div>
