:root {
  --il-button-background-color: white;
  --il-button-foreground-color: var(--il-blue);
  --il-button-border-color: var(--il-button-foreground-color);
  --il-focused-button-background-color: var(--il-button-foreground-color);
  --il-focused-button-foreground-color: var(--il-button-background-color);
  --il-focused-button-border-color: var(--il-focused-button-background-color);
}
a.il-button, a.il-button:visited {
  background-color: var(--il-button-background-color);
  color: var(--il-button-foreground-color);
  display: inline-block;
  margin: 6px 0;
  padding: 12px 20px;
  text-align: center;
  text-decoration: none;
  border-radius: 0.25em;
  border: 2px solid var(--il-button-border-color);
  font: 700 max(1.1875em, 19px)/1em var(--il-font-sans);
  letter-spacing: .01em;
  transition: background-color 0.3s;
  cursor: pointer;
  outline: 0;

  &:hover,
  &:focus {
    outline: 0;
    background-color: var(--il-button-focused-background-color);
    color: var(--il-button-focused-foreground-color);
    border-color: var(--il-button-focused-border-color);
  }

  &.il-theme-orange {
    --il-button-background-color: var(--il-orange);
    --il-button-foreground-color: white;
    --il-button-border-color: white;
    --il-button-focused-background-color: white;
    --il-button-focused-foreground-color: var(--il-orange);
    --il-button-focused-border-color: var(--il-orange);
  }

  &.il-theme-altgeld {
    --il-button-background-color: var(--il-altgeld);
    --il-button-foreground-color: white;
    --il-button-border-color: white;
    --il-button-focused-background-color: white;
    --il-button-focused-foreground-color: var(--il-altgeld);
    --il-button-focused-border-color: var(--il-altgeld);
  }

  &.il-theme-blue {
    --il-button-background-color: var(--il-blue);
    --il-button-foreground-color: white;
    --il-button-border-color: white;
    --il-button-focused-background-color: white;
    --il-button-focused-foreground-color: var(--il-blue);
    --il-button-focused-border-color: var(--il-blue);
  }

  &.il-theme-white {
    --il-button-background-color: white;
    --il-button-foreground-color: var(--il-blue);
    --il-button-border-color: var(--il-blue);
    --il-button-focused-background-color: var(--il-blue);
    --il-button-focused-foreground-color: white;
    --il-button-focused-border-color: white;
  }
}
