---
title: Pagination
group: "Components: Pagination"
layout: layouts/page.njk
---

<il-pagination pages="3"></il-pagination>

<il-pagination page="3" pages="5"></il-pagination>

<il-pagination page="3" pages="5" param="p"></il-pagination>

<il-pagination id="page-function-example" pages="5"></il-pagination>
<script>
  document
    .getElementById('page-function-example')
    .url = page => `/page/${page}`;
</script>