---
title: Montserrat (alternate)
layout: layouts/test.njk
---
{% set family = "il-montserrat-alt" %}
{% set weights = [100, 200, 300, 400, 500, 600, 700, 800, 900] %}
{% set styles = ['normal', 'italic'] %}

{% include "font-specimens.njk" %}
