:root {
  --il-nav-section-items-position: relative;
  --il-nav-section-items-left: auto;
  --il-nav-section-items-top: auto;
  --il-nav-section-indicator-width: 1.25rem;
  --il-nav-section-indicator-transform: none;
  --il-nav-expanded-section-indicator-transform: rotate(180deg);

  --il-nav-section-header-weight: 700;
  --il-nav-section-label-padding: .5rem .625rem;
}