<!DOCTYPE html>
<script src="./accordion.component.js" type="module"></script>
<script src="./panel.component.js" type="module"></script>

<il-accordion>
    <il-accordion-panel>
        <h3 slot="header">Test #1 information</h3>
        <p>First paragraph</p>
        <p>Second paragraph</p>
    </il-accordion-panel>
    <il-accordion-panel>
        <h3 slot="header">Test #2 information</h3>
        <p>First paragraph</p>
        <p>Second paragraph</p>
    </il-accordion-panel>
    <il-accordion-panel>
        <h3 slot="header">Test #3 information</h3>
        <p>First paragraph</p>
        <p>Second paragraph</p>
    </il-accordion-panel>
</il-accordion>
