body {
    margin: 0;
    padding: 3rem;
    background-color: var(--il-cloud);
}
samp {
    display: block;
    position: relative;
    margin: 0 0 3rem;
    padding: 0;
}


/* Wordmark */

samp > * {
    background-color: white;
}

samp.wordmark--small > * {
    width: 240px;
}

samp.wordmark--medium > * {
    width: 360px;
}

samp.wordmark--large > * {
    width: 720px;
}

samp.wordmark--small-height > * {
    height: 100px;
}

samp.wordmark--medium-height > * {
    height: 200px;
}

samp.wordmark--large-height > * {
    height: 300px;
}

samp.wordmark--tall-fixed > * {
    width: 200px;
    height: 400px;
}

samp.wordmark--square-fixed > * {
    width: 300px;
    height: 300px;
}

samp.wordmark--wide-fixed > * {
    width: 800px;
    height: 100px;
}


/* Unit wordmarks */
