---
title: Call to Action (alignment)
group: "Components: Call to Action"
layout: layouts/page.njk
---

<div class="il-formatted">

<il-call-to-action>
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a non-degree student.</p>
<ol><li><a href="https://online.illinois.edu/getting-started/other-important-info-for-online-students/policies-statements/policies/non-degree-seeking-students">Register as a non-degree student</a>.</li>
<li>Complete the certificate application form.</li>
<li>Enroll in a class after you are admitted as a non-degree student.</li>
</ol>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Contact Us</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>

<il-call-to-action alignment="center">
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a non-degree student.</p>
<ol><li><a href="https://online.illinois.edu/getting-started/other-important-info-for-online-students/policies-statements/policies/non-degree-seeking-students">Register as a non-degree student</a>.</li>
<li>Complete the certificate application form.</li>
<li>Enroll in a class after you are admitted as a non-degree student.</li>
</ol>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Contact Us</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>

<il-call-to-action>
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a non-degree student.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Contact Us</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>

<il-call-to-action alignment="center">
<span slot="icon" class="il-icon-line">faq</span>
<h3>Get started today!</h3>
<p>Enroll in a class after you are admitted as a non-degree student.</p>
<p><a href="#" class="il-button">Registration overview</a><a href="#" class="il-button">Contact Us</a><a href="#" class="il-button">Accessing email/Compass</a></p>
</il-call-to-action>

</div>