il-contact {
  color: var(--il-blue);

  & > p {
    all: initial;
    color: inherit;
    display: block;
    font: 400 1.125em/1.5em var(--il-font-sans);
  }
  & > p > a {
    color: inherit;
    text-decoration: underline;

    &:focus, &:hover {
      color: var(--il-altgeld);
    }
  }
}