---
title: Source Sans
layout: layouts/test.njk
---
<link rel="stylesheet" href="{{ "/_assets/tests/fonts.css" | url }}">
<script src="{{ "/_assets/tests/fonts.js" | url }}"></script>
<script>createSpecimens('il-source-sans', ['normal', 'italic'], [100, 200, 300, 400, 500, 600, 700, 800, 900])</script>
