---
title: Statistic (invalid colors)
group: "Components: Statistic"
layout: layouts/page.njk
---

<style> 

:root {
    --il-statistic-width: 500px;
}
il-statistic.orange { 
    --il-statistic-heading-color: var(--il-orange-lighter-2); 
} 
il-statistic.harvest { 
    --il-statistic-heading-color: var(--il-harvest-lighter-2); 
}
il-statistic.blue { 
    --il-statistic-heading-color: var(--il-arches-blue-darker-2); 
    --il-statistic-text-color: var(--il-arches-blue-darker-2); 
}
</style>

<h2>Invalid colors</h2>

<il-statistic class="il-theme-white orange il-size-xlarge">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic class="il-theme-gray orange il-size-xlarge">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic class="il-theme-orange harvest il-size-xlarge">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>

<il-statistic class="il-theme-blue blue il-size-xlarge">
<em slot="stat">#6</em> Overall ranking among undergraduate programs in the U.S.
<span slot="source">U.S. News and World 2021</span>
</il-statistic>