<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<script src="./statistic.component.js" type="module"></script>

<il-statistic>
    <em slot="stat">97%</em> of our 2020 graduates with teaching degrees
    plus licensure are employed in the field of education.
</il-statistic>

<script>
  function addClass(componentName) {
    const params = new URLSearchParams(window.location.search);
    if (params.has('class')) {
      const component = document.querySelector(componentName);
      params.forEach((value, key) => {
        if (key == 'class' && value !== '') {
          component.classList.add(value);
        }
      });
    }
  }

  addClass('il-statistic');
</script>